<div class="section @@sectionClass">
    <div class="container">

        <div class="row @@rowClass">
            <div class="col-xl-7 col-lg-10 col-12">
                <span class="bg-white px-3 py-2 text-dark">GETTING STARTED TO WORK</span>
                <h2 class="mb-3 mt-4">Take a look at All the layouts of LUNO</h2>
                <p class="lead">It helps you to increase your chances of finding a suitable job and let recruiters contact you about jobs that are not needed to pay for advertising.</p>
                <div class="mt-5">
                    <a href="https://themeforest.net/checkout/from_item/36214125?license=extended&amp;size=source&amp;ref=phpbits" class="btn lift btn-lg px-5 btn-light fs-6">Buy a License</a>
                    <a class="btn lift btn-lg px-5 bg-dark text-white fs-6" href="https://themeforest.net/item/luno-bootstrap-5-responsive-admin-dashboard-template/36214125">Download Now</a>
                </div>
            </div>
        </div> <!-- .row end -->

    </div>
</div>