<div class="section @@sectionClass">
    <div class="container-fluid">

        <div class="row @@rowClass">
            <div class="col-md-12 col-lg-6 px-3 px-lg-5 order-2 order-lg-1">
                <div class="subscribe float-end py-3" style="max-width: 70%;">
                    <h3 class="color-fff">@@sectionTitle</h3>
                    <span class="lead text-light">Get started by choosing from one of our pre-built page templates to showcase your properties</span>
                    <form>
                        <div class="form-floating my-3">
                            <input type="email" class="form-control" placeholder="Enter email address">
                            <label>Enter email address</label>
                        </div>
                        <button type="button" class="btn btn-lg btn-primary text-uppercase fs-6 rounded-pill px-5 shadow-sm">Subscribe Now!</button>
                    </form>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 call-img order-1 order-lg-2">
            </div>
        </div> <!-- .row end -->

    </div>
</div>