<div class="row @@rowClass">
    <div class="col-lg-6 col-12">
        <h3>@@sectionTitle</h3>
        <span class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</span>
    </div>
    <div class="col-lg-6 col-12 text-lg-end">
        <a class="btn btn-lg px-4 lift btn-primary" href="#"><i class="fa fa-apple me-2"></i>App Store</a>
        <a class="btn btn-lg px-4 lift btn-outline-primary" href="#"><i class="fa fa-android me-2"></i>Google Play</a>
    </div>
</div> <!-- .row end -->