<div class="row @@rowClass">
    <div class="col">
        <div class="card border-0 bg-transparent">
            <div class="card-body">
                <h2 class="bg-text fw-bold chart-text-color1">10+</h2>
                <h6 class="mb-0 text-uppercase text-muted">@@cardLabel1</h6>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-0 bg-transparent">
            <div class="card-body">
                <h2 class="bg-text fw-bold chart-text-color2">50+</h2>
                <h6 class="mb-0 text-uppercase text-muted">@@cardLabel2</h6>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-0 bg-transparent">
            <div class="card-body">
                <h2 class="bg-text fw-bold chart-text-color3">10+</h2>
                <h6 class="mb-0 text-uppercase text-muted">@@cardLabel3</h6>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-0 bg-transparent">
            <div class="card-body">
                <h2 class="bg-text fw-bold chart-text-color4">50+</h2>
                <h6 class="mb-0 text-uppercase text-muted">@@cardLabel4</h6>
            </div>
        </div>
    </div>
</div> <!-- .row end -->