<!DOCTYPE html>
<html lang="en">
<head>
    @@include('_head.html',{
        "pageTitle": "Server Metrics",
    })
</head>

<body class="layout-1" data-luno="theme-blue">

	<!-- start: sidebar -->
	@@include('sidebar/_sidebar-server.html', {"page": "metric"})

	<!-- start: body area -->
    <div class="wrapper">

		<!-- start: page header -->
		@@include('_page-header.html')

        <!-- start: page toolbar -->
        <div class="page-toolbar px-xl-4 px-sm-2 px-0 py-3">
            <div class="container-fluid">

                <div class="row g-3 mb-3 align-items-center">
                    <div class="col">
                        <ol class="breadcrumb bg-transparent mb-0">
                            <li class="breadcrumb-item"><a class="text-secondary" href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Metrics</li>
                        </ol>
                    </div>
                </div> <!-- .row end -->
                @@include('widgets/_page-stats.html')

            </div>
        </div>

        <!-- start: page body -->
        <div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-0 mt-lg-3">
            <div class="container-fluid">

                <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-cols-1 g-1 row-deck text-center">
                    <div class="col">
                        <div class="card py-0 py-lg-3">
                            <div class="card-body">
                                <div class="avatar lg rounded no-thumbnail ms-auto me-auto mb-3"><i class="fa fa-users fa-lg"></i></div>
                                <a href="#" class="h6 color-600 btn-link text-uppercase">Visitors</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card py-0 py-lg-3">
                            <div class="card-body">
                                <div class="avatar lg rounded no-thumbnail ms-auto me-auto mb-3 bg-light-danger text-danger"><i class="fa fa-warning fa-lg"></i></div>
                                <a href="#" class="h6 color-600 btn-link text-uppercase">Errors</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card py-0 py-lg-3">
                            <div class="card-body">
                                <div class="avatar lg rounded no-thumbnail ms-auto me-auto mb-3 bg-light-warning text-warning"><i class="fa fa-dashboard fa-lg"></i></div>
                                <a href="#" class="h6 color-600 btn-link text-uppercase">Bandwidth</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card py-0 py-lg-3">
                            <div class="card-body">
                                <div class="avatar lg rounded no-thumbnail ms-auto me-auto mb-3"><i class="fa fa-file-text fa-lg"></i></div>
                                <a href="#" class="h6 color-600 btn-link text-uppercase">Raw Access</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card py-0 py-lg-3">
                            <div class="card-body">
                                <div class="avatar lg rounded no-thumbnail ms-auto me-auto mb-3"><i class="fa fa-line-chart fa-lg"></i></div>
                                <a href="#" class="h6 color-600 btn-link text-uppercase">Awstats</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card py-0 py-lg-3">
                            <div class="card-body">
                                <div class="avatar lg rounded no-thumbnail ms-auto me-auto mb-3"><i class="fa fa-signal fa-lg"></i></div>
                                <a href="#" class="h6 color-600 btn-link text-uppercase">Webalizer</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card py-0 py-lg-3">
                            <div class="card-body">
                                <div class="avatar lg rounded no-thumbnail ms-auto me-auto mb-3 bg-light-success text-success"><i class="fa fa-signal fa-lg"></i></div>
                                <a href="#" class="h6 color-600 btn-link text-uppercase">Webalizer FTP</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card py-0 py-lg-3">
                            <div class="card-body">
                                <div class="avatar lg rounded no-thumbnail ms-auto me-auto mb-3"><i class="fa fa-asterisk fa-lg"></i></div>
                                <a href="#" class="h6 color-600 btn-link text-uppercase">Metrics Editor</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card py-0 py-lg-3">
                            <div class="card-body">
                                <div class="avatar lg rounded no-thumbnail ms-auto me-auto mb-3 bg-light-info text-info"><i class="fa fa-tag fa-lg"></i></div>
                                <a href="#" class="h6 color-600 btn-link text-uppercase">Resource Usage</a>
                            </div>
                        </div>
                    </div>
                </div> <!-- .row end -->

            </div>
        </div>

        <!-- start: page footer -->
		@@include('_page-footer.html')

    </div>

    <!-- Modal: Create project -->
	@@include('_modal-create-project.html')

	<!-- Modal: my notes -->
	@@include('_modal-my-notes.html')

	<!-- Modal: Schedule -->
	@@include('_modal-my-schedule.html')

	<!-- Modal: RecentChat -->
	@@include('_modal-recent-chat.html')

	<!-- Modal: Setting -->
	@@include('_modal-theme-setting.html')

<!-- Jquery Page Js -->
@@include('_scripts.html',{

})
</body>
</html>