<div class="title-text d-flex align-items-center mb-4 mt-1">
    <h4 class="sidebar-title mb-0 flex-grow-1"><span class="sm-txt">@@sidebarTitleLatter</span><span>@@sidebarTitle</span></h4>
    <div class="dropdown morphing scale-left">
        <a class="dropdown-toggle more-icon" href="#" role="button" data-bs-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
        <ul class="dropdown-menu shadow border-0 p-2 mt-2" data-bs-popper="none">
            <li class="fw-bold px-2">Quick Actions</li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="@@webRoot/landing/index.html" aria-current="page">Landing page</a></li>
            <li><a class="dropdown-item" href="@@webRoot/inventory/index.html">Inventory</a></li>
            <li><a class="dropdown-item" href="@@webRoot/ecommerce/index.html">eCommerce</a></li>
            <li><a class="dropdown-item" href="@@webRoot/hrms/index.html">HRMS</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="@@webRoot/account-invoices.html">Invoices List</a></li>
            <li><a class="dropdown-item" href="@@webRoot/account-create-invoices.html">Create Invoices</a></li>
        </ul>
    </div>
</div>