<div class="text-uppercase mb-3 pb-2 border-bottom">About <strong>Me</strong></div>
<div class="card bg-transparent border-0 mb-xl-4 mb-3">
    <div class="d-flex align-items-start mb-3">
        <div class="me-3">
            <img class="rounded img-thumbnail" src="@@webRoot/assets/img/xs/avatar1.jpg" alt="avatar lg" title="">
        </div>
        <div class="media-body">
            <h5 class="mb-1"><a href="@@webRoot/page-profile.html" title="">Allie Grater</a></h5>
            <span class="text-muted">Author</span>
            <div>
                <a class="pe-3" target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                <a class="pe-3" target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                <a class="pe-3" target="_blank" href="#"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div>
    <div>
        <p>The functional aspect comes first in the work process because it's the core of the object: What is its purpose? something else?</p>
        <a href="#" class="btn btn-lg btn-danger">Connect With Me</a>
    </div>
</div>
<div class="mb-4 rounded-4 overflow-hidden">
    <img src="@@webRoot/assets/img/ads-01.jpg" alt="" class="img-fluid" />
</div>
<div class="text-uppercase mb-3 pb-2 border-bottom"><strong>Cate</strong>gories</div>
<div class="card bg-transparent border-0 mb-xl-4 mb-3">
    <div class="d-flex flex-wrap tag-group">
        <a href="#" class="m-1 small tag py-1 px-3 border border-primary rounded lift">Family</a>
        <a href="#" class="m-1 small tag py-1 px-3 border border-primary rounded lift">Home</a>
        <a href="#" class="m-1 small tag py-1 px-3 border border-primary rounded lift bg-primary text-light">UI/UX Designer</a>
        <a href="#" class="m-1 small tag py-1 px-3 border border-primary rounded lift">ReactJs</a>
        <a href="#" class="m-1 small tag py-1 px-3 border border-primary rounded lift">Angular</a>
    </div>
</div>
<div class="text-uppercase mb-3 pb-2 border-bottom"><strong>Insta</strong>gram</div>
<div class="card bg-transparent border-0 mb-xl-4 mb-3">
    <div class="row g-1">
        <div class="col-4">
            <a class="fancybox rounded d-block" rel="ligthbox" href="@@webRoot/assets/img/gallery/1.jpg">
                <img class="img-fluid rounded" alt="" src="@@webRoot/assets/img/gallery/1.jpg" />
            </a>
        </div>
        <div class="col-4">
            <a class="fancybox rounded d-block" rel="ligthbox" href="@@webRoot/assets/img/gallery/2.jpg">
                <img class="img-fluid rounded" alt="" src="@@webRoot/assets/img/gallery/2.jpg" />
            </a>
        </div>
        <div class="col-4">
            <a class="fancybox rounded d-block" rel="ligthbox" href="@@webRoot/assets/img/gallery/3.jpg">
                <img class="img-fluid rounded" alt="" src="@@webRoot/assets/img/gallery/3.jpg" />
            </a>
        </div>
        <div class="col-4">
            <a class="fancybox rounded d-block" rel="ligthbox" href="@@webRoot/assets/img/gallery/4.jpg">
                <img class="img-fluid rounded" alt="" src="@@webRoot/assets/img/gallery/4.jpg" />
            </a>
        </div>
        <div class="col-4">
            <a class="fancybox rounded d-block" rel="ligthbox" href="@@webRoot/assets/img/gallery/5.jpg">
                <img class="img-fluid rounded" alt="" src="@@webRoot/assets/img/gallery/5.jpg" />
            </a>
        </div>
        <div class="col-4">
            <a class="fancybox rounded d-block" rel="ligthbox" href="@@webRoot/assets/img/gallery/6.jpg">
                <img class="img-fluid rounded" alt="" src="@@webRoot/assets/img/gallery/6.jpg" />
            </a>
        </div>
        <div class="col-4">
            <a class="fancybox rounded d-block" rel="ligthbox" href="@@webRoot/assets/img/gallery/7.jpg">
                <img class="img-fluid rounded" alt="" src="@@webRoot/assets/img/gallery/7.jpg" />
            </a>
        </div>
        <div class="col-4">
            <a class="fancybox rounded d-block" rel="ligthbox" href="@@webRoot/assets/img/gallery/8.jpg">
                <img class="img-fluid rounded" alt="" src="@@webRoot/assets/img/gallery/8.jpg" />
            </a>
        </div>
        <div class="col-4">
            <a class="fancybox rounded d-block" rel="ligthbox" href="@@webRoot/assets/img/gallery/9.jpg">
                <img class="img-fluid rounded" alt="" src="@@webRoot/assets/img/gallery/9.jpg" />
            </a>
        </div>
    </div>
</div>

<!-- Plugin Js -->
<script src="@@webRoot/assets/js/bundle/fancybox.bundle.js"></script>

<!-- Jquery Page Js -->
<script>
    /*	end gallery */
$(document).ready(function() {
    $(".fancybox").fancybox({
        openEffect: "none",
        closeEffect: "none"
    });
});
</script>