<div class="blog-detail-text me-xl-5">
    <h4 class="mb-3 fw-normal">Winners are recognized for outstanding app design, innovation, ingenuity, and technical achievement</h4>
    <p class="lead mb-5">Get Uniquely crafted Landing pages for <a class="luno-link dotted" href="#"><span data-content="15+ business niche">15+ business niche</span></a>, which covers almost all the major <a class="luno-link text_bg2" href="#">business</a> niche requirements. Single purchase of the <a class="luno-link fw-bold double" href="#"><span data-content="LUNO admin dashboard">LUNO admin dashboard</span></a> license gives access to all this beautiful landing pages.</p>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
    </div>
    <p class="lead mb-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p class="lead mb-5">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <h3>The Guitar Legends</h3>
    <p class="lead mb-3">On top of that, all the <a class="luno-link line-through" href="#"><span data-content="landing pages">landing pages</span></a> has different theme and <a class="luno-link dashed" href="#"><span data-content="color options">color options</span></a>, gives you freedom to adjust the design suitable to your brand.</p>
    <ul>
        <li class="fs-6 py-1">Lorem Ipsum has been the industry's standard dummy</li>
        <li class="fs-6 py-1">Many desktop publishing packages and web page editors now use Lorem</li>
        <li class="fs-6 py-1">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything</li>
        <li class="fs-6 py-1">Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
        <li class="fs-6 py-1">Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</li>
    </ul>
    <p class="lead mb-5">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop.</p>
    <p class="lead mb-5">Create beautiful apps faster with <a class="luno-link text_bg" href="../documentation/w-cards.html">LUNO widgets collection</a> of Card’s, Small card, Card List, Chart widget and Table option &amp; more...</p>
    <h3>Apple Design Award Winners: Apps</h3>
    <p class="lead mb-0">“Every year, app and game developers demonstrate exceptional craftsmanship and we’re honoring the best of the best,” said Ron Okamoto, Apple’s vice president of Worldwide Developer Relations. “Receiving an Apple Design Award is a special and laudable accomplishment. Past honorees have made some of the most noteworthy apps and games of all time. Through their vision, determination, and exacting standards, the winning developers inspire not only their peers in the Apple developer community, but all of us at Apple, too.”</p>
</div>