<div class="text-uppercase mb-3 pb-2 border-bottom"><strong>Latest</strong> posts</div>
<div class="card bg-transparent border-0 mb-xl-5 mb-4">
    <div class="row g-0 align-items-center">
        <div class="col-xl-4 col-lg-4 col-md-4">
            <img src="@@webRoot/assets/img/gallery/4.jpg" class="img-fluid rounded" alt="...">
        </div>
        <div class="col-xl-7 col-lg-8 col-md-8">
            <div class="ps-0 ps-md-4 pt-2 pt-md-0">
                <div class="mb-2"><a class="small fw-bold text-info text-uppercase" href="#">Design</a></div>
                <a href="#" class="h4 d-flex mb-md-3 mb-2 color-600">Helpful Tips for Working from Home as a Freelancer</a>
                <div class="small text-muted text-uppercase">
                    <span class="post-on">22 August</span>
                    <span class="mx-2 time-reading has-dot">45 mins read</span>
                    <span class="post-by has-dot">2k views</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card bg-transparent border-0 mb-xl-5 mb-4">
    <div class="row g-0 align-items-center">
        <div class="col-xl-4 col-lg-4 col-md-4">
            <img src="@@webRoot/assets/img/gallery/5.jpg" class="img-fluid rounded" alt="...">
        </div>
        <div class="col-xl-7 col-lg-8 col-md-8">
            <div class="ps-0 ps-md-4 pt-2 pt-md-0">
                <div class="mb-2"><a class="small fw-bold text-danger text-uppercase" href="#">FASHION.</a></div>
                <a href="#" class="h4 d-flex mb-md-3 mb-2 color-600">Contrary to popular belief, Lorem Ipsum is not simply random text</a>
                <div class="small text-muted text-uppercase">
                    <span class="post-on">21 August</span>
                    <span class="mx-2 time-reading has-dot">45 mins read</span>
                    <span class="post-by has-dot">2k views</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card bg-transparent border-0 mb-xl-5 mb-4">
    <div class="row g-0 align-items-center">
        <div class="col-xl-4 col-lg-4 col-md-4">
            <img src="@@webRoot/assets/img/gallery/6.jpg" class="img-fluid rounded" alt="...">
        </div>
        <div class="col-xl-7 col-lg-8 col-md-8">
            <div class="ps-0 ps-md-4 pt-2 pt-md-0">
                <div class="mb-2"><a class="small fw-bold text-info text-uppercase" href="#">Design</a></div>
                <a href="#" class="h4 d-flex mb-md-3 mb-2 color-600">There are many variations of passages of Lorem Ipsum available</a>
                <div class="small text-muted text-uppercase">
                    <span class="post-on">15 August</span>
                    <span class="mx-2 time-reading has-dot">45 mins read</span>
                    <span class="post-by has-dot">2k views</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card bg-transparent border-0 mb-xl-5 mb-4">
    <div class="row g-0 align-items-center">
        <div class="col-xl-4 col-lg-4 col-md-4">
            <img src="@@webRoot/assets/img/gallery/7.jpg" class="img-fluid rounded" alt="...">
        </div>
        <div class="col-xl-7 col-lg-8 col-md-8">
            <div class="ps-0 ps-md-4 pt-2 pt-md-0">
                <div class="mb-2"><a class="small fw-bold text-info text-uppercase" href="#">Design</a></div>
                <a href="#" class="h4 d-flex mb-md-3 mb-2 color-600">It is a long established fact that a reader will be distracted</a>
                <div class="small text-muted text-uppercase">
                    <span class="post-on">11 August</span>
                    <span class="mx-2 time-reading has-dot">45 mins read</span>
                    <span class="post-by has-dot">2k views</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card bg-transparent border-0 mb-xl-5 mb-4">
    <div class="row g-0 align-items-center">
        <div class="col-xl-4 col-lg-4 col-md-4">
            <img src="@@webRoot/assets/img/gallery/9.jpg" class="img-fluid rounded" alt="...">
        </div>
        <div class="col-xl-7 col-lg-8 col-md-8">
            <div class="ps-0 ps-md-4 pt-2 pt-md-0">
                <div class="mb-2"><a class="small fw-bold text-info text-uppercase" href="#">Design</a></div>
                <a href="#" class="h4 d-flex mb-md-3 mb-2 color-600">It is a long established fact that a reader will be distracted</a>
                <div class="small text-muted text-uppercase">
                    <span class="post-on">11 August</span>
                    <span class="mx-2 time-reading has-dot">45 mins read</span>
                    <span class="post-by has-dot">2k views</span>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="mt-3">
    <ul class="pagination">
        <li class="page-item">
            <span class="page-link">Previous</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
            <span class="page-link">2</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>