<div class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators justify-content-start">
        <button type="button" data-bs-target="#blog_slider" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#blog_slider" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#blog_slider" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="thumb-overlay carousel-item active" style="height: 500px;">
            <img src="@@webRoot/assets/img/gallery/1.jpg" class="d-block w-100" alt="...">
            <div class="content-overlay carousel-caption d-none d-md-block text-start">
                <span class="bg-primary text-light px-1 small text-uppercase rounded mb-3 d-inline-flex">Design</span>
                <a href="blog-detail.html" class="h3 d-flex text-white">Beachmaster Elephant Seal Fights off Rival Male, The match is uncompromising</a>
                <span class="text-muted">20 minutes ago</span>
                <span class="text-muted px-3">|</span>
                <span class="text-muted">3k Views</span>
            </div>
        </div>
        <div class="thumb-overlay carousel-item" style="height: 500px;">
            <img src="@@webRoot/assets/img/gallery/2.jpg" class="d-block w-100" alt="...">
            <div class="content-overlay carousel-caption d-none d-md-block text-start">
                <span class="bg-danger text-light px-1 small text-uppercase rounded mb-3 d-inline-flex">Angular</span>
                <a href="blog-detail.html" class="h3 d-flex text-white">This genius photo experiment shows we are all just sheeple in the consumer matrix</a>
                <span class="text-muted">30 minutes ago</span>
                <span class="text-muted px-3">|</span>
                <span class="text-muted">8k Views</span>
            </div>
        </div>
        <div class="thumb-overlay carousel-item" style="height: 500px;">
            <img src="@@webRoot/assets/img/gallery/3.jpg" class="d-block w-100" alt="...">
            <div class="content-overlay carousel-caption d-none d-md-block text-start">
                <span class="bg-secondary text-light px-1 small text-uppercase rounded mb-3 d-inline-flex">Marketing</span>
                <a href="blog-detail.html" class="h3 d-flex text-white">Beachmaster Elephant Seal Fights off Rival Male, The match is uncompromising</a>
                <span class="text-muted">45 minutes ago</span>
                <span class="text-muted px-3">|</span>
                <span class="text-muted">53k Views</span>
            </div>
        </div>
    </div>
</div>