<div class="user-comment mt-3">
    <div class="py-2">
        <a class="me-lg-4 me-2 text-primary" href="#"><i class="fa fa-thumbs-up"></i> Like (105)</a>
        <a class="me-lg-4 me-2 text-primary" href="#"><i class="fa fa-comment"></i> Comment (2)</a>
        <a class="me-lg-4 me-2 text-primary" href="#"><i class="fa fa-share"></i> Share (6)</a>
    </div>
    <div>
        <div class="d-flex mt-3 pt-3 border-top">
            <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar2.jpg" alt="">
            <div class="flex-fill ms-3">
                <p class="lead mb-0">Rose Rivera</p>
                <p class="text-muted small">Nov 23, 2021 at 12:23 pm</p>
                <span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
            </div>
        </div>
        <div class="d-flex mt-3 pt-3 border-top">
            <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar3.jpg" alt="">
            <div class="flex-fill ms-3">
                <p class="lead mb-0">Robert Hammer</p>
                <p class="text-muted small">Nov 24, 2021 at 11:38 pm</p>
                <span>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</span>
            </div>
        </div>
    </div>
</div>
<div class="form-comment mt-5">
    <div class="row g-2">
        <div class="col-12">
            <h3>Post a comment</h3>
            <span class="text-muted">Your email address will not be published. Required fields are marked *</span>
        </div>
        <div class="col-md-4 col-12">
            <div class="form-floating">
                <input type="text" class="form-control" placeholder="Your Name">
                <label>Your Name</label>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="form-floating">
                <input type="email" class="form-control" placeholder="Your Email">
                <label>Your Email</label>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="form-floating">
                <input type="url" class="form-control" placeholder="Your Website">
                <label>Your Website</label>
            </div>
        </div>
        <div class="col-12">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" style="height: 100px"></textarea>
                <label>Leave a comment here</label>
            </div>
        </div>
        <div class="col-lg-12 py-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Save my name, email, and website in this browser for the next time I comment.
                </label>
            </div>
        </div>
        <div class="col-lg-12">
            <button class="btn btn-lg btn-primary">Post Comment</button>
        </div>
    </div>
</div>