<div class="row mb-3">
    <div class="col-6">
        <h5 class="mb-0 color-400">Trending Topics</h5>
    </div>
    <div class="col-6 text-end">
        <a class="" href="#">See All Topics</a>
    </div>
</div>
<div class="row row-cols-xxl-6 cols-xl-3 row-cols-lg-3 row-cols-md-3 row-cols-sm-2 row-cols-2 g-1 row-deck">
    <div class="col">
        <a href="#" class="card thumb-overlay text-center overflow-hidden lift">
            <img class="card-img" src="@@webRoot/assets/img/gallery/1.jpg" alt="img hover">
            <div class="card-img-overlay content-overlay d-flex align-items-end justify-content-center">
                <h6 class="mb-0 text-white">Sports & Fitness</h6>
            </div>
        </a>    
    </div>
    <div class="col">
        <a href="#" class="card thumb-overlay text-center overflow-hidden lift">
            <img class="card-img" src="@@webRoot/assets/img/gallery/2.jpg" alt="img hover">
            <div class="card-img-overlay content-overlay d-flex align-items-end justify-content-center">
                <h6 class="mb-0 text-white">Travel</h6>
            </div>
        </a>    
    </div>
    <div class="col">
        <a href="#" class="card thumb-overlay text-center overflow-hidden lift">
            <img class="card-img" src="@@webRoot/assets/img/gallery/3.jpg" alt="img hover">
            <div class="card-img-overlay content-overlay d-flex align-items-end justify-content-center">
                <h6 class="mb-0 text-white">lifestyle</h6>
            </div>
        </a>    
    </div>
    <div class="col">
        <a href="#" class="card thumb-overlay text-center overflow-hidden lift">
            <img class="card-img" src="@@webRoot/assets/img/gallery/4.jpg" alt="img hover">
            <div class="card-img-overlay content-overlay d-flex align-items-end justify-content-center">
                <h6 class="mb-0 text-white">Health</h6>
            </div>
        </a>    
    </div>
    <div class="col">
        <a href="#" class="card thumb-overlay text-center overflow-hidden lift">
            <img class="card-img" src="@@webRoot/assets/img/gallery/5.jpg" alt="img hover">
            <div class="card-img-overlay content-overlay d-flex align-items-end justify-content-center">
                <h6 class="mb-0 text-white">Animals</h6>
            </div>
        </a>    
    </div>
    <div class="col">
        <a href="#" class="card thumb-overlay text-center overflow-hidden lift">
            <img class="card-img" src="@@webRoot/assets/img/gallery/6.jpg" alt="img hover">
            <div class="card-img-overlay content-overlay d-flex align-items-end justify-content-center">
                <h6 class="mb-0 text-white">Food & Drink</h6>
            </div>
        </a>    
    </div>
</div>