<div class="dropdown morphing scale-left">
    <a href="#" class="card-fullscreen" data-bs-toggle="tooltip" title="Card Full-Screen"><i class="icon-size-fullscreen"></i></a>
    <a href="#" class="more-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
    <ul class="dropdown-menu shadow border-0 p-2">
        <li><a class="dropdown-item" href="#">File Info</a></li>
        <li><a class="dropdown-item" href="#">Copy to</a></li>
        <li><a class="dropdown-item" href="#">Move to</a></li>
        <li><a class="dropdown-item" href="#">Rename</a></li>
        <li><a class="dropdown-item" href="#">Block</a></li>
        <li><a class="dropdown-item" href="#">Delete</a></li>
    </ul>
</div>