<div class="card @@cardClass">
    <div class="card-header pb-0">
        <h6 class="card-title mb-0">Followers</h6>
        <!-- widgest: Card more action icon -->
        @@include('widgets/_card-action.html')
    </div>
    <div class="card-body">
        <ul class="list-unstyled custom_scroll mb-0">
            <li class="card p-3 my-1 flex-row">
                <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar1.jpg" alt="">
                <div class="flex-fill ms-3">
                    <div class="h6 mb-0">Chris Fox</div>
                    <span class="text-muted small">21 mutual connections</span>
                </div>
            </li>
            <li class="card p-3 my-1 flex-row">
                <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar2.jpg" alt="">
                <div class="flex-fill ms-3">
                    <div class="h6 mb-0">Marshall Nichols</div>
                    <span class="text-muted small">5 mutual connections</span>
                </div>
            </li>
            <li class="card p-3 my-1 flex-row">
                <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar3.jpg" alt="">
                <div class="flex-fill ms-3">
                    <div class="h6 mb-0">Orlando Lentz</div>
                    <span class="text-muted small">9 mutual connections</span>
                </div>
            </li>
            <li class="card p-3 my-1 flex-row">
                <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar4.jpg" alt="">
                <div class="flex-fill ms-3">
                    <div class="h6 mb-0">Alexander</div>
                    <span class="text-muted small">18 mutual connections</span>
                </div>
            </li>
        </ul>
    </div>
</div>