<div class="card @@cardClass">
    <div class="card-header">
        <h6 class="card-title mb-0">Agents Progress Reports</h6>
        @@include('widgets/_card-action.html')
    </div>
    <div class="card-body">
        <div>
            <span class="text-muted d-block">Yearly Income</span>
            <h4>$22,652.35</h4>
        </div>
        <ul class="list-unstyled">
            <li class="py-2 mb-2">
                <div class="d-flex justify-content-between">
                    <span class="text-uppercase">New York</span>
                    <span class="text-muted">89K</span>
                </div>
                <div class="progress mt-1" style="height: 3px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 89%;" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            <li class="py-2 mb-2">
                <div class="d-flex justify-content-between">
                    <span class="text-uppercase">Vatican City</span>
                    <span class="text-muted">76K</span>
                </div>
                <div class="progress mt-1" style="height: 3px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 76%;" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            <li class="py-2 mb-2">
                <div class="d-flex justify-content-between">
                    <span class="text-uppercase">Sydney</span>
                    <span class="text-muted">52K</span>
                </div>
                <div class="progress mt-1" style="height: 3px;">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 52%;" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            <li class="py-2 mb-2">
                <div class="d-flex justify-content-between">
                    <span class="text-uppercase">New Delhi</span>
                    <span class="text-muted">46K</span>
                </div>
                <div class="progress mt-1" style="height: 3px;">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 46%;" aria-valuenow="46" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
            <li class="py-2 mb-2">
                <div class="d-flex justify-content-between">
                    <span class="text-uppercase">Manila</span>
                    <span class="text-muted">34K</span>
                </div>
                <div class="progress mt-1" style="height: 3px;">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 34%;" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
        </ul>
    </div>
</div>