<div class="card @@cardClass">
    <div class="card-header pb-0">
        <h6 class="card-title mb-0">Labels</h6>
        <!-- widgest: Card more action icon -->
        @@include('widgets/_card-action.html')
    </div>
    <div class="card-body">
        <div class="d-flex flex-wrap tag-group mt-3">
            <a href="#" class="m-1 small tag py-1 px-3 border rounded">Family</a>
            <a href="#" class="m-1 small tag py-1 px-3 border border-primary rounded">Home</a>
            <a href="#" class="m-1 small tag py-1 px-3 border border-primary bg-primary text-light rounded">UI/UX Designer</a>
            <a href="#" class="m-1 small tag py-1 px-3 border rounded">ReactJs</a>
            <a href="#" class="m-1 small tag py-1 px-3 border rounded">Angular</a>
        </div>
    </div>
</div>