<div class="card @@cardClass">
    <div class="card-header">
        <h6 class="card-title mb-0">Transactions</h6>
        <a href="#" title="">View All</a>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-custom list-group-flush mb-0">
            <li class="list-group-item d-flex align-items-center">
                <div class="avatar rounded no-thumbnail chart-text-color1"><i class="fa fa-bank"></i></div>
                <div class="flex-fill ms-3">
                    <div class="h6 mb-0">Wallet</div>
                    <small class="text-muted">Starbucks</small>
                </div>
                <div class="flex-end">
                    <strong class="text-danger">-$74 </strong>
                </div>
            </li>
            <li class="list-group-item d-flex align-items-center">
                <div class="avatar rounded no-thumbnail chart-text-color2"><i class="fa fa-check"></i></div>
                <div class="flex-fill ms-3">
                    <div class="h6 mb-0">Bank Transfer</div>
                    <small class="text-muted">Add Money</small>
                </div>
                <div class="flex-end">
                    <strong class="text-success">$1074 </strong>
                </div>
            </li>
            <li class="list-group-item d-flex align-items-center">
                <div class="avatar rounded no-thumbnail chart-text-color3"><i class="fa fa-cc-mastercard"></i></div>
                <div class="flex-fill ms-3">
                    <div class="h6 mb-0">Mastercard</div>
                    <small class="text-muted">Ordered Food</small>
                </div>
                <div class="flex-end">
                    <strong class="text-success">$94 </strong>
                </div>
            </li>
            <li class="list-group-item d-flex align-items-center">
                <div class="avatar rounded no-thumbnail chart-text-color4"><i class="fa fa-paypal"></i></div>
                <div class="flex-fill ms-3">
                    <div class="h6 mb-0">Paypal</div>
                    <small class="text-muted">Add Money</small>
                </div>
                <div class="flex-end">
                    <strong class="text-success">$740.50 </strong>
                </div>
            </li>
        </ul>
    </div>
</div>