<a href="#" class="dropdown-toggle more-icon" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
<ul class="dropdown-menu shadow border-0 dropdown-animation">
    <li class="fw-bold">Quick Actions</li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Edit Group<i class="fa fa-arrow-right"></i></a></li>
    <li><a class="dropdown-item" href="#">Add Contact<i class="fa fa-arrow-right"></i></a></li>
    <li><a class="dropdown-item" href="#">Share Group<i class="fa fa-arrow-right"></i></a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Group Info<i class="fa fa-arrow-right"></i></a></li>
    <li><a class="dropdown-item" href="#">Rename<i class="fa fa-arrow-right"></i></a></li>
    <li><a class="dropdown-item" href="#">Delete Group<i class="fa fa-arrow-right"></i></a></li>
</ul>