<div class="card">
    <div class="card-header">
        <h6 class="card-title mb-0">Recent Files</h6>
        <a href="#" title="">View All</a>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-custom list-group-flush mb-0">
            <li class="list-group-item">
                <div class="d-flex align-items-center">
                    <div class="avatar rounded no-thumbnail"><i class="fa fa-file-pdf-o text-danger"></i></div>
                    <div class="flex-fill ms-3 text-truncate">
                        <p class="mb-0 color-800">Annual Sales Report 2018-19</p>
                        <small class="text-muted">.pdf, 5.3 MB</small>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex align-items-center">
                    <div class="avatar rounded no-thumbnail"><i class="fa fa-file-excel-o text-success"></i></div>
                    <div class="flex-fill ms-3 text-truncate">
                        <p class="mb-0 color-800">Complete Product Sheet</p>
                        <small class="text-muted">.xls, 2.1 MB</small>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex align-items-center">
                    <div class="avatar rounded no-thumbnail"><i class="fa fa-file-word-o text-info"></i></div>
                    <div class="flex-fill ms-3 text-truncate">
                        <p class="mb-0 color-800">Marketing Guidelines</p>
                        <small class="text-muted">.doc, 2.3 MB</small>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex align-items-center">
                    <div class="avatar rounded no-thumbnail"><i class="fa fa-file-zip-o"></i></div>
                    <div class="flex-fill ms-3 text-truncate">
                        <p class="mb-0 color-800">Brand Photography</p>
                        <small class="text-muted">.zip, 30.5 MB</small>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>