<div class="card @@cardClass">
    <div class="card-header">
        <h6 class="card-title mb-0">Nominee status</h6>
        @@include('widgets/_card-action.html')
    </div>
    <ul class="list-unstyled submit-track">
        <li class="is-complete">
            <span class="badge date">AUG 14</span>
            <div class="circle"><i class="fa fa-check"></i></div>
            <div class="box-title">
                Submitted
            </div>
        </li>
        <li class="is-complete">
            <span class="badge date">AUG 18</span>
            <div class="circle"><i class="fa fa-check"></i></div>
            <div class="box-title d-flex justify-content-between align-items-center">
                Approved
                <a class="fa fa-info-circle text-muted" href="#"></a>
            </div>
            <ul class="list-unstyled">
                <li>
                    <div class="circle"></div>
                    <a href="#">Download your Nominee ribbon</a>
                    <p class="mb-0">Promote your site.</p>
                </li>
            </ul>
        </li>
        <li class="is-complete">
            <span class="badge date">AUG 19</span>
            <div class="circle"><i class="fa fa-check"></i></div>
            <div class="box-title d-flex justify-content-between align-items-center">
                Voting started
                <a class="fa fa-info-circle text-muted" href="#"></a>
            </div>
        </li>
        <li class="is-complete">
            <span class="badge date">AUG 26</span>
            <div class="circle"><i class="fa fa-check"></i></div>
            <div class="box-title d-flex justify-content-between align-items-center">
                Performance report created
                <a class="fa fa-info-circle text-muted" href="#"></a>
            </div>
            <ul class="list-unstyled">
                <li>
                    <div class="circle"></div>
                    <a href="#">See your report here </a>
                </li>
            </ul>
        </li>
        <li class="is-complete">
            <span class="badge date">AUG 27</span>
            <div class="circle"><i class="fa fa-check"></i></div>
            <div class="box-title d-flex justify-content-between align-items-center">
                Voting finished
                <a class="fa fa-info-circle text-muted" href="#"></a>
            </div>
        </li>
        <li class="is-complete">
            <span class="badge date">AUG 28</span>
            <div class="circle"><i class="fa fa-check"></i></div>
            <div class="box-title d-flex justify-content-between align-items-center">
                Finished
                <a class="fa fa-info-circle text-muted" href="#"></a>
            </div>
        </li>
    </ul>
</div>