<div class="main-search px-3 flex-fill">
    <input class="form-control" type="text" placeholder="Enter your search key word">
    <div class="card shadow rounded-4 search-result slidedown">
        <div class="card-body">
            <small class="text-uppercase text-muted">Recent searches</small>
            <div class="d-flex flex-wrap align-items-start mt-2 mb-4">
                <a class="small rounded py-1 px-2 m-1 fw-normal bg-primary text-white" href="#">HRMS Admin</a>
                <a class="small rounded py-1 px-2 m-1 fw-normal bg-secondary text-white" href="#">Hospital Admin</a>
                <a class="small rounded py-1 px-2 m-1 fw-normal bg-info text-white" href="@@webRoot/app-project.html">Project</a>
                <a class="small rounded py-1 px-2 m-1 fw-normal bg-dark text-white" href="@@webRoot/app-social.html">Social App</a>
                <a class="small rounded py-1 px-2 m-1 fw-normal bg-danger text-white" href="#">University Admin</a>
            </div>
            <small class="text-uppercase text-muted">Suggestions</small>
            <div class="card list-group list-group-flush list-group-custom mt-2">
                <a class="list-group-item list-group-item-action text-truncate" href="@@webRoot//docs/doc-helperclass.html">
                    <div class="fw-bold">Helper Class</div>
                    <small class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                </a>
                <a class="list-group-item list-group-item-action text-truncate" href="@@webRoot//docs/element-daterange.html">
                    <div class="fw-bold">Date Range Picker</div>
                    <small class="text-muted">There are many variations of passages of Lorem Ipsum available</small>
                </a>
                <a class="list-group-item list-group-item-action text-truncate" href="@@webRoot//docs/element-imageinput.html">
                    <div class="fw-bold">Image Input</div>
                    <small class="text-muted">It is a long established fact that a reader will be distracted</small>
                </a>
                <a class="list-group-item list-group-item-action text-truncate" href="@@webRoot//docs/plugin-table.html">
                    <div class="fw-bold">DataTables for jQuery</div>
                    <small class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                </a>
                <a class="list-group-item list-group-item-action text-truncate" href="@@webRoot//docs/doc-setup.html">
                    <div class="fw-bold">Development Setup</div>
                    <small class="text-muted">Contrary to popular belief, Lorem Ipsum is not simply random text.</small>
                </a>
            </div>
        </div>
    </div>
</div>