<div class="card">
    <div class="card-body">
        <h6 class="pb-2 mb-4 border-bottom">Need a support?</h6>
        <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label class="form-label">Enter description</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <button class="btn btn-outline-primary lift">Send Support</button>
    </div>
</div>