<div class="section @@cardClass">
    <div class="container">

        <div class="row @@RowcardClass">
            <div class="col-lg-4 col-md-12">
                <h2 class="@@SectionTitleClass">@@SectionTitle</h2>
                <p class="@@SectionSubTitleClass">@@SectionSubTitle</p>
                <a class="btn btn-lg px-5 bg-secondary text-white text-uppercase" href="#" title="">Become a partner.</a>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="row @@RowcardClass">
                    <div class="col-lg-4 col-md-3 col-sm-6">
                        <div class="card bg-body border-0">
                            <a class="card-body" href="#">
                                <img class="img-fluid" src="@@webRoot/assets/img/sponsors/3docean-center.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-6">
                        <div class="card bg-body border-0">
                            <a class="card-body" href="#">
                                <img class="img-fluid" src="@@webRoot/assets/img/sponsors/audiojungle-center.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-6">
                        <div class="card bg-body border-0">
                            <a class="card-body" href="#">
                                <img class="img-fluid" src="@@webRoot/assets/img/sponsors/codecanyon-center.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-6">
                        <div class="card bg-body border-0">
                            <a class="card-body" href="#">
                                <img class="img-fluid" src="@@webRoot/assets/img/sponsors/graphicriver-center.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-6">
                        <div class="card bg-body border-0">
                            <a class="card-body" href="#">
                                <img class="img-fluid" src="@@webRoot/assets/img/sponsors/themeforest-center.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-6">
                        <div class="card bg-body border-0">
                            <a class="card-body" href="#">
                                <img class="img-fluid" src="@@webRoot/assets/img/sponsors/3docean-center.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div> <!-- .row end -->
            </div>
        </div> <!-- .row end -->
        
    </div>
</div>