<div class="section @@cardClass">
    <div class="container">

        <div class="row @@RowcardClass">
            <div class="col-lg-4 col-md-12">
                <h2 class="@@SectionTitleClass">@@SectionTitle</h2>
            </div>
            <div class="col-lg-8 col-md-12">
                <p class="@@SectionSubTitleClass">@@SectionSubTitle</p>
            </div>
        </div> <!-- .row end -->

        <div class="row @@RowcardClass">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <a class="card-body" href="#">
                        <img class="img-fluid" src="@@webRoot/assets/img/sponsors/3docean-center.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <a class="card-body" href="#">
                        <img class="img-fluid" src="@@webRoot/assets/img/sponsors/audiojungle-center.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <a class="card-body" href="#">
                        <img class="img-fluid" src="@@webRoot/assets/img/sponsors/codecanyon-center.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <a class="card-body" href="#">
                        <img class="img-fluid" src="@@webRoot/assets/img/sponsors/graphicriver-center.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <a class="card-body" href="#">
                        <img class="img-fluid" src="@@webRoot/assets/img/sponsors/themeforest-center.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <a class="card-body" href="#">
                        <img class="img-fluid" src="@@webRoot/assets/img/sponsors/3docean-center.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <a class="card-body" href="#">
                        <img class="img-fluid" src="@@webRoot/assets/img/sponsors/videohive-center.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <a class="card-body" href="#">
                        <img class="img-fluid" src="@@webRoot/assets/img/sponsors/3docean-center.png" alt="" />
                    </a>
                </div>
            </div>
        </div> <!-- .row end -->

    </div>
</div>