<!-- Body: Body -->
<div class="body">

    <!-- auth: Header -->
    <nav class="navbar navbar-expand-lg bg-transparent py-3 border-bottom">
        <div class="container">
            <a class="navbar-brand fw-bold fs-3 me-lg-5 text-primary" href="#">LUNO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-6">
                    <li class="nav-item"><a class="nav-link text-muted" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-muted" href="#">About US</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Services
                        </a>
                        <ul class="dropdown-menu dropdown-animation shadow border-0">
                            <li><a class="dropdown-item" href="#">Web Design <i class="fa fa-arrow-right"></i></a></li>
                            <li><a class="dropdown-item" href="#">App Design <i class="fa fa-arrow-right"></i></a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Web Development <i class="fa fa-arrow-right"></i></a></li>
                            <li><a class="dropdown-item" href="#">App Development <i class="fa fa-arrow-right"></i></a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <a class="nav-link text-muted collapsed me-3" data-bs-toggle="collapse" data-bs-target="#main-search" href="#" title="Search" aria-expanded="false">
                        <i class="fa fa-search"></i>
                    </a>
                    <button class="btn btn-dark px-4" type="submit">SignUp</button>
                </form>
            </div>
        </div>
    </nav>

    <!-- Search: div -->
    <div class="border-bottom collapse bg-primary" id="main-search">
        <div class="container py-4">

            <div class="input-group">
                <input type="text" class="form-control border-0 p-0 bg-transparent" placeholder="Search. Components, Layouts, etc...">

                <div class="input-group-append ms-3">
                    <button class="btn btn-light" type="submit">Search</button>
                </div>
            </div>

        </div>
    </div>
    
    <!-- auth: Body -->
    <div class="body d-flex justify-content-center my-md-5 py-md-5 py-4">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-10 col-md-12">
                    <div class="pb-4 mb-xl-4 text-center">
                        <h1 class="h2 fw-bold">Sign in to your Account</h1>
                        <p class="lead">Free access to our dashboard.</p>
                    </div>
                    <div class="row g-3 mb-4">
                        <div class="col-lg-5 col-md-5">
                            <form class="row g-2">
                                <div class="col-md-12 col-sm-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" placeholder="Email address">
                                        <label>Email address</label>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-6">
                                    <div class="form-floating">
                                        <input type="password" class="form-control" placeholder="Password">
                                        <label>Password</label>
                                    </div>
                                </div>
                                <div class="col-12 d-grid">
                                    <button type="submit" class="btn btn-lg bg-primary-gradient text-uppercase border-0 d-flex justify-content-between align-items-center">
                                        Sigin to your Account
                                        <i class="fa fa-arrow-right"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-2 col-md-2 d-md-flex align-items-center justify-content-center text-center">
                            <span class="fs-6">OR</span>
                        </div>
                        <div class="col-lg-5 col-md-5">
                            <div class="row g-2 d-grid">
                                <a class="col-12 text-start btn btn-lg btn-light-secondary fs-6" href="#">
                                    <i class="fa fa-google me-2"></i>
                                    Sign in with Google
                                </a>
                                <a class="col-12 text-start btn btn-lg btn-light-secondary fs-6" href="#">
                                    <i class="fa fa-facebook me-2"></i>
                                    Sign in with Facebook
                                </a>
                                <a class="col-12 text-start btn btn-lg btn-light-secondary fs-6" href="#">
                                    <i class="fa fa-apple me-2"></i>
                                    Sign in with Apple Account
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="py-4 text-center">
                        <a class="color-400 h6 text-decoration-underline" href="#">Forgot Password?</a>
                    </div>
                </div>
            </div> <!-- End Row -->
            
        </div>
    </div>

    <!-- auth: footer -->
    <footer class="py-4 border-top fixed-bottom">
        <div class="container">

            <div class="row justify-content-between align-items-center">
                <div class="col">
                    <p class="mb-0">© LUNO. <span class="d-none d-sm-inline-block">2022 ThemeMakker.</span></p>
                </div>
                <div class="col-auto">
                    <div class="d-flex justify-content-end">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item"><a class="list-separator-link" href="https://www.thememakker.com/about/">About</a></li>
                            <li class="list-inline-item"><a class="list-separator-link" href="https://www.thememakker.com/hire-us/">Hire us</a></li>
                            <li class="list-inline-item"><a class="list-separator-link" href="https://www.thememakker.com/all-templates/">Template</a></li>
                            <li class="list-inline-item"><a class="list-separator-link" href="https://themeforest.net/licenses/standard" target="_blank">License</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    
</div>