<div class="row @@cardClass">
    <div class="col-12 mb-4">
        <span class="bg-dark px-2 py-1 color-fff">@@SectionTag</span>
        <h3 class="mb-1 mt-4 color-900">@@SectionTitle</h3>
        <p class="lead">There are many variations of passages of the majority have suffered alteration.</p>
    </div>
    <div class="col-xl-8 col-lg-12">
        <form class="row g-3 me-xl-5 me-0">
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="enter your name">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                    <input type="email" class="form-control" placeholder="Please enter your email">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa fa-pencil-square-o"></i></span>
                    <input type="email" class="form-control" placeholder="Please enter your Subject">
                </div>
            </div>
            <div class="col-sm-12">
                <textarea class="form-control" rows="4"></textarea>
            </div>
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary text-uppercase px-4 lift">Send Message</button>
            </div>
        </form>
    </div>
    <div class="col-xl-4 col-lg-12">
        <ul class="resume-box p-0">
            <li>
                <div class="icon text-center">
                    <i class="fa fa-map-marker"></i>
                </div>
                <div class="fw-bold mb-0">Address</div>
                <span>795 Folsom Ave, Suite 600 San Francisco, 94107</span>
            </li>
            <li>
                <div class="icon text-center">
                    <i class="fa fa-mobile"></i>
                </div>
                <div class="fw-bold mb-0">Mobile</div>
                <span>+ 202-555-2828</span>
            </li>
            <li>
                <div class="icon text-center">
                    <i class="fa fa-envelope"></i>
                </div>
                <div class="fw-bold mb-0">Email Address</div>
                <span>HosseinShams@gmail.com</span>
            </li>
        </ul>
    </div>
</div><!-- .row end -->