<div class="row @@rowClass">
    <div class="col-12">
        <span class="bg-dark px-2 py-1 color-fff">@@SectionTag</span>
        <h3 class="mb-1 mt-4 color-900">@@SectionTitle</h3>
        <p class="lead">There are many variations of passages of the majority have suffered alteration.</p>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="form-floating">
            <input type="text" class="form-control" placeholder="Your Name">
            <label>Your Name</label>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="form-floating">
            <input type="email" class="form-control" placeholder="Your email">
            <label>Your email</label>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="form-floating">
            <input type="tel" class="form-control" placeholder="Your Phone">
            <label>Your Phone</label>
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating">
            <textarea class="form-control" placeholder="Message (Optional)" style="height: 160px"></textarea>
            <label>Message (Optional)</label>
        </div>
    </div>
    <div class="col-12 mt-3">
        <button type="submit" class="btn btn-lg btn-primary text-uppercase fs-6">Send</button>
    </div>
</div><!-- .row end -->