<div class="row @@cardClass">
    <div class="col-12 mb-4">
        <span class="bg-dark px-2 py-1 color-fff">@@SectionTag</span>
        <h3 class="mb-1 mt-4 color-900">@@SectionTitle</h3>
        <p class="lead">There are many variations of passages of the majority have suffered alteration.</p>
    </div>
    <div class="col-xl-4 col-lg-12">
        <ul class="resume-box p-0">
            <li>
                <div class="icon text-center">
                    <i class="fa fa-map-marker"></i>
                </div>
                <div class="fw-bold mb-0">Address</div>
                <span>795 Folsom Ave, Suite 600 San Francisco, 94107</span>
            </li>
            <li>
                <div class="icon text-center">
                    <i class="fa fa-mobile"></i>
                </div>
                <div class="fw-bold mb-0">Mobile</div>
                <span>+ 202-555-2828</span>
            </li>
            <li>
                <div class="icon text-center">
                    <i class="fa fa-envelope"></i>
                </div>
                <div class="fw-bold mb-0">Email Address</div>
                <span>HosseinShams@gmail.com</span>
            </li>
        </ul>
    </div>
    <div class="col-xl-8 col-lg-12">
        <form class="row g-2">
            <div class="col-md-4 col-sm-6">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Your Name">
                    <label>Your Name</label>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-floating">
                    <input type="email" class="form-control" placeholder="Your Email">
                    <label>Your email</label>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-floating">
                    <input type="number" class="form-control" placeholder="Your Number">
                    <label>Your Number</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Message (Optional)" style="height: 160px" spellcheck="false"></textarea>
                    <label>Message (Optional)</label>
                </div>
            </div>
            <div class="col-12 mt-3">
                <button type="submit" class="btn btn-lg btn-primary fs-6 text-uppercase px-5">Submit</button>
            </div>
        </form>
    </div>
</div><!-- .row end -->