<span class="fieldset-tile text-muted bg-body">Notifications Settings</span>
<div class="card">
    <div class="card-body table-responsive">
        <table class="table card-table mb-0">
            <tbody>
                <tr>
                    <td class="text-muted">Email Notifications</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="n_email1" checked>
                            <label class="form-check-label" for="n_email1">Email</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="n_phone1" checked>
                            <label class="form-check-label" for="n_phone1">Phone</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-muted">Billing Updates</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="n_email2">
                            <label class="form-check-label" for="n_email2">Email</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="n_phone2">
                            <label class="form-check-label" for="n_phone2">Phone</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-muted">New Team Members</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="n_email3">
                            <label class="form-check-label" for="n_email3">Email</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="n_phone3">
                            <label class="form-check-label" for="n_phone3">Phone</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-muted">Projects Complete</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="n_email4">
                            <label class="form-check-label" for="n_email4">Email</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="n_phone4" checked>
                            <label class="form-check-label" for="n_phone4">Phone</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-muted">Newsletters</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="n_email5">
                            <label class="form-check-label" for="n_email5">Email</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="n_phone5" checked>
                            <label class="form-check-label" for="n_phone5">Phone</label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-end">
        <button class="btn btn-lg btn-light me-2" type="reset">Discard</button>
        <button class="btn btn-lg btn-primary" type="submit">Save Changes</button>
    </div>
</div>