<span class="fieldset-tile text-muted bg-body">Change Password</span>
<div class="card">
    <div class="card-body">
        <div class="row g-3">
            <div class="col-lg-4 col-md-12">
                <div class="form-group">
                    <input type="text" class="form-control" value="louispierce" disabled="" placeholder="Username">
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="form-group">
                    <input type="email" class="form-control" value="louis.info@yourdomain.com" placeholder="Email">
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="Phone Number">
                </div>
            </div>
            <div class="col-12">
                <h6 class="border-top pt-2 mt-2 mb-3">Change Password</h6>
                <div class="mb-3">
                    <input type="password" class="form-control form-control-lg" placeholder="Current Password">
                </div>
                <div class="mb-1">
                    <input type="password" class="form-control form-control-lg" placeholder="New Password">
                </div>
                <div>
                    <input type="password" class="form-control form-control-lg" placeholder="Confirm New Password">
                    <span class="text-muted small">Minimum 8 characters</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-end">
        <button class="btn btn-lg btn-light me-2" type="reset">Discard</button>
        <button class="btn btn-lg btn-primary" type="submit">Save Changes</button>
    </div>
</div>