<span class="fieldset-tile text-muted bg-body">Social Profiles</span>
<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <label class="form-label">Twitter</label>
            <input type="text" class="form-control form-control-lg">
            <button class="btn btn-info my-1" type="submit"><i class="fa fa-twitter me-2"></i>Connect to Twitter</button>
            <div class="small text-muted">One-click sign in</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Facebook</label>
            <input type="text" class="form-control form-control-lg">
        </div>
        <div class="mb-3">
            <label class="form-label">Behance</label>
            <input type="text" class="form-control form-control-lg">
        </div>
        <div>
            <label class="form-label">LinkedIn</label>
            <input type="text" class="form-control form-control-lg">
        </div>
    </div>
    <div class="card-footer text-end">
        <button class="btn btn-lg btn-light me-2" type="reset">Discard</button>
        <button class="btn btn-lg btn-primary" type="submit">Update Social Profiles</button>
    </div>
</div>