<div class="card fieldset border border-muted">
    <span class="fieldset-tile text-muted bg-body">All Invoices:</span>
    <table id="invoice_list" class="table card-table align-middle mb-0">
        <thead>
            <tr>
                <th>
                    <div class="form-check" style="font-size: 16px;">
                        <input class="form-check-input select-all" type="checkbox" value="">
                    </div>
                </th>
                <th>Invoice</th>
                <th>Name</th>
                <th>Total</th>
                <th>Date</th>
                <th>Due Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="row-selectable">
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                    </div>
                </td>
                <td>
                    #RA0011
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="@@webRoot/assets/img/xs/avatar1.jpg" class="rounded-circle sm avatar" alt="">
                        <div class="ms-2 mb-0">Andew Jon</div>
                    </div>
                </td>
                <td class="fw-bold">USD 12,820</td>
                <td>Jan 16 2022</td>
                <td>Jan 20 2022</td>
                <td>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="modal" data-bs-target="#invoice_send"><i class="fa fa-envelope"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="modal" data-bs-target="#invoice_detail"><i class="fa fa-download"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            <tr class="row-selectable">
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                    </div>
                </td>
                <td>
                    #RA0012
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="@@webRoot/assets/img/xs/avatar2.jpg" class="rounded-circle sm avatar" alt="">
                        <div class="ms-2 mb-0">Orlando Lentz</div>
                    </div>
                </td>
                <td class="fw-bold">USD 2,000</td>
                <td>Jan 15 2022</td>
                <td>Jan 15 2022</td>
                <td>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="modal" data-bs-target="#invoice_send"><i class="fa fa-envelope"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="modal" data-bs-target="#invoice_detail"><i class="fa fa-download"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            <tr class="row-selectable">
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                    </div>
                </td>
                <td>
                    #RA0025
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="@@webRoot/assets/img/xs/avatar3.jpg" class="rounded-circle sm avatar" alt="">
                        <div class="ms-2 mb-0">Marshall Nichols</div>
                    </div>
                </td>
                <td class="fw-bold">USD 8,000</td>
                <td>Jan 10 2022</td>
                <td>Jan 12 2022</td>
                <td>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="modal" data-bs-target="#invoice_send"><i class="fa fa-envelope"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="modal" data-bs-target="#invoice_detail"><i class="fa fa-download"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            <tr class="row-selectable">
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                    </div>
                </td>
                <td>
                    #RA0023
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="@@webRoot/assets/img/xs/avatar4.jpg" class="rounded-circle sm avatar" alt="">
                        <div class="ms-2 mb-0">Nellie Maxwell</div>
                    </div>
                </td>
                <td class="fw-bold">USD 3,500</td>
                <td>Jan 07 2022</td>
                <td>Jan 08 2022</td>
                <td>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="modal" data-bs-target="#invoice_send"><i class="fa fa-envelope"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="modal" data-bs-target="#invoice_detail"><i class="fa fa-download"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            <tr class="row-selectable">
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                    </div>
                </td>
                <td>
                    #RA0026
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="@@webRoot/assets/img/xs/avatar5.jpg" class="rounded-circle sm avatar" alt="">
                        <div class="ms-2 mb-0">Marshall Nichols</div>
                    </div>
                </td>
                <td class="fw-bold">USD 250</td>
                <td>Jan 06 2022</td>
                <td>Jan 06 2022</td>
                <td>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="modal" data-bs-target="#invoice_send"><i class="fa fa-envelope"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="modal" data-bs-target="#invoice_detail"><i class="fa fa-download"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            <tr class="row-selectable">
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                    </div>
                </td>
                <td>
                    #RA0065
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="@@webRoot/assets/img/xs/avatar6.jpg" class="rounded-circle sm avatar" alt="">
                        <div class="ms-2 mb-0">Issa Bell</div>
                    </div>
                </td>
                <td class="fw-bold">USD 9,150</td>
                <td>Jan 03 2022</td>
                <td>Jan 05 2022</td>
                <td>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="modal" data-bs-target="#invoice_send"><i class="fa fa-envelope"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="modal" data-bs-target="#invoice_detail"><i class="fa fa-download"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            <tr class="row-selectable">
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                    </div>
                </td>
                <td>
                    #RA0015
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="@@webRoot/assets/img/xs/avatar7.jpg" class="rounded-circle sm avatar" alt="">
                        <div class="ms-2 mb-0">Dean Otto</div>
                    </div>
                </td>
                <td class="fw-bold">USD 5,000</td>
                <td>Jan 03 2022</td>
                <td>Jan 05 2022</td>
                <td>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="modal" data-bs-target="#invoice_send"><i class="fa fa-envelope"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="modal" data-bs-target="#invoice_detail"><i class="fa fa-download"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            <tr class="row-selectable">
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                    </div>
                </td>
                <td>
                    #RA0029
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="@@webRoot/assets/img/xs/avatar8.jpg" class="rounded-circle sm avatar" alt="">
                        <div class="ms-2 mb-0">Comeren Diaz</div>
                    </div>
                </td>
                <td class="fw-bold">USD 2,050</td>
                <td>Jan 03 2022</td>
                <td>Jan 05 2022</td>
                <td>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="modal" data-bs-target="#invoice_send"><i class="fa fa-envelope"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="modal" data-bs-target="#invoice_detail"><i class="fa fa-download"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            <tr class="row-selectable">
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                    </div>
                </td>
                <td>
                    #RA0028
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="@@webRoot/assets/img/xs/avatar9.jpg" class="rounded-circle sm avatar" alt="">
                        <div class="ms-2 mb-0">Chris Fox</div>
                    </div>
                </td>
                <td class="fw-bold">USD 2,000</td>
                <td>Jan 03 2022</td>
                <td>Jan 05 2022</td>
                <td>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="modal" data-bs-target="#invoice_send"><i class="fa fa-envelope"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="modal" data-bs-target="#invoice_detail"><i class="fa fa-download"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            <tr class="row-selectable">
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                    </div>
                </td>
                <td>
                    #RA0035
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="@@webRoot/assets/img/xs/avatar10.jpg" class="rounded-circle sm avatar" alt="">
                        <div class="ms-2 mb-0">Bucky Barnes</div>
                    </div>
                </td>
                <td class="fw-bold">USD 1,100</td>
                <td>Feb 03 2022</td>
                <td>Feb 05 2022</td>
                <td>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="modal" data-bs-target="#invoice_send"><i class="fa fa-envelope"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="modal" data-bs-target="#invoice_detail"><i class="fa fa-download"></i></button>
                    <button type="button" class="btn btn-link btn-sm color-400" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Plugin Js -->
<script src="@@webRoot/assets/js/bundle/dataTables.bundle.js"></script>

<!-- Jquery Page Js -->
<script>

    $(document).ready(function () {
		$('#invoice_list')
		.addClass( 'nowrap' )
		.dataTable( {
			responsive: true,
			searching: false,
			paging: false,
			ordering: true,
			info: false,
		});

		$('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
			$($.fn.dataTable.tables(true)).DataTable()
			.columns.adjust()
			.responsive.recalc();
		});    
	});

</script>