<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body border-bottom">
                <div class="d-flex align-items-md-start align-items-center flex-column flex-md-row">
                    <img src="@@webRoot/assets/img/profile_av.png" alt="" class="rounded-4">
                    <div class="media-body ms-md-5 m-0 mt-4 mt-md-0 text-md-start text-center">
                        <h4 class="mb-1 fw-light">Allie Grater<a href="#" class="fa fa-pencil-square-o fs-6 ms-2" data-bs-toggle="offcanvas" data-bs-target="#edit_profile" title="Edit Profile"></a></h4>
                        <p>alliegrater@luno.com</p>
                        <span class="text-muted">It is a long established fact that a reader will be distracted by the readable<br> content of a page when looking at its layout.</span>
                        <div class="d-flex flex-row flex-wrap align-items-center justify-content-center justify-content-md-start">
                            <div class="card py-2 px-3 me-2 mt-2">
                                <small class="text-muted">Total Earnings</small>
                                <div class="fs-5">$10,705</div>
                            </div>
                            <div class="card py-2 px-3 me-2 mt-2">
                                <small class="text-muted">Awards</small>
                                <div class="fs-5">45</div>
                            </div>
                            <div class="card py-2 px-3 me-2 mt-2">
                                <small class="text-muted">Experience</small>
                                <div class="fs-5">8+</div>
                            </div>
                            <div class="card py-2 px-3 me-2 mt-2">
                                <small class="text-muted">City</small>
                                <div class="fs-5">New york</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs tab-card border-bottom-0 pt-2 fs-6 justify-content-center justify-content-md-start" role="tablist">
                <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#profile_post" role="tab"><span>Overview</span></a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#profile_groups" role="tab"><i class="fa fa-address-card-o"></i><span class="d-none d-sm-inline-block ms-2">Groups</span></a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#profile_project" role="tab"><i class="fa fa-list-alt"></i><span class="d-none d-sm-inline-block ms-2">Projects</span></a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#profile_campaigns" role="tab" id="tab_profile_campaigns"><i class="fa fa-area-chart"></i><span class="d-none d-md-inline-block ms-2">Campaigns</span></a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#profile_activity" role="tab"><i class="fa fa-font"></i><span class="d-none d-md-inline-block ms-2">Activity</span></a></li>
            </ul>
        </div>
        <div class="tab-content mt-5">
            <!-- Tab: Overview -->
            <div class="tab-pane fade show active" id="profile_post" role="tabpanel">
                <div class="row-title mb-2">
                    <h5>Profile Overview</h5>
                </div>
                <div class="row g-3">
                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h6 class="card-title mb-3">Personal Information</h6>
                                <p class="card-text text-muted">Hi I'm Allie Grater, Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>
                                <ul class="list-unstyled mb-0">
                                    <li class="py-2"><span class="text-muted me-2 w90 d-inline-block">Full Name:</span>Allie Grater</li>
                                    <li class="py-2"><span class="text-muted me-2 w90 d-inline-block">E-mail:</span>alliegrater@luno.com</li>
                                    <li class="py-2"><span class="text-muted me-2 w90 d-inline-block">Phone:</span>+01 (741) 852 123</li>
                                    <li class="py-2"><span class="text-muted me-2 w90 d-inline-block">Location:</span>California, USA</li>
                                    <li class="py-2"><span class="text-muted me-2 w90 d-inline-block">Website:</span>http://website.com</li>
                                    <li class="py-2"><span class="text-muted me-2 w90 d-inline-block">Social:</span>
                                        <a href="#" class="py-1 px-2"><i class="fa fa-globe"></i></a>
                                        <a href="#" class="py-1 px-2"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h6 class="card-title mb-3">Skills Information</h6>
                                <p class="text-muted">Augue mauris dignissim arcu, ut venenatis metus ante eu orci. Donec non maximus neque, ut finibus ex. <a href="#">Read more</a></p>
                                <div class="d-flex justify-content-between">
                                    <small class="text-uppercase">BOOTSTRAP:</small>
                                    <small class="text-muted">95</small>
                                </div>
                                <div class="progress mt-1 mb-3" style="height: 3px;">
                                    <div class="progress-bar chart-color1" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <small class="text-uppercase">HTML5:</small>
                                    <small class="text-muted">77</small>
                                </div>
                                <div class="progress mt-1 mb-3" style="height: 3px;">
                                    <div class="progress-bar chart-color2" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%;"></div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <small class="text-uppercase">JQUERY:</small>
                                    <small class="text-muted">66</small>
                                </div>
                                <div class="progress mt-1 mb-3" style="height: 3px;">
                                    <div class="progress-bar chart-color3" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%;"></div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <small class="text-uppercase">RESPONSIVE:</small>
                                    <small class="text-muted">80</small>
                                </div>
                                <div class="progress mt-1 mb-3" style="height: 3px;">
                                    <div class="progress-bar chart-color4" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <small class="text-uppercase">CSS3:</small>
                                    <small class="text-muted">85</small>
                                </div>
                                <div class="progress mt-1 mb-0" style="height: 3px;">
                                    <div class="progress-bar chart-color5" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-8 col-lg-8 col-md-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <textarea class="form-control" placeholder="Post" rows="4"></textarea>
                                <div class="pt-3">
                                    <a href="#" class="px-3"><i class="fa fa-camera"></i></a>
                                    <a href="#" class="px-3"><i class="fa fa-video-camera"></i></a>
                                    <a href="#" class="px-3"><i class="fa fa-music"></i></a>
                                    <button class="btn btn-primary float-end">Post</button>
                                </div>
                            </div>
                        </div> <!-- .Card End -->
                        <ul class="list-unstyled">
                            <!-- start: post -->
                            <li class="card mb-2">
                                <div class="card-header pb-0">
                                    <div class="d-flex">
                                        <img class="avatar rounded-circle" src="@@webRoot/assets/img/profile_av.png" alt="">
                                        <div class="flex-fill ms-3 text-truncate">
                                            <h6 class="mb-0">
                                                <span class="author">Allie Grater</span>
                                                <small class="text-muted">posted a status</small>
                                            </h6>
                                            <small class="text-muted">1 hours ago</small>
                                        </div>
                                    </div>
                                    <div class="dropdown morphing scale-left">
                                        <a href="#" class="more-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                                        <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow border-0">
                                            <li class="fw-bold mb-2">Quick Actions</li>
                                            <li><a class="dropdown-item" href="#">Save post<i class="fa fa-arrow-right"></i></a></li>
                                            <li><a class="dropdown-item" href="#">Hide post <i class="fa fa-arrow-right"></i></a></li>
                                            <li><a class="dropdown-item" href="#">Snooze 30 days<i class="fa fa-arrow-right"></i></a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="#">Turn on notifications<i class="fa fa-arrow-right"></i></a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="#">Report post<i class="fa fa-arrow-right"></i></a></li>
                                            <li><a class="dropdown-item" href="#">Edit post<i class="fa fa-arrow-right"></i></a></li>
                                            <li><a class="dropdown-item" href="#">Delete post<i class="fa fa-arrow-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="post-detail">
                                        <p class="lead">Hampden-Sydney College in Virginia, looked up one of the more obscure</p>
                                        <p class="lead">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock.</p>
                                        <div class="mb-2 post-tag">
                                            <a href="#" title="" class="me-2">#Design</a><a href="#" title="" class="me-2">#HTML</a><a href="#" title="" class="me-2">#ThemeMakker</a>
                                        </div>
                                        <a class="fancybox img-fluid" rel="ligthbox" href="@@webRoot/assets/img/gallery/11.jpg">
                                            <img class="img-fluid rounded-4" alt="" src="@@webRoot/assets/img/gallery/11.jpg" />
                                        </a>
                                    </div>
                                    <div class="post-action">
                                        <div class="mb-2 mt-4">
                                            <a class="me-lg-4 me-2 text-primary" href="#"><i class="fa fa-thumbs-up"></i> Like (105)</a>
                                            <a class="me-lg-4 me-2 text-primary" href="#"><i class="fa fa-comment"></i> Comment (2)</a>
                                            <a class="me-lg-4 me-2 text-primary" href="#"><i class="fa fa-share"></i> Share (6)</a>
                                        </div>
                                        <div class="card d-flex flex-row p-3 mt-1">
                                            <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar2.jpg" alt="">
                                            <div class="flex-fill ms-3">
                                                <div class="d-flex justify-content-between">
                                                    <span class="h6 mb-1 author">Rose Rivera</span>
                                                    <small class="text-muted msg-time">1 hour ago</small>
                                                </div>
                                                <span class="text-muted">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
                                            </div>
                                        </div>
                                        <div class="card d-flex flex-row p-3 mt-1">
                                            <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar3.jpg" alt="">
                                            <div class="flex-fill ms-3">
                                                <div class="d-flex justify-content-between">
                                                    <span class="h6 mb-1 author">Robert Hammer</span>
                                                    <small class="text-muted msg-time">1 hour ago</small>
                                                </div>
                                                <span class="text-muted">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing</span>
                                            </div>
                                        </div>
                                        <textarea class="form-control mt-3" placeholder="Replay"></textarea>
                                    </div>
                                </div>
                            </li>
                            <!-- start: post -->
                            <li class="card mb-2">
                                <div class="card-header pb-0">
                                    <div class="d-flex">
                                        <img class="avatar rounded-circle" src="@@webRoot/assets/img/profile_av.png" alt="">
                                        <div class="flex-fill ms-3 text-truncate">
                                            <h6 class="mb-0">
                                                <span class="author">Allie Grater</span>
                                                <small class="text-muted">posted a status</small>
                                            </h6>
                                            <small class="text-muted">4 hours ago</small>
                                        </div>
                                    </div>
                                    <div class="dropdown morphing scale-left">
                                        <a href="#" class="more-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                                        <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow border-0">
                                            <li class="fw-bold mb-2">Quick Actions</li>
                                            <li><a class="dropdown-item" href="#">Save post<i class="fa fa-arrow-right"></i></a></li>
                                            <li><a class="dropdown-item" href="#">Hide post <i class="fa fa-arrow-right"></i></a></li>
                                            <li><a class="dropdown-item" href="#">Snooze 30 days<i class="fa fa-arrow-right"></i></a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="#">Turn on notifications<i class="fa fa-arrow-right"></i></a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="#">Report post<i class="fa fa-arrow-right"></i></a></li>
                                            <li><a class="dropdown-item" href="#">Edit post<i class="fa fa-arrow-right"></i></a></li>
                                            <li><a class="dropdown-item" href="#">Delete post<i class="fa fa-arrow-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="post-detail">
                                        <p class="lead">Need a website designer for an online virtual football league, lmk if interested</p>
                                        <div class="mb-2 post-tag">
                                            <a href="#" title="" class="me-2">#Figma</a><a href="#" title="" class="me-2">#HTML</a><a href="#" title="" class="me-2">#SCSS</a>
                                        </div>
                                    </div>
                                    <div class="post-action">
                                        <div class="mb-2 mt-4">
                                            <a class="me-lg-4 me-2 text-primary" href="#"><i class="fa fa-thumbs-up"></i> Like (0)</a>
                                            <a class="me-lg-4 me-2 text-primary" href="#"><i class="fa fa-comment"></i> Comment (0)</a>
                                            <a class="me-lg-4 me-2 text-primary" href="#"><i class="fa fa-share"></i> Share (0)</a>
                                        </div>
                                        <textarea class="form-control mt-3" placeholder="Replay"></textarea>
                                    </div>
                                </div>
                            </li>
                            <!-- start: post -->
                            <li class="card mb-2">
                                <div class="card-header pb-0">
                                    <div class="d-flex">
                                        <img class="avatar rounded-circle" src="@@webRoot/assets/img/profile_av.png" alt="">
                                        <div class="flex-fill ms-3 text-truncate">
                                            <h6 class="mb-0">
                                                <span class="author">Allie Grater</span>
                                                <small class="text-muted">posted a status</small>
                                            </h6>
                                            <small class="text-muted">3 hours ago</small>
                                        </div>
                                    </div>
                                    <div class="dropdown morphing scale-left">
                                        <a href="#" class="more-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                                        <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow border-0">
                                            <li class="fw-bold mb-2">Quick Actions</li>
                                            <li><a class="dropdown-item" href="#">Save post<i class="fa fa-arrow-right"></i></a></li>
                                            <li><a class="dropdown-item" href="#">Hide post <i class="fa fa-arrow-right"></i></a></li>
                                            <li><a class="dropdown-item" href="#">Snooze 30 days<i class="fa fa-arrow-right"></i></a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="#">Turn on notifications<i class="fa fa-arrow-right"></i></a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="#">Report post<i class="fa fa-arrow-right"></i></a></li>
                                            <li><a class="dropdown-item" href="#">Edit post<i class="fa fa-arrow-right"></i></a></li>
                                            <li><a class="dropdown-item" href="#">Delete post<i class="fa fa-arrow-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="post-detail">
                                        <p class="lead">Let's exchange our gigs</p>
                                        <ul class="lead mb-3">
                                            <li>Open My Gig</li>
                                            <li>Swap Gig Images</li>
                                            <li>Save My Gig</li>
                                            <li>Then send me ss and I will do same promise</li>
                                        </ul>
                                        <div class="mb-2 post-tag">
                                            <a href="#" title="" class="me-2">#Design</a><a href="#" title="" class="me-2">#HTML</a><a href="#" title="" class="me-2">#ThemeMakker</a>
                                        </div>
                                    </div>
                                    <div class="post-action">
                                        <div class="mb-2 mt-4">
                                            <a class="me-lg-4 me-2 text-primary" href="#"><i class="fa fa-thumbs-up"></i> Like (78)</a>
                                            <a class="me-lg-4 me-2 text-primary" href="#"><i class="fa fa-comment"></i> Comment (3)</a>
                                            <a class="me-lg-4 me-2 text-primary" href="#"><i class="fa fa-share"></i> Share (15)</a>
                                        </div>
                                        <div class="card d-flex flex-row p-3 mt-1">
                                            <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar2.jpg" alt="">
                                            <div class="flex-fill ms-3">
                                                <div class="d-flex justify-content-between">
                                                    <span class="h6 mb-1 author">Rose Rivera</span>
                                                    <small class="text-muted msg-time">3 hour ago</small>
                                                </div>
                                                <span class="text-muted">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators</span>
                                                <div class="card d-flex flex-row p-3 mb-1 mt-3">
                                                    <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar7.jpg" alt="">
                                                    <div class="flex-fill ms-3">
                                                        <div class="d-flex justify-content-between">
                                                            <span class="h6 mb-1 author">Andew Jon</span>
                                                            <small class="text-muted msg-time">1 hour ago</small>
                                                        </div>
                                                        <span class="text-muted">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card d-flex flex-row p-3 mt-1">
                                            <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar3.jpg" alt="">
                                            <div class="flex-fill ms-3">
                                                <div class="d-flex justify-content-between">
                                                    <span class="h6 mb-1 author">Robert Hammer</span>
                                                    <small class="text-muted msg-time">1 hour ago</small>
                                                </div>
                                                <span class="text-muted">Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words</span>
                                            </div>
                                        </div>
                                        <textarea class="form-control mt-3" placeholder="Replay"></textarea>
                                    </div>
                                </div>
                            </li>
                            <!-- start: post -->
                            <li class="card mb-2">
                                <div class="card-header pb-0">
                                    <div class="d-flex">
                                        <img class="avatar rounded-circle" src="@@webRoot/assets/img/profile_av.png" alt="">
                                        <div class="flex-fill ms-3 text-truncate">
                                            <h6 class="mb-0">
                                                <span class="author">Allie Grater</span>
                                                <small class="text-muted">posted a status</small>
                                            </h6>
                                            <small class="text-muted">6 hours ago</small>
                                        </div>
                                    </div>
                                    <div class="dropdown morphing scale-left">
                                        <a href="#" class="more-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                                        <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow border-0">
                                            <li class="fw-bold mb-2">Quick Actions</li>
                                            <li><a class="dropdown-item" href="#">Save post<i class="fa fa-arrow-right"></i></a></li>
                                            <li><a class="dropdown-item" href="#">Hide post <i class="fa fa-arrow-right"></i></a></li>
                                            <li><a class="dropdown-item" href="#">Snooze 30 days<i class="fa fa-arrow-right"></i></a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="#">Turn on notifications<i class="fa fa-arrow-right"></i></a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="#">Report post<i class="fa fa-arrow-right"></i></a></li>
                                            <li><a class="dropdown-item" href="#">Edit post<i class="fa fa-arrow-right"></i></a></li>
                                            <li><a class="dropdown-item" href="#">Delete post<i class="fa fa-arrow-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="post-detail">
                                        <p class="lead">I need a website developer designer and React, Angular, Laravel asap</p>
                                        <div class="mb-2 post-tag">
                                            <a href="#" title="" class="me-2">#ReactJs</a><a href="#" title="" class="me-2">#Laravel</a><a href="#" title="" class="me-2">#ThemeMakker</a><a href="#" title="" class="me-2">#Angular</a>
                                        </div>
                                        <a class="fancybox img-fluid" rel="ligthbox" href="@@webRoot/assets/img/gallery/10.jpg">
                                            <img class="img-fluid rounded-4 w120" alt="" src="@@webRoot/assets/img/gallery/10.jpg" />
                                        </a>
                                        <a class="fancybox img-fluid" rel="ligthbox" href="@@webRoot/assets/img/gallery/12.jpg">
                                            <img class="img-fluid rounded-4 w120" alt="" src="@@webRoot/assets/img/gallery/12.jpg" />
                                        </a>
                                        <a class="fancybox img-fluid" rel="ligthbox" href="@@webRoot/assets/img/gallery/13.jpg">
                                            <img class="img-fluid rounded-4 w120" alt="" src="@@webRoot/assets/img/gallery/13.jpg" />
                                        </a>
                                    </div>
                                    <div class="post-action">
                                        <div class="mb-2 mt-4">
                                            <a class="me-lg-4 me-2 text-primary" href="#"><i class="fa fa-thumbs-up"></i> Like (105)</a>
                                            <a class="me-lg-4 me-2 text-primary" href="#"><i class="fa fa-comment"></i> Comment (2)</a>
                                            <a class="me-lg-4 me-2 text-primary" href="#"><i class="fa fa-share"></i> Share (6)</a>
                                        </div>
                                        <div class="card d-flex flex-row p-3 mt-1">
                                            <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar2.jpg" alt="">
                                            <div class="flex-fill ms-3">
                                                <div class="d-flex justify-content-between">
                                                    <span class="h6 mb-1 author">Rose Rivera</span>
                                                    <small class="text-muted msg-time">1 hour ago</small>
                                                </div>
                                                <span class="text-muted">Yes available</span>
                                            </div>
                                        </div>
                                        <div class="card d-flex flex-row p-3 mt-1">
                                            <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar3.jpg" alt="">
                                            <div class="flex-fill ms-3">
                                                <div class="d-flex justify-content-between">
                                                    <span class="h6 mb-1 author">Robert Hammer</span>
                                                    <small class="text-muted msg-time">1 hour ago</small>
                                                </div>
                                                <span class="text-muted">Intrested</span>
                                            </div>
                                        </div>
                                        <textarea class="form-control mt-3" placeholder="Replay"></textarea>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xxl-3 col-xl-12 col-lg-12 col-md-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h6 class="card-title mb-0">Categories</h6>
                            </div>
                            <ul class="list-group list-group-flush list-group-custom">
                                <li class="list-group-item px-4"><a class="d-flex justify-content-between" href="#">Web Design <span>78</span></a></li>
                                <li class="list-group-item px-4"><a class="d-flex justify-content-between" href="#">ReactJs <span>23</span></a></li>
                                <li class="list-group-item px-4"><a class="d-flex justify-content-between" href="#">Music <span>12</span></a></li>
                                <li class="list-group-item px-4"><a class="d-flex justify-content-between" href="#">Trending <span>41</span></a></li>
                                <li class="list-group-item px-4"><a class="d-flex justify-content-between" href="#">Newest Blog <span>8</span></a></li>
                            </ul>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h6 class="card-title mb-3">Average Agent Rating</h6>
                                <h3>4.4/<small class="fs-6">5</small></h3>
                                <button class="btn btn-sm btn-warning rounded-circle"><i class="fa fa-star"></i></button>
                                <button class="btn btn-sm btn-warning rounded-circle"><i class="fa fa-star"></i></button>
                                <button class="btn btn-sm btn-warning rounded-circle"><i class="fa fa-star"></i></button>
                                <button class="btn btn-sm btn-warning rounded-circle"><i class="fa fa-star"></i></button>
                                <button class="btn btn-sm btn-warning rounded-circle"><i class="fa fa-star-half-empty"></i></button>
                            </div>
                        </div>
                        @@include('widgets/_card-latest-photos.html')
                    </div>
                </div> <!-- Row end  -->
            </div>
            <!-- Tab: Groups -->
            <div class="tab-pane fade" id="profile_groups" role="tabpanel">
                <div class="row-title mb-2">
                    <h5>Groups</h5>
                    <div>
                        <div class="input-group">
                            <select class="form-select">
                                <option selected>Choose...</option>
                                <option value="1">Designer</option>
                                <option value="2">Developer</option>
                                <option value="3">Office</option>
                                <option value="4">Friends</option>
                                <option value="5">Management</option>
                                <option value="6">Colleagues</option>
                            </select>
                            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#Create_Group">Create Group</button>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-xxl-5 row-cols-xl-4 row-cols-lg-4 row-cols-lg-3 row-cols-sm-2 row-cols-1 g-3 row-deck">
                    <div class="col">
                        <div class="card text-center overflow-visible">
                            <div class="dropdown morphing scale-left position-absolute top-0 end-0 mt-2 me-2">
                                @@include('widgets/_card-ellipsis-group.html')
                            </div>
                            <div class="card-body d-flex align-items-center justify-content-between flex-column">
                                <div class="me-auto ms-auto py-4">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar1.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar2.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar3.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar4.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar5.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                </div>
                                <div class="mt-2">
                                    <h6 class="mb-0">Out Sourcing</h6>
                                    <small class="text-muted">16 Contacts</small>
                                </div>
                            </div>
                        </div> <!-- .Card End -->
                    </div>
                    <div class="col">
                        <div class="card text-center overflow-visible">
                            <div class="dropdown morphing scale-left position-absolute top-0 end-0 mt-2 me-2">
                                @@include('widgets/_card-ellipsis-group.html')
                            </div>                                            
                            <div class="card-body d-flex align-items-center justify-content-between flex-column">
                                <div class="me-auto ms-auto py-4">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar6.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar7.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar8.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                </div>
                                <div class="mt-2">
                                    <h6 class="mb-0">Management</h6>
                                    <small class="text-muted">11 Contacts</small>
                                </div>
                            </div>
                        </div> <!-- .Card End -->
                    </div>
                    <div class="col">
                        <div class="card text-center overflow-visible">
                            <div class="dropdown morphing scale-left position-absolute top-0 end-0 mt-2 me-2">
                                @@include('widgets/_card-ellipsis-group.html')
                            </div>                                            
                            <div class="card-body d-flex align-items-center justify-content-between flex-column">
                                <div class="me-auto ms-auto py-4">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar10.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar9.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar3.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar2.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar5.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                </div>
                                <div class="mt-2">
                                    <h6 class="mb-0">Sold Properties</h6>
                                    <small class="text-muted">106 Contacts</small>
                                </div>
                            </div>
                        </div> <!-- .Card End -->
                    </div>
                    <div class="col">
                        <div class="card text-center overflow-visible">
                            <div class="dropdown morphing scale-left position-absolute top-0 end-0 mt-2 me-2">
                                @@include('widgets/_card-ellipsis-group.html')
                            </div>                                            
                            <div class="card-body d-flex align-items-center justify-content-between flex-column">
                                <div class="me-auto ms-auto py-4">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar1.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                    <div class="avatar rounded-circle m-1 lift d-inline-flex no-thumbnail">RH</div>
                                </div>
                                <div class="mt-2">
                                    <h6 class="mb-0">San Fransisco</h6>
                                    <small class="text-muted">126 Contacts</small>
                                </div>
                            </div>
                        </div> <!-- .Card End -->
                    </div>
                    <div class="col">
                        <div class="card text-center overflow-visible">
                            <div class="dropdown morphing scale-left position-absolute top-0 end-0 mt-2 me-2">
                                @@include('widgets/_card-ellipsis-group.html')
                            </div>                                            
                            <div class="card-body d-flex align-items-center justify-content-between flex-column">
                                <div class="me-auto ms-auto py-4">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar6.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar7.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar8.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar1.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                </div>
                                <div class="mt-2">
                                    <h6 class="mb-0">Los Angeles</h6>
                                    <small class="text-muted">84 Contacts</small>
                                </div>
                            </div>
                        </div> <!-- .Card End -->
                    </div>
                    <div class="col">
                        <div class="card text-center overflow-visible">
                            <div class="dropdown morphing scale-left position-absolute top-0 end-0 mt-2 me-2">
                                @@include('widgets/_card-ellipsis-group.html')
                            </div>                                            
                            <div class="card-body d-flex align-items-center justify-content-between flex-column">
                                <div class="me-auto ms-auto py-4">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar10.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar9.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar2.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar5.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                </div>
                                <div class="mt-2">
                                    <h6 class="mb-0">Colleagues</h6>
                                    <small class="text-muted">245 Contacts</small>
                                </div>
                            </div>
                        </div> <!-- .Card End -->
                    </div>
                    <div class="col">
                        <div class="card text-center overflow-visible">
                            <div class="dropdown morphing scale-left position-absolute top-0 end-0 mt-2 me-2">
                                @@include('widgets/_card-ellipsis-group.html')
                            </div>                                            
                            <div class="card-body d-flex align-items-center justify-content-between flex-column">
                                <div class="me-auto ms-auto py-4">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar1.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                    <div class="avatar rounded-circle m-1 lift d-inline-flex no-thumbnail">RH</div>
                                </div>
                                <div class="mt-2">
                                    <h6 class="mb-0">San Fransisco</h6>
                                    <small class="text-muted">126 Contacts</small>
                                </div>
                            </div>
                        </div> <!-- .Card End -->
                    </div>
                    <div class="col">
                        <div class="card text-center overflow-visible">
                            <div class="dropdown morphing scale-left position-absolute top-0 end-0 mt-2 me-2">
                                @@include('widgets/_card-ellipsis-group.html')
                            </div>                                            
                            <div class="card-body d-flex align-items-center justify-content-between flex-column">
                                <div class="me-auto ms-auto py-4">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar6.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar7.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar8.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                    <img class="avatar rounded-circle m-1 lift" src="@@webRoot/assets/img/xs/avatar1.jpg" data-bs-toggle="tooltip" data-placement="top" title="Avatar Name" alt="">
                                </div>
                                <div class="mt-2">
                                    <h6 class="mb-0">Los Angeles</h6>
                                    <small class="text-muted">84 Contacts</small>
                                </div>
                            </div>
                        </div> <!-- .Card End -->
                    </div>
                </div> <!-- Row end  -->
                <!-- Modal: Create new group -->
                @@include('modals/_modal-create-group.html')
            </div>
            <!-- Tab: Project -->
            <div class="tab-pane fade" id="profile_project" role="tabpanel">
                <div class="row-title mb-2">
                    <h5>My Projects</h5>
                    <div>
                        <div class="input-group">
                            <select class="form-select">
                                <option selected>Choose...</option>
                                <option value="1">Active</option>
                                <option value="2">In Progress</option>
                                <option value="3">To Do</option>
                                <option value="3">Completed</option>
                            </select>
                            <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#CreateNew" type="button">Create Project</button>
                        </div>
                    </div>
                </div>
                <div class="row g-3 row-deck">
                    <div class="col-xxl-4 col-lg-6 col-md-12">
                        <!-- widgest: Project card -->
                        @@include('widgets/_card-project.html', {
                            "projectTitle": "School / University",
                            "projectSubTitle": "Project sub title here",
                            "projectProgress": "80%",
                            "projectDate": "21 Aug, 2022",
                            "projectBudget": "$12,050"
                        })
                    </div>
                    <div class="col-xxl-4 col-lg-6 col-md-12">
                        <!-- widgest: Project card -->
                        @@include('widgets/_card-project.html', {
                            "projectTitle": "LUNO job Portal",
                            "projectSubTitle": "Project sub title here",
                            "projectProgress": "23%",
                            "projectDate": "25 Aug, 2022",
                            "projectBudget": "$1,150",
                        })
                    </div>
                    <div class="col-xxl-4 col-lg-6 col-md-12">
                        <!-- widgest: Project card -->
                        @@include('widgets/_card-project.html', {
                            "projectTitle": "TTM Banking",
                            "projectSubTitle": "Project sub title here",
                            "projectProgress": "91%",
                            "projectDate": "28 Aug, 2022",
                            "projectBudget": "$8,050",
                        })
                    </div>
                </div> <!-- Row end  -->
            </div>
            <!-- Tab: Campaigns -->
            <div class="tab-pane fade" id="profile_campaigns" role="tabpanel">
                <div class="row-title mb-2">
                    <h5>Campaigns</h5>
                    <button type="button" class="btn btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#CreateCampaigns">Create new campaigns</button>
                </div>
                <!-- widgest: User Activity -->
                @@include('app/_app-campaigns.html')
            </div>
            <!-- Tab: Activity -->
            <div class="tab-pane fade" id="profile_activity" role="tabpanel">
                <div class="row-title mb-2">
                    <h5>User Activity</h5>
                </div>
                <!-- widgest: User Activity -->
                @@include('widgets/_user-activity.html')
            </div>
        </div>

        <!-- offcanvas: Profile Edit -->
        @@include('modals/_modal-profile-edit.html')
    </div>
</div> <!-- Row end  -->