<div class="row @@rowClass">
    <div class="col-lg-12">
        <h3 class="mb-1 color-900">@@SectionTitle</h3>
        <p class="lead">It is a long established fact that a reader will be of a page when established fact looking at its layout.</p>
    </div>
    <div class="col-12">
        <div class="row g-3 align-items-center">
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h6 class="text-uppercase">Deluxe</h6>
                        <div><span class="display-5 text-primary">$9</span> <span class="text-muted">/Month</span></div>
                    </div>
                    <div class="card-body">
                        <p class="d-flex justify-content-between py-1"><span><i class="fa fa-check-circle me-2"></i>Bandwidth:</span> <span>1GB</span></p>
                        <p class="d-flex justify-content-between py-1"><span><i class="fa fa-check-circle me-2"></i>Onlinespace:</span> <span>500MB</span></p>
                        <p class="d-flex justify-content-between py-1"><span><i class="fa fa-check-circle me-2"></i>Support:</span> <span>No</span></p>
                        <p class="d-flex justify-content-between py-1"><span><i class="fa fa-check-circle me-2"></i>Domain:</span> <span>1</span></p>
                        <p class="d-flex justify-content-between py-1"><span><i class="fa fa-check-circle me-2"></i>Hidden Fees:</span> <span>No</span></p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn px-4 btn-outline-secondary text-uppercase lift">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card shadow p-4">
                    <div class="card-body">
                        <h6 class="text-uppercase">Economy</h6>
                        <div><span class="display-5 text-primary">$29</span> <span class="text-muted">/Month</span></div>
                    </div>
                    <div class="card-body">
                        <p class="d-flex justify-content-between py-1"><span><i class="fa fa-check-circle me-2"></i>Bandwidth:</span> <span>2GB</span></p>
                        <p class="d-flex justify-content-between py-1"><span><i class="fa fa-check-circle me-2"></i>Onlinespace:</span> <span>5GB</span></p>
                        <p class="d-flex justify-content-between py-1"><span><i class="fa fa-check-circle me-2"></i>Support:</span> <span>Yes</span></p>
                        <p class="d-flex justify-content-between py-1"><span><i class="fa fa-check-circle me-2"></i>Domain:</span> <span>1</span></p>
                        <p class="d-flex justify-content-between py-1"><span><i class="fa fa-check-circle me-2"></i>Hidden Fees:</span> <span>No</span></p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn px-4 btn-primary text-uppercase lift">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h6 class="text-uppercase">Ultimate</h6>
                        <div><span class="display-5 text-primary">$39</span> <span class="text-muted">/Month</span></div>
                    </div>
                    <div class="card-body">
                        <p class="d-flex justify-content-between py-1"><span><i class="fa fa-check-circle me-2"></i>Bandwidth:</span> <span>3GB</span></p>
                        <p class="d-flex justify-content-between py-1"><span><i class="fa fa-check-circle me-2"></i>Onlinespace:</span> <span>1TB</span></p>
                        <p class="d-flex justify-content-between py-1"><span><i class="fa fa-check-circle me-2"></i>Support:</span> <span>Yes</span></p>
                        <p class="d-flex justify-content-between py-1"><span><i class="fa fa-check-circle me-2"></i>Domain:</span> <span>Unlimited</span></p>
                        <p class="d-flex justify-content-between py-1"><span><i class="fa fa-check-circle me-2"></i>Hidden Fees:</span> <span>No</span></p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn px-4 btn-outline-secondary text-uppercase lift">Get Started</a>
                    </div>
                </div>
            </div>
        </div><!-- .row end -->
    </div>
</div><!-- .row end -->