<div class="row @@rowClass">
    <div class="col-12">
        <h3 class="mb-1 color-900">@@SectionTitle</h3>
        <p class="lead">It is a long established fact that a reader will be of a page when established fact looking at its layout.</p>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <h5>Free</h5>
                <div class="display-6 mt-4">$ 00</div>
                <div>per month</div>
            </div>
            <div class="card-body">
                <ul class="list-unstyled lh-lg mb-4">
                    <li><i class="fa fa-check me-2"></i>Only 1 User uses</li>
                    <li><i class="fa fa-check me-2"></i>10 Projects</li>
                    <li><i class="fa fa-check me-2"></i>5GB of Storage</li>
                    <li><i class="fa fa-check me-2"></i>Unlimited Data</li>
                    <li><i class="fa fa-check me-2"></i>Fully Security Suite</li>
                </ul>
                <a href="#" class="btn bg-secondary text-white px-4">Download</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="card overflow-hidden bg-secondary text-white">
            <div class="card-body">
                <h5>Premium</h5>
                <div class="display-6 mt-4">$ 49</div>
                <div>per month</div>
            </div>
            <div class="card-body">
                <ul class="list-unstyled lh-lg mb-4">
                    <li><i class="fa fa-check me-2"></i>Only 1 User uses</li>
                    <li><i class="fa fa-check me-2"></i>10 Projects</li>
                    <li><i class="fa fa-check me-2"></i>5GB of Storage</li>
                    <li><i class="fa fa-check me-2"></i>Unlimited Data</li>
                    <li><i class="fa fa-check me-2"></i>Fully Security Suite</li>
                </ul>
                <a href="#" class="btn btn-white px-4">Download</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <h5>Unltimate</h5>
                <div class="display-6 mt-4">$ 99</div>
                <div>per month</div>
            </div>
            <div class="card-body">
                <ul class="list-unstyled lh-lg mb-4">
                    <li><i class="fa fa-check me-2"></i>Only 1 User uses</li>
                    <li><i class="fa fa-check me-2"></i>10 Projects</li>
                    <li><i class="fa fa-check me-2"></i>5GB of Storage</li>
                    <li><i class="fa fa-check me-2"></i>Unlimited Data</li>
                    <li><i class="fa fa-check me-2"></i>Fully Security Suite</li>
                </ul>
                <a href="#" class="btn bg-secondary text-white px-4">Download</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <h5>Professional</h5>
                <div class="display-6 mt-4">$ 199</div>
                <div>per month</div>
            </div>
            <div class="card-body">
                <ul class="list-unstyled lh-lg mb-4">
                    <li><i class="fa fa-check me-2"></i>Only 1 User uses</li>
                    <li><i class="fa fa-check me-2"></i>10 Projects</li>
                    <li><i class="fa fa-check me-2"></i>5GB of Storage</li>
                    <li><i class="fa fa-check me-2"></i>Unlimited Data</li>
                    <li><i class="fa fa-check me-2"></i>Fully Security Suite</li>
                </ul>
                <a href="#" class="btn bg-secondary text-white px-4">Download</a>
            </div>
        </div>
    </div>
</div><!-- .row end -->