<!DOCTYPE html>
<html lang="en">
<head>
    @@include('_head.html',{
        "pageTitle": "Hospital Patient List",
        "dataTables": true,
    })
</head>

<body class="layout-1" data-luno="theme-cyan">

	<!-- start: sidebar -->
	@@include('sidebar/_sidebar-hospital.html', {"page": "payments-list"})

	<!-- start: body area -->
    <div class="wrapper">

		<!-- start: page header -->
		@@include('_page-header.html')

        <!-- start: page toolbar -->
        <div class="page-toolbar px-xl-4 px-sm-2 px-0 py-3">
            <div class="container-fluid">

                <div class="row g-3 mb-3 align-items-center">
                    <div class="col">
                        <ol class="breadcrumb bg-transparent mb-0">
                            <li class="breadcrumb-item"><a class="text-secondary" href="index.html">Home</a></li>
                            <li class="breadcrumb-item">Payment</li>
                            <li class="breadcrumb-item active" aria-current="page">List</li>
                        </ol>
                    </div>
                </div> <!-- .row end -->
                @@include('widgets/_page-stats.html')

            </div>
        </div>

        <!-- start: page body -->
        <div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-0 mt-lg-3">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title mb-0">Payment list</h6>
                                @@include('widgets/_card-action.html')
                            </div>
                            <div class="card-body">
                                <table id="myPaymentList" class="table card-table table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th>Bill No</th>
                                            <th>Bill date</th>
                                            <th>Patient</th>
                                            <th>Doctor</th>
                                            <th>Charges</th>
                                            <th>Tax</th>                                            
                                            <th>Discount</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>21</td>
                                            <td>02/21/2017</td>
                                            <td>Christina Bing</td>
                                            <td>Juan Freeman</td>
                                            <td>102</td>
                                            <td>10</td>
                                            <td>10%</td>
                                            <td>210</td>
                                        </tr>
                                        <tr>
                                            <td>17</td>
                                            <td>02/21/2017</td>
                                            <td>Christina Bing</td>
                                            <td>Juan Freeman</td>
                                            <td>102</td>
                                            <td>10</td>
                                            <td>10%</td>
                                            <td>210</td>
                                        </tr>
                                        <tr>
                                            <td>16</td>
                                            <td>02/21/2017</td>
                                            <td>Christina Bing</td>
                                            <td>Juan Freeman</td>
                                            <td>102</td>
                                            <td>10</td>
                                            <td>10%</td>
                                            <td>210</td>
                                        </tr>
                                        <tr>
                                            <td>15</td>
                                            <td>02/21/2017</td>
                                            <td>Christina Bing</td>
                                            <td>Juan Freeman</td>
                                            <td>102</td>
                                            <td>10</td>
                                            <td>10%</td>
                                            <td>210</td>
                                        </tr>
                                        <tr>
                                            <td>14</td>
                                            <td>02/21/2017</td>
                                            <td>Lori Perkins</td>
                                            <td>Juan Freeman</td>
                                            <td>102</td>
                                            <td>10</td>
                                            <td>10%</td>
                                            <td>210</td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td>02/21/2017</td>
                                            <td>Christina Bing</td>
                                            <td>Juan Freeman</td>
                                            <td>102</td>
                                            <td>10</td>
                                            <td>10%</td>
                                            <td>210</td>
                                        </tr>
                                        <tr>
                                            <td>22</td>
                                            <td>02/21/2017</td>
                                            <td>Christina Bing</td>
                                            <td>Juan Freeman</td>
                                            <td>102</td>
                                            <td>10</td>
                                            <td>10%</td>
                                            <td>210</td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>02/21/2017</td>
                                            <td>Christina Bing</td>
                                            <td>Jessica Patterson</td>
                                            <td>102</td>
                                            <td>10</td>
                                            <td>10%</td>
                                            <td>210</td>
                                        </tr>
                                        <tr>
                                            <td>105</td>
                                            <td>02/21/2017</td>
                                            <td>Lori Perkins</td>
                                            <td>Juan Freeman</td>
                                            <td>102</td>
                                            <td>10</td>
                                            <td>10%</td>
                                            <td>210</td>
                                        </tr>
                                        <tr>
                                            <td>56</td>
                                            <td>02/21/2017</td>
                                            <td>Christina Bing</td>
                                            <td>Juan Freeman</td>
                                            <td>102</td>
                                            <td>10</td>
                                            <td>10%</td>
                                            <td>210</td>
                                        </tr>
                                        <tr>
                                            <td>34</td>
                                            <td>02/21/2017</td>
                                            <td>Christina Bing</td>
                                            <td>Jessica Patterson</td>
                                            <td>102</td>
                                            <td>10</td>
                                            <td>10%</td>
                                            <td>210</td>
                                        </tr>
                                        <tr>
                                            <td>21</td>
                                            <td>02/21/2017</td>
                                            <td>Christina Bing</td>
                                            <td>Juan Freeman</td>
                                            <td>102</td>
                                            <td>10</td>
                                            <td>10%</td>
                                            <td>210</td>
                                        </tr>
                                        <tr>
                                            <td>17</td>
                                            <td>02/21/2017</td>
                                            <td>Christina Bing</td>
                                            <td>Juan Freeman</td>
                                            <td>102</td>
                                            <td>10</td>
                                            <td>10%</td>
                                            <td>210</td>
                                        </tr>
                                        <tr>
                                            <td>16</td>
                                            <td>02/21/2017</td>
                                            <td>Christina Bing</td>
                                            <td>Juan Freeman</td>
                                            <td>102</td>
                                            <td>10</td>
                                            <td>10%</td>
                                            <td>210</td>
                                        </tr>
                                        <tr>
                                            <td>15</td>
                                            <td>02/21/2017</td>
                                            <td>Christina Bing</td>
                                            <td>Juan Freeman</td>
                                            <td>102</td>
                                            <td>10</td>
                                            <td>10%</td>
                                            <td>210</td>
                                        </tr>
                                        <tr>
                                            <td>14</td>
                                            <td>02/21/2017</td>
                                            <td>Lori Perkins</td>
                                            <td>Juan Freeman</td>
                                            <td>102</td>
                                            <td>10</td>
                                            <td>10%</td>
                                            <td>210</td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td>02/21/2017</td>
                                            <td>Christina Bing</td>
                                            <td>Juan Freeman</td>
                                            <td>102</td>
                                            <td>10</td>
                                            <td>10%</td>
                                            <td>210</td>
                                        </tr>
                                        <tr>
                                            <td>22</td>
                                            <td>02/21/2017</td>
                                            <td>Christina Bing</td>
                                            <td>Juan Freeman</td>
                                            <td>102</td>
                                            <td>10</td>
                                            <td>10%</td>
                                            <td>210</td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>02/21/2017</td>
                                            <td>Christina Bing</td>
                                            <td>Jessica Patterson</td>
                                            <td>102</td>
                                            <td>10</td>
                                            <td>10%</td>
                                            <td>210</td>
                                        </tr>
                                        <tr>
                                            <td>105</td>
                                            <td>02/21/2017</td>
                                            <td>Lori Perkins</td>
                                            <td>Juan Freeman</td>
                                            <td>102</td>
                                            <td>10</td>
                                            <td>10%</td>
                                            <td>210</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> <!-- .row end -->

            </div>
        </div>

        <!-- start: page footer -->
		@@include('_page-footer.html')

    </div>

    <!-- Modal: Create project -->
	@@include('_modal-create-project.html')

	<!-- Modal: my notes -->
	@@include('_modal-my-notes.html')

	<!-- Modal: Schedule -->
	@@include('_modal-my-schedule.html')

	<!-- Modal: RecentChat -->
	@@include('_modal-recent-chat.html')

	<!-- Modal: Setting -->
	@@include('_modal-theme-setting.html')

<!-- Jquery Page Js -->
@@include('_scripts.html',{
    "dataTables": true
})
<script>
    // project data table
    $('#myPaymentList')
    .addClass( 'nowrap' )
    .dataTable( {
        responsive: true,
    });
</script>
</body>
</html>