<!DOCTYPE html>
<html lang="en">
<head>
    @@include('_head.html',{
        "pageTitle": "Collection",
        "daterangepicker": true,
    })
</head>

<body class="layout-1" data-luno="theme-red">

	<!-- start: sidebar -->
	@@include('sidebar/_sidebar-nft.html', {"page": "nft-collection"})

	<!-- start: body area -->
    <div class="wrapper">

		<!-- start: page header -->
		@@include('_page-header.html')

        <!-- start: page toolbar -->
        <div class="page-toolbar px-xl-4 px-sm-2 px-0 py-3">
            <div class="container-fluid">

                <div class="row g-3 mb-3 align-items-center">
                    <div class="col">
                        <ol class="breadcrumb bg-transparent mb-0">
                            <li class="breadcrumb-item"><a class="text-secondary" href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Collection</li>
                        </ol>
                    </div>
                </div> <!-- .row end -->
                <div class="row align-items-center">
                    <div class="col">
                        <h1 class="fs-5 color-900 mt-1 mb-0">Welcome back, Allie!</h1>
                        <small class="text-muted">You have 12 new messages and 7 new notifications.</small>
                    </div>
                    <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-7 col-sm-12 mt-2 mt-md-0">
                        <!-- daterange picker -->
                        @@include('widgets/_daterange.html')
                    </div>
                </div> <!-- .row end -->

            </div>
        </div>

        <!-- start: page body -->
        <div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-0 mt-lg-3">
            <div class="container-fluid">

                <div class="row g-3 row-deck">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <img src="@@webRoot/assets/img/nft/img-2.png" class="img-fluid rounded-top mb-3" alt="">
                            <div class="card-body">
                                <h4 class="card-title">LUNO Rave</h4>
                                <div class="d-flex justify-content-between mb-3">
                                    <div class="text-start">
                                        <small>Auction Time</small>
                                        <h6 class="text-muted mt-2">3h 1m 50s</h6>
                                    </div>
                                    <div class="text-end">
                                        <small>Current Bid: <strong class="text-primary">0.15 ETH</strong></small>
                                        <h6 class="text-muted mt-2">0.15 ETH</h6>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-primary w-100">Place a Bid</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <img src="@@webRoot/assets/img/nft/img-3.png" class="img-fluid rounded-top mb-3" alt="">
                            <div class="card-body">
                                <h4 class="card-title">LUNO Gave</h4>
                                <div class="d-flex justify-content-between mb-3">
                                    <div class="text-start">
                                        <small>Auction Time</small>
                                        <h6 class="text-muted mt-2">3h 1m 50s</h6>
                                    </div>
                                    <div class="text-end">
                                        <small>Current Bid: <strong class="text-primary">0.15 ETH</strong></small>
                                        <h6 class="text-muted mt-2">0.15 ETH</h6>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-primary w-100">Place a Bid</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <img src="@@webRoot/assets/img/nft/img-4.png" class="img-fluid rounded-top mb-3" alt="">
                            <div class="card-body">
                                <h4 class="card-title">LUNO Tave</h4>
                                <div class="d-flex justify-content-between mb-3">
                                    <div class="text-start">
                                        <small>Auction Time</small>
                                        <h6 class="text-muted mt-2">3h 1m 50s</h6>
                                    </div>
                                    <div class="text-end">
                                        <small>Current Bid: <strong class="text-primary">0.15 ETH</strong></small>
                                        <h6 class="text-muted mt-2">0.15 ETH</h6>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-primary w-100">Place a Bid</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <img src="@@webRoot/assets/img/nft/img-5.png" class="img-fluid rounded-top mb-3" alt="">
                            <div class="card-body">
                                <h4 class="card-title">LUNO Wave</h4>
                                <div class="d-flex justify-content-between mb-3">
                                    <div class="text-start">
                                        <small>Auction Time</small>
                                        <h6 class="text-muted mt-2">3h 1m 50s</h6>
                                    </div>
                                    <div class="text-end">
                                        <small>Current Bid: <strong class="text-primary">0.15 ETH</strong></small>
                                        <h6 class="text-muted mt-2">0.15 ETH</h6>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-primary w-100">Place a Bid</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <img src="@@webRoot/assets/img/nft/img-1.png" class="img-fluid rounded-top mb-3" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Liguid Wave</h4>
                                <div class="d-flex justify-content-between mb-3">
                                    <div class="text-start">
                                        <small>Auction Time</small>
                                        <h6 class="text-muted mt-2">3h 1m 50s</h6>
                                    </div>
                                    <div class="text-end">
                                        <small>Current Bid: <strong class="text-primary">0.15 ETH</strong></small>
                                        <h6 class="text-muted mt-2">0.15 ETH</h6>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-primary w-100">Place a Bid</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <img src="@@webRoot/assets/img/nft/img-3.png" class="img-fluid rounded-top mb-3" alt="">
                            <div class="card-body">
                                <h4 class="card-title">LUNO Gave</h4>
                                <div class="d-flex justify-content-between mb-3">
                                    <div class="text-start">
                                        <small>Auction Time</small>
                                        <h6 class="text-muted mt-2">3h 1m 50s</h6>
                                    </div>
                                    <div class="text-end">
                                        <small>Current Bid: <strong class="text-primary">0.15 ETH</strong></small>
                                        <h6 class="text-muted mt-2">0.15 ETH</h6>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-primary w-100">Place a Bid</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <img src="@@webRoot/assets/img/nft/img-4.png" class="img-fluid rounded-top mb-3" alt="">
                            <div class="card-body">
                                <h4 class="card-title">LUNO Tave</h4>
                                <div class="d-flex justify-content-between mb-3">
                                    <div class="text-start">
                                        <small>Auction Time</small>
                                        <h6 class="text-muted mt-2">3h 1m 50s</h6>
                                    </div>
                                    <div class="text-end">
                                        <small>Current Bid: <strong class="text-primary">0.15 ETH</strong></small>
                                        <h6 class="text-muted mt-2">0.15 ETH</h6>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-primary w-100">Place a Bid</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <img src="@@webRoot/assets/img/nft/img-5.png" class="img-fluid rounded-top mb-3" alt="">
                            <div class="card-body">
                                <h4 class="card-title">LUNO Wave</h4>
                                <div class="d-flex justify-content-between mb-3">
                                    <div class="text-start">
                                        <small>Auction Time</small>
                                        <h6 class="text-muted mt-2">3h 1m 50s</h6>
                                    </div>
                                    <div class="text-end">
                                        <small>Current Bid: <strong class="text-primary">0.15 ETH</strong></small>
                                        <h6 class="text-muted mt-2">0.15 ETH</h6>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-primary w-100">Place a Bid</a>
                            </div>
                        </div>
                    </div>
                </div> <!-- .row end -->

            </div>
        </div>

        <!-- start: page footer -->
		@@include('_page-footer.html')

    </div>

    <!-- Modal: Create project -->
	@@include('_modal-create-project.html')

	<!-- Modal: my notes -->
	@@include('_modal-my-notes.html')

	<!-- Modal: Schedule -->
	@@include('_modal-my-schedule.html')

	<!-- Modal: RecentChat -->
	@@include('_modal-recent-chat.html')

	<!-- Modal: Setting -->
	@@include('_modal-theme-setting.html')

<!-- Jquery Page Js -->
@@include('_scripts.html',{
})
</body>
</html>