<!DOCTYPE html>
<html lang="en">
<head>
    @@include('_head.html',{
        "pageTitle": "Bids",
        "daterangepicker": true,
        "dataTables": true,
    })
</head>

<body class="layout-1" data-luno="theme-red">

	<!-- start: sidebar -->
	@@include('sidebar/_sidebar-nft.html', {"page": "nft-bids"})

	<!-- start: body area -->
    <div class="wrapper">

		<!-- start: page header -->
		@@include('_page-header.html')

        <!-- start: page toolbar -->
        <div class="page-toolbar px-xl-4 px-sm-2 px-0 py-3">
            <div class="container-fluid">

                <div class="row g-3 mb-3 align-items-center">
                    <div class="col">
                        <ol class="breadcrumb bg-transparent mb-0">
                            <li class="breadcrumb-item"><a class="text-secondary" href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Bids</li>
                        </ol>
                    </div>
                </div> <!-- .row end -->
                <div class="row align-items-center">
                    <div class="col">
                        <h1 class="fs-5 color-900 mt-1 mb-0">Welcome back, Allie!</h1>
                        <small class="text-muted">You have 12 new messages and 7 new notifications.</small>
                    </div>
                    <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-7 col-sm-12 mt-2 mt-md-0">
                        <!-- daterange picker -->
                        @@include('widgets/_daterange.html')
                    </div>
                </div> <!-- .row end -->

            </div>
        </div>

        <!-- start: page body -->
        <div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-0 mt-lg-3">
            <div class="container-fluid">

                <div class="row g-3 row-deck">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="fw-bold">
                                    <span class="h4 mb-0">40k</span>
                                    <span class="text-success ms-1">2.55% <i class="fa fa-caret-up"></i></span>
                                </div>
                                <div class="text-muted">Artworks</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="fw-bold">
                                    <span class="h4 mb-0">23k</span>
                                    <span class="text-danger ms-1">4.12% <i class="fa fa-caret-down"></i></span>
                                </div>
                                <div class="text-muted">Auction</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="fw-bold">
                                    <span class="h4 mb-0">102k</span>
                                    <span class="text-success ms-1">7.15% <i class="fa fa-caret-up"></i></span>
                                </div>
                                <div class="text-muted">Creators</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="fw-bold">
                                    <span class="h4 mb-0">18</span>
                                    <span class="text-danger ms-1">2.02% <i class="fa fa-caret-down"></i></span>
                                </div>
                                <div class="text-muted">Canceled</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-12">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title m-0">Active Bids</h6>
                                @@include('widgets/_card-action.html')
                            </div>
                            <table id="myDataTable_no_filter" class="table align-middle mb-0 card-table">
                                <thead>
                                    <tr>            
                                        <th>
                                            <div class="form-check" style="font-size: 16px;">
                                                <input class="form-check-input select-all" type="checkbox" value="">
                                            </div>
                                        </th>
                                        <th>Item List</th>
                                        <th>Open Price</th>
                                        <th>Your Offer</th>
                                        <th>Recent Offer</th>
                                        <th>Time Left</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="row-selectable">
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img class="rounded avatar lg" src="@@webRoot/assets/img/nft/img-2.png" alt="avatar lg" title="">
                                                <div class="ms-3">
                                                    <h6 class="mb-0 fw-bold">Cutes Cube Cool</h6>
                                                    <span>Bucky Barnes</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>0.0025 ETH</td>
                                        <td>0.0025 ETH</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="@@webRoot/assets/img/xs/avatar1.jpg" class="rounded sm avatar" alt="">
                                                <div class="ms-2 mb-0">Marshall Nichols</div>
                                            </div>
                                        </td>
                                        <td>2 Hours 5 min 30s</td>
                                        <td>@@include('widgets/_card-ellipsis.html')</td>
                                    </tr>
                                    <tr class="row-selectable">
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img class="rounded avatar lg" src="@@webRoot/assets/img/nft/img-1.png" alt="avatar lg" title="">
                                                <div class="ms-3">
                                                    <h6 class="mb-0 fw-bold">Cutes Cube Cool</h6>
                                                    <span>Bucky Barnes</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>0.0025 ETH</td>
                                        <td>0.0025 ETH</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="@@webRoot/assets/img/xs/avatar2.jpg" class="rounded sm avatar" alt="">
                                                <div class="ms-2 mb-0">Marshall Nichols</div>
                                            </div>
                                        </td>
                                        <td>2 Hours 5 min 30s</td>
                                        <td>@@include('widgets/_card-ellipsis.html')</td>
                                    </tr>
                                    <tr class="row-selectable">
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img class="rounded avatar lg" src="@@webRoot/assets/img/nft/img-3.png" alt="avatar lg" title="">
                                                <div class="ms-3">
                                                    <h6 class="mb-0 fw-bold">Cutes Cube Cool</h6>
                                                    <span>Bucky Barnes</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>0.0025 ETH</td>
                                        <td>0.0025 ETH</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="@@webRoot/assets/img/xs/avatar3.jpg" class="rounded sm avatar" alt="">
                                                <div class="ms-2 mb-0">Marshall Nichols</div>
                                            </div>
                                        </td>
                                        <td>2 Hours 13 min 30s</td>
                                        <td>@@include('widgets/_card-ellipsis.html')</td>
                                    </tr>
                                    <tr class="row-selectable">
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img class="rounded avatar lg" src="@@webRoot/assets/img/nft/img-2.png" alt="avatar lg" title="">
                                                <div class="ms-3">
                                                    <h6 class="mb-0 fw-bold">Cutes Cube Cool</h6>
                                                    <span>Bucky Barnes</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>0.0025 ETH</td>
                                        <td>0.0025 ETH</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="@@webRoot/assets/img/xs/avatar9.jpg" class="rounded sm avatar" alt="">
                                                <div class="ms-2 mb-0">Marshall Nichols</div>
                                            </div>
                                        </td>
                                        <td>1 Hours 1 min 30s</td>
                                        <td>@@include('widgets/_card-ellipsis.html')</td>
                                    </tr>
                                    <tr class="row-selectable">
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img class="rounded avatar lg" src="@@webRoot/assets/img/nft/img-4.png" alt="avatar lg" title="">
                                                <div class="ms-3">
                                                    <h6 class="mb-0 fw-bold">Cutes Cube Cool</h6>
                                                    <span>Bucky Barnes</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>0.0025 ETH</td>
                                        <td>0.0025 ETH</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="@@webRoot/assets/img/xs/avatar4.jpg" class="rounded sm avatar" alt="">
                                                <div class="ms-2 mb-0">Marshall Nichols</div>
                                            </div>
                                        </td>
                                        <td>2 Hours 3 min 30s</td>
                                        <td>@@include('widgets/_card-ellipsis.html')</td>
                                    </tr>
                                    <tr class="row-selectable">
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img class="rounded avatar lg" src="@@webRoot/assets/img/nft/img-5.png" alt="avatar lg" title="">
                                                <div class="ms-3">
                                                    <h6 class="mb-0 fw-bold">Cutes Cube Cool</h6>
                                                    <span>Bucky Barnes</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>0.0025 ETH</td>
                                        <td>0.0025 ETH</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="@@webRoot/assets/img/xs/avatar7.jpg" class="rounded sm avatar" alt="">
                                                <div class="ms-2 mb-0">Marshall Nichols</div>
                                            </div>
                                        </td>
                                        <td>1 Hours 10 min 30s</td>
                                        <td>@@include('widgets/_card-ellipsis.html')</td>
                                    </tr>
                                    <tr class="row-selectable">
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img class="rounded avatar lg" src="@@webRoot/assets/img/nft/img-2.png" alt="avatar lg" title="">
                                                <div class="ms-3">
                                                    <h6 class="mb-0 fw-bold">Cutes Cube Cool</h6>
                                                    <span>Bucky Barnes</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>0.0025 ETH</td>
                                        <td>0.0025 ETH</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="@@webRoot/assets/img/xs/avatar8.jpg" class="rounded sm avatar" alt="">
                                                <div class="ms-2 mb-0">Marshall Nichols</div>
                                            </div>
                                        </td>
                                        <td>2 Hours 5 min 30s</td>
                                        <td>@@include('widgets/_card-ellipsis.html')</td>
                                    </tr>
                                    <tr class="row-selectable">
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img class="rounded avatar lg" src="@@webRoot/assets/img/nft/img-2.png" alt="avatar lg" title="">
                                                <div class="ms-3">
                                                    <h6 class="mb-0 fw-bold">Cutes Cube Cool</h6>
                                                    <span>Bucky Barnes</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>0.0025 ETH</td>
                                        <td>0.0025 ETH</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <img src="@@webRoot/assets/img/xs/avatar10.jpg" class="rounded sm avatar" alt="">
                                                <div class="ms-2 mb-0">Marshall Nichols</div>
                                            </div>
                                        </td>
                                        <td>1 Hours 5 min 30s</td>
                                        <td>@@include('widgets/_card-ellipsis.html')</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- .row end -->

            </div>
        </div>

        <!-- start: page footer -->
		@@include('_page-footer.html')

    </div>

    <!-- Modal: Create project -->
	@@include('_modal-create-project.html')

	<!-- Modal: my notes -->
	@@include('_modal-my-notes.html')

	<!-- Modal: Schedule -->
	@@include('_modal-my-schedule.html')

	<!-- Modal: RecentChat -->
	@@include('_modal-recent-chat.html')

	<!-- Modal: Setting -->
	@@include('_modal-theme-setting.html')

<!-- Jquery Page Js -->
@@include('_scripts.html',{
    "dataTables":true,
})
<script>
    $('#myDataTable_no_filter')
    .addClass( 'nowrap' )
    .dataTable( {
        responsive: true,
        searching: false,
        paging: false,
        ordering: false,
        info: false,
    });
</script>
</body>
</html>