<!DOCTYPE html>
<html lang="en">
<head>
	@@include('_head.html',{
        "pageTitle": "Job Portal Project",
    })
</head>

<body class="layout-1" data-luno="theme-orange">

	<!-- start: sidebar -->
	@@include('sidebar/_sidebar-job.html', {"page": "projects"})

	<!-- start: body area -->
    <div class="wrapper">

		<!-- start: page header -->
		@@include('_page-header.html')

        <!-- start: page body -->
        <div class="page-body body-layout-1">
            
            @@include('app/_app-project.html')

        </div>

    </div>

    <!-- Modal: Create project -->
	@@include('_modal-create-project.html')

	<!-- Modal: my notes -->
	@@include('_modal-my-notes.html')

	<!-- Modal: Schedule -->
	@@include('_modal-my-schedule.html')

	<!-- Modal: RecentChat -->
	@@include('_modal-recent-chat.html')

	<!-- Modal: Setting -->
	@@include('_modal-theme-setting.html')

<!-- Jquery Page Js -->
@@include('_scripts.html',{

})
</body>
</html>