<!DOCTYPE html>
<html lang="en">
<head>
    @@include('_head.html',{
        "pageTitle": "Job Portal Candidates",
        "dataTables": true,
    })
</head>

<body class="layout-1" data-luno="theme-orange">

	<!-- start: sidebar -->
	@@include('sidebar/_sidebar-job.html', {"page": "candidates"})

	<!-- start: body area -->
    <div class="wrapper">

		<!-- start: page header -->
		@@include('_page-header.html')

        <!-- start: page toolbar -->
        <div class="page-toolbar px-xl-4 px-sm-2 px-0 py-3">
            <div class="container-fluid">

                <div class="row g-3 mb-3 align-items-center">
                    <div class="col">
                        <ol class="breadcrumb bg-transparent mb-0">
                            <li class="breadcrumb-item"><a class="text-secondary" href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Candidates</li>
                        </ol>
                    </div>
                </div> <!-- .row end -->
                @@include('widgets/_page-stats.html')

            </div>
        </div>

        <!-- start: page body -->
        <div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-0 mt-lg-3">
            <div class="container-fluid">

                <div class="row g-3">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row g-3">
                                    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
                                        <div class="form-floating">
                                            <select class="form-control form-select">
                                                <option>Select</option>
                                                <option>January</option>
                                                <option>February</option>
                                                <option>March</option>
                                                <option>April</option>
                                                <option>May</option>
                                                <option>June</option>
                                                <option>July</option>
                                                <option>August</option>
                                                <option>September</option>
                                                <option>October</option>
                                                <option>November</option>
                                                <option>December</option>
                                            </select>
                                            <label>Select Month</label>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="Search...">
                                            <label class="form-label">Search...</label>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-5 col-md-12 text-lg-end">
                                        <button type="button" class="btn btn-lg btn-primary d-inline-block d-sm-none btn-detail"><i class="fa fa-area-chart"></i></button>
                                        <button type="button" class="btn btn-lg btn-outline-secondary"><i class="fa fa-envelope"></i></button>
                                        <button type="button" class="btn btn-lg btn-outline-secondary"><i class="fa fa-download"></i></button>
                                        <button type="button" class="btn btn-lg btn-primary">Fillter</button>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="" id="FullTime">
                                            <label class="form-check-label" for="FullTime">Full Time</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="" id="PartTime">
                                            <label class="form-check-label" for="PartTime">Part Time</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="" id="Freelance">
                                            <label class="form-check-label" for="Freelance">Freelance</label>
                                        </div>
                                    </div>
                                </div> <!-- Row end  -->
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="fw-bold mb-0">Showing 45 Applicants</h6>
                                <span class="text-muted">Based your preferences</span>
                            </div>
                            <table class="table myDataTable card-table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Candidates</th>
                                        <th>Company</th>
                                        <th>Type</th>
                                        <th>Applied Date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>LA-0211</td>
                                        <td>
                                            <a href="javascript:void(0);" class="d-flex align-items-center link-secondary">
                                                <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar1.jpg" alt="">
                                                <div class="flex-fill ms-3">
                                                    <div class="mb-0 h6">Maryam Amiri</div>
                                                    <span class="text-muted">Senior UX Designer</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar rounded no-thumbnail bg-secondary">TM</div>
                                                <div class="flex-fill ms-3">
                                                    <div class="mb-0 h6">ThemeMakker Infotech <a href="#" title="Company website" class="small"><i class="fa fa-external-link"></i></a></div>
                                                    <span class="text-muted">Shaping Up Your Ideas</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>FULLTIME</td>
                                        <td>11 March 2021</td>
                                        <td><span class="badge bg-success">Selected</span></td>
                                        <td>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Send Email"><i class="fa fa-envelope"></i></button>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Call"><i class="fa fa-phone"></i></button>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Resume"><i class="fa fa-download"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>LA-0315</td>
                                        <td>
                                            <a href="javascript:void(0);" class="d-flex align-items-center link-secondary">
                                                <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar2.jpg" alt="">
                                                <div class="flex-fill ms-3">
                                                    <div class="mb-0 h6">Barbara Kelly</div>
                                                    <span class="text-muted">React Developer</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar rounded no-thumbnail chart-color1 text-light">WT</div>
                                                <div class="flex-fill ms-3">
                                                    <div class="mb-0 h6">WrrapTheme <a href="#" title="Company website" class="small"><i class="fa fa-external-link"></i></a></div>
                                                    <span class="text-muted">Creative Design Agency</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>FULLTIME</td>
                                        <td>26 Feb 2021</td>
                                        <td><span class="badge bg-warning">On-Hold</span></td>
                                        <td>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Send Email"><i class="fa fa-envelope"></i></button>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Call"><i class="fa fa-phone"></i></button>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Resume"><i class="fa fa-download"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>LA-0215</td>
                                        <td>
                                            <a href="javascript:void(0);" class="d-flex align-items-center link-secondary">
                                                <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar3.jpg" alt="">
                                                <div class="flex-fill ms-3">
                                                    <div class="mb-0 h6">Kevin Leonard</div>
                                                    <span class="text-muted">Angular Developer</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar rounded no-thumbnail chart-color4 text-light">RI</div>
                                                <div class="flex-fill ms-3">
                                                    <div class="mb-0 h6">Rerotio Infoweb <a href="#" title="Company website" class="small"><i class="fa fa-external-link"></i></a></div>
                                                    <span class="text-muted">Creative Design Agency</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>FREELANCE</td>
                                        <td>12 March 2021</td>
                                        <td><span class="badge bg-light text-dark">Pending</span></td>
                                        <td>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Send Email"><i class="fa fa-envelope"></i></button>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Call"><i class="fa fa-phone"></i></button>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Resume"><i class="fa fa-download"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>LA-0235</td>
                                        <td>
                                            <a href="javascript:void(0);" class="d-flex align-items-center link-secondary">
                                                <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar4.jpg" alt="">
                                                <div class="flex-fill ms-3">
                                                    <div class="mb-0 h6">Brad Simmons</div>
                                                    <span class="text-muted">PHP Developer</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar rounded no-thumbnail bg-warning text-light">TT</div>
                                                <div class="flex-fill ms-3">
                                                    <div class="mb-0 h6">Titos Inc. <a href="#" title="Company website" class="small"><i class="fa fa-external-link"></i></a></div>
                                                    <span class="text-muted">Creative Design Agency</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>PART TIME</td>
                                        <td>20 Feb 2021</td>
                                        <td><span class="badge bg-warning">On-Hold</span></td>
                                        <td>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Send Email"><i class="fa fa-envelope"></i></button>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Call"><i class="fa fa-phone"></i></button>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Resume"><i class="fa fa-download"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>LA-0236</td>
                                        <td>
                                            <a href="javascript:void(0);" class="d-flex align-items-center link-secondary">
                                                <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar5.jpg" alt="">
                                                <div class="flex-fill ms-3">
                                                    <div class="mb-0 h6">Rose Gold</div>
                                                    <span class="text-muted">VueJs Developer</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar rounded no-thumbnail bg-info">KI</div>
                                                <div class="flex-fill ms-3">
                                                    <div class="mb-0 h6">Keliofu Infoweb <a href="#" title="Company website" class="small"><i class="fa fa-external-link"></i></a></div>
                                                    <span class="text-muted">Shaping Up Your Ideas</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>FULLTIME</td>
                                        <td>11 March 2021</td>
                                        <td><span class="badge bg-success">Selected</span></td>
                                        <td>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Send Email"><i class="fa fa-envelope"></i></button>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Call"><i class="fa fa-phone"></i></button>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Resume"><i class="fa fa-download"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>LA-0244</td>
                                        <td>
                                            <a href="javascript:void(0);" class="d-flex align-items-center link-secondary">
                                                <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar6.jpg" alt="">
                                                <div class="flex-fill ms-3">
                                                    <div class="mb-0 h6">Barbara Kelly</div>
                                                    <span class="text-muted">React Developer</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar rounded no-thumbnail chart-color3 text-light">WT</div>
                                                <div class="flex-fill ms-3">
                                                    <div class="mb-0 h6">WrrapTheme <a href="#" title="Company website" class="small"><i class="fa fa-external-link"></i></a></div>
                                                    <span class="text-muted">Creative Design Agency</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>FULLTIME</td>
                                        <td>17 Feb 2021</td>
                                        <td><span class="badge bg-success">Selected</span></td>
                                        <td>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Send Email"><i class="fa fa-envelope"></i></button>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Call"><i class="fa fa-phone"></i></button>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Resume"><i class="fa fa-download"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>LA-0245</td>
                                        <td>
                                            <a href="javascript:void(0);" class="d-flex align-items-center link-secondary">
                                                <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar7.jpg" alt="">
                                                <div class="flex-fill ms-3">
                                                    <div class="mb-0 h6">Grace Logan</div>
                                                    <span class="text-muted">ASP.NET MVC</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar rounded no-thumbnail chart-color5 text-light">ET</div>
                                                <div class="flex-fill ms-3">
                                                    <div class="mb-0 h6">Elonois Tech Inc. <a href="#" title="Company website" class="small"><i class="fa fa-external-link"></i></a></div>
                                                    <span class="text-muted">Creative Design Agency</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>FREELANCE</td>
                                        <td>15 March 2021</td>
                                        <td><span class="badge bg-light text-dark">Pending</span></td>
                                        <td>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Send Email"><i class="fa fa-envelope"></i></button>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Call"><i class="fa fa-phone"></i></button>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Resume"><i class="fa fa-download"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>LA-0249</td>
                                        <td>
                                            <a href="javascript:void(0);" class="d-flex align-items-center link-secondary">
                                                <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar8.jpg" alt="">
                                                <div class="flex-fill ms-3">
                                                    <div class="mb-0 h6">Ja Morant</div>
                                                    <span class="text-muted">PHP Developer</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="avatar rounded no-thumbnail chart-color3 text-light">MI</div>
                                                <div class="flex-fill ms-3">
                                                    <div class="mb-0 h6">Milanos infotech. <a href="#" title="Company website" class="small"><i class="fa fa-external-link"></i></a></div>
                                                    <span class="text-muted">Creative Design Agency</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>PART TIME</td>
                                        <td>22 Feb 2021</td>
                                        <td><span class="badge bg-success">Selected</span></td>
                                        <td>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Send Email"><i class="fa fa-envelope"></i></button>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Call"><i class="fa fa-phone"></i></button>
                                            <button type="button" class="btn btn-link btn-sm text-muted" title="Resume"><i class="fa fa-download"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="card-footer">
                                <ul class="pagination mb-0">
                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row end  -->

            </div>
        </div>

        <!-- start: page footer -->
		@@include('_page-footer.html')

    </div>

    <!-- Modal: Create project -->
	@@include('_modal-create-project.html')

	<!-- Modal: my notes -->
	@@include('_modal-my-notes.html')

	<!-- Modal: Schedule -->
	@@include('_modal-my-schedule.html')

	<!-- Modal: RecentChat -->
	@@include('_modal-recent-chat.html')

	<!-- Modal: Setting -->
	@@include('_modal-theme-setting.html')

<!-- Jquery Page Js -->
@@include('_scripts.html',{
    "dataTables":true,
})
<script>
    // project data table
    $('.myDataTable')
    .addClass('nowrap')
    .dataTable({
        responsive: true,
        searching: false,
        paging: false,
        ordering: false,
        info: false,
    });
</script>
</body>
</html>