<!DOCTYPE html>
<html lang="en">
<head>
    @@include('_head.html',{
        "pageTitle": "Job Portal JobVacancy Details",
    })
</head>

<body class="layout-1" data-luno="theme-orange">

	<!-- start: sidebar -->
	@@include('sidebar/_sidebar-job.html', {"page": "jobvacancy"})

	<!-- start: body area -->
    <div class="wrapper">

		<!-- start: page header -->
		@@include('_page-header.html')

        <!-- start: page toolbar -->
        <div class="page-toolbar px-xl-4 px-sm-2 px-0 py-3">
            <div class="container-fluid">

                <div class="row g-3 mb-3 align-items-center">
                    <div class="col">
                        <ol class="breadcrumb bg-transparent mb-0">
                            <li class="breadcrumb-item"><a class="text-secondary" href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Jobvacancy Details</li>
                        </ol>
                    </div>
                </div> <!-- .row end -->
                @@include('widgets/_page-stats.html')

            </div>
        </div>

        <!-- start: page body -->
        <div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-0 mt-lg-3">
            <div class="container-fluid">

                <div class="row g-3">
                    <div class="col-xl-8 col-lg-7">
                        <div class="card">
                            <div class="card-body">
                                <a href="jobvacancy.html" class="h5"><i class="fa fa-arrow-circle-left"></i></a>
                                <a href="#" class="h5">Flutter Web & Mobile Developer</a>
                                <div class="d-md-flex justify-content-md-between align-items-center">
                                    <div class="mt-3 mb-2">
                                        <span class="text-muted me-3"><i class="fa fa-clock-o ps-1"></i>Freelance</span>
                                        <span class="text-muted me-3"><i class="fa fa-wifi ps-1"></i> Remote Work Allow</span>
                                        <span class="text-muted me-3"><i class="fa fa-money ps-1"></i> $28 / per hour</span>
                                    </div>
                                    <span class="text-muted mb-2"><i class="fa fa-map-marker ps-1"></i> 123 6th St. Melbourne, FL 32904</span>
                                </div>
                                <p class="mb-1 mt-2">Good To Have:</p>
                                <span class="badge rounded-pill bg-light text-dark me-1">Bootstrap</span>
                                <span class="badge rounded-pill bg-light text-dark me-1">JavaScript</span>
                                <span class="badge rounded-pill bg-light text-dark me-1">HTML</span>
                                <span class="badge rounded-pill bg-light text-dark me-1">CSS</span>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex align-items-start">
                                    <div class="avatar rounded no-thumbnail bg-secondary"><i class="fa fa-google fa-lg"></i></div>
                                    <div class="flex-fill ms-3">
                                        <h6 class="mb-0 fw-bold">ThemeMakker Infotech</h6>
                                        <span class="text-muted small">Shaping Up Your Ideas</span>
                                        <p class="text-uppercase text-muted mb-0 mt-3">Company Details</p>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-uppercase text-muted">Responsibilities</p>
                                <ul style="line-height: 28px;">
                                    <li class="mb-2">Design and Build sophisticated and highly scalable apps using Flutter.</li>
                                    <li class="mb-2">Build custom packages in Flutter using the functionalities and APIs already available in native Android and IOS.</li>
                                    <li class="mb-2">Translate and Build the designs and Wireframes into hight quality reaponsive UI code.</li>
                                    <li class="mb-2">Write efficient queries for core Data.</li>
                                    <li class="mb-2">Manage the code and project on Git in order to keep in sync with other team members and managers.</li>
                                    <li class="mb-2">Validate the cloud system to ensure any new changes do not compromise security of the backend server.</li>
                                    <li class="mb-2">Consulting with our customer facing representatives about software system design and maintenance.</li>
                                    <li class="mb-2">Connect regularly with the Quality Assurance Specialist to deliver stable app.</li>
                                    <li class="mb-2">Perform time profiling and memory leaks assessment.</li>
                                    <li class="mb-2">Write tests for the App.</li>
                                    <li class="mb-2">Following company policies and quality procedures to ensure quality product deliverables.</li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <p class="text-uppercase text-muted">Must Have:</p>
                                <ul style="line-height: 28px;">
                                    <li class="mb-2">Flutter: To build cross platform mobile apps for Android, IOS and Web. This should include from making responsive UIs to efficiently query data and also mange states in an optimized mannner.</li>
                                    <li class="mb-2">Native Android and IOS: To build custom Flutter Packages.</li>
                                    <li class="mb-2">Firebase: Should have experience with Cloud Firestore, Push Notifications, Cloud Functions and Analytics.</li>
                                    <li class="mb-2">Adobe XD: Should know how to use Adobe XD to use the design file and use it to build the app.</li>
                                    <li class="mb-2">Git: To manage and collaborate in different projects with the rest of the team.</li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="btn px-5 btn-lg btn-primary">Apply Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="card">
                            <div class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="card-body">
                                            <div class="avatar lg rounded no-thumbnail"><i class="fa fa-google fa-2x text-danger"></i></div>
                                            <div class="mt-3">
                                                <h5 class="mb-0">Angular Developer</h5>
                                                <span class="text-muted text-uppercase small">ThemeMakker inc. (Paris, France)</span>
                                                <h3 class="mt-2 mb-1">$5k - $9k</h3>
                                                <div class="d-flex align-items-center">
                                                    <span class="badge rounded-pill bg-light text-dark me-1">Ful-Time</span>
                                                    <span class="text-primary ms-auto">Vacancy. <strong>12</strong></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <span class="text-muted small">Required Skills</span>
                                            <ul class="list-group list-group-custom mt-1 mb-2">
                                                <li class="list-group-item">Angular CLI, AngularJs</li>
                                                <li class="list-group-item">NPM, Git, TypeScript</li>
                                                <li class="list-group-item">HTML, SCSS</li>
                                                <li class="list-group-item">Communication</li>
                                            </ul>
                                            <button type="button" class="btn btn-primary btn-sm">Apply Now</button>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="card-body">
                                            <div class="avatar lg rounded no-thumbnail"><i class="fa fa-twitter fa-2x text-info"></i></div>
                                            <div class="mt-3">
                                                <h5 class="mb-0">React Developer</h5>
                                                <span class="text-muted text-uppercase small">ThemeMakker inc. (NY, USA)</span>
                                                <h3 class="mt-2 mb-1">$11k - $15k</h3>
                                                <div class="d-flex align-items-center">
                                                    <span class="badge rounded-pill bg-light text-dark me-1">Remote</span>
                                                    <span class="text-primary ms-auto">Vacancy. <strong>8</strong></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <span class="text-muted small">Required Skills</span>
                                            <ul class="list-group list-group-custom mt-1 mb-2">
                                                <li class="list-group-item">ReactJS, Redux</li>
                                                <li class="list-group-item">Node + NPM</li>
                                                <li class="list-group-item">HTML + CSS & JavaScript</li>
                                                <li class="list-group-item">Communication</li>
                                            </ul>
                                            <button type="button" class="btn btn-primary btn-sm">Apply Now</button>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="card-body">
                                            <div class="avatar lg rounded no-thumbnail"><i class="fa fa-github fa-2x text-dark"></i></div>
                                            <div class="mt-3">
                                                <h5 class="mb-0">Fullstack Developer</h5>
                                                <span class="text-muted text-uppercase small">ThemeMakker inc. (DC, USA)</span>
                                                <h3 class="mt-2 mb-1">$17k - $21k</h3>
                                                <div class="d-flex align-items-center">
                                                    <span class="badge rounded-pill bg-light text-dark me-1">Part-Time</span>
                                                    <span class="text-primary ms-auto">Vacancy. <strong>23</strong></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <span class="text-muted small">Required Skills</span>
                                            <ul class="list-group list-group-custom mt-1 mb-2">
                                                <li class="list-group-item">MEAN, RoR & Django</li>
                                                <li class="list-group-item">Database & Web Storage</li>
                                                <li class="list-group-item">HTML, SCSS</li>
                                                <li class="list-group-item">Communication</li>
                                            </ul>
                                            <button type="button" class="btn btn-primary btn-sm">Apply Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .row end -->

            </div>
        </div>

        <!-- start: page footer -->
		@@include('_page-footer.html')

    </div>

    <!-- Modal: Create project -->
	@@include('_modal-create-project.html')

	<!-- Modal: my notes -->
	@@include('_modal-my-notes.html')

	<!-- Modal: Schedule -->
	@@include('_modal-my-schedule.html')

	<!-- Modal: RecentChat -->
	@@include('_modal-recent-chat.html')

	<!-- Modal: Setting -->
	@@include('_modal-theme-setting.html')

<!-- Jquery Page Js -->
@@include('_scripts.html',{

})
</body>
</html>