<button class="btn btn-primary px-4 text-uppercase" data-bs-toggle="modal" data-bs-target="#ShareEarn" type="button">View in modals</button>

<div class="modal fade" id="ShareEarn" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content text-start">
            <div class="modal-body custom_scroll p-lg-5">
                <button type="button" class="btn-close position-absolute top-0 end-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title">Share & Earn</h4>
                <p class="text-muted">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>
                <div class="row g-4 mt-3">
                    <div class="col-12">
                        <label class="form-label">Share my referral link with friends</label>
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" placeholder="https://thememakker.com/?ref">
                            <button class="btn btn-outline-secondary" type="button">Copy Link</button>
                        </div>
                    </div>
                    <div class="col-12">
                        <a href="#" class="btn btn-outline-secondary"><i class="fa fa-google me-1"></i>Import Contacts</a>
                        <a href="#" class="btn btn-outline-secondary"><i class="fa fa-twitter me-1"></i>Twitter</a>
                        <a href="#" class="btn btn-outline-secondary"><i class="fa fa-facebook-official me-1"></i>Facebook</a>
                    </div>
                    <div class="col-12">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Adding Users by Team Members</label>
                        </div>
                        <span class="text-muted small">If you need more info, please check budget planning</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>