<!-- <button class="btn btn-primary px-4 text-uppercase" data-bs-toggle="modal" data-bs-target="#add_contact" type="button">Blog Post</button> -->

<!-- popup: Add new contacts -->
<div class="modal fade" id="blog_post" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Create a new post</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row g-3 mb-3">
                <label class="col-xl-3 col-sm-4 col-form-label">Blog Title *</label>
                <div class="col-xl-9 col-sm-8">
                    <input type="text" class="form-control form-control-lg" placeholder="Blog Title">
                </div>
            </div>
            <div class="row g-3 mb-3">
                <label class="col-xl-3 col-sm-4 col-form-label">Type</label>
                <div class="col-xl-9 col-sm-8">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="typeText" value="Type1">
                        <label class="form-check-label" for="typeText">Text</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="typeImage" value="Type2">
                        <label class="form-check-label" for="typeImage">Image</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="typeAudio" value="Type3">
                        <label class="form-check-label" for="typeAudio">Audio</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="typeVideo" value="Type4">
                        <label class="form-check-label" for="typeVideo">Video</label>
                    </div>
                </div>
            </div>
            <div class="row g-3 mb-3">
                <label class="col-xl-3 col-sm-4 col-form-label">Select Category *</label>
                <div class="col-xl-9 col-sm-8">
                    <select class="form-select form-select-lg" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">Design</option>
                        <option value="2">Travel</option>
                        <option value="3">Animals</option>
                        <option value="4">Sports & Fitness</option>
                        <option value="5">lifestyle</option>
                        <option value="6">Food & Drink</option>
                    </select>
                </div>
            </div>
            <div class="row g-3 mb-3">
                <label class="col-xl-3 col-sm-4 col-form-label">Tage</label>
                <div class="col-xl-9 col-sm-8">
                    <input type="text" class="form-control form-control-lg" data-role="tagsinput" value="Design,Travel,lifestyle">
                </div>
            </div>
            <div class="row g-3 mb-3">
                <label class="col-xl-3 col-sm-4 col-form-label">Content</label>
                <div class="col-xl-9 col-sm-8">
                    <div class="summernote">
                        Hello there,
                        <br/>
                        <p>The toolbar can be customized and it also supports various callbacks such as <code>oninit</code>, <code>onfocus</code>, <code>onpaste</code> and many more.</p>
                        <p>Please try <b>paste some texts</b> here</p>
                    </div>
                </div>
            </div>
            <div class="row g-3">
                <label class="col-xl-3 col-sm-4 col-form-label">Attachment</label>
                <div class="col-xl-9 col-sm-8">
                    <div class="small text-muted">Note: <small>Image size should be 1024x640 with JPG file format.</small></div>
                    <input type="file" class="dropify">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
            <button type="button" class="btn btn-primary">Publish</button>
        </div>
      </div>
    </div>
</div>

<script src="@@webRoot/assets/js/bundle/bootstraptagsinput.bundle.js"></script>
<script src="@@webRoot/assets/js/bundle/summernote.bundle.js"></script>
<script src="@@webRoot/assets/js/bundle/dropify.bundle.js"></script>

<!-- Jquery Page Js -->
<script>
    $(document).ready(function() {
        $('.summernote').summernote();
        $('.note-editor .note-btn').on('click',function(){
            $(this).next().toggleClass("show");
        });
    });
    
    $(function() {
        $('.dropify').dropify();

        var drEvent = $('#dropify-event').dropify();
        drEvent.on('dropify.beforeClear', function(event, element) {
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });

        drEvent.on('dropify.afterClear', function(event, element) {
            alert('File deleted');
        });
    });

</script>