<!-- <button class="btn btn-primary px-4 text-uppercase" data-bs-toggle="modal" data-bs-target="#book_appointment" type="button">book appointment</button> -->


<div class="modal fade" id="book_appointment" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Appointment Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="checkbox" required="" data-parsley-errors-container="#error-checkbox" data-parsley-multiple="checkbox">
                        <label class="form-check-label" for="flexCheckDefault">
                            <strong>Brian Swader</strong>
                            <span class="text-muted d-flex small">Jan 12, 2021 11:30 AM</span>
                        </label>
                    </div>
                    <div>
                        <img class="avatar sm rounded-circle ms-1 lift" src="@@webRoot/assets/img/xs/avatar1.jpg" data-bs-toggle="tooltip" data-bs-placement="top" title="" alt="" data-original-title="Avatar Name">
                    </div>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="flexCheckDefault2" name="checkbox" required="" data-parsley-errors-container="#error-checkbox" data-parsley-multiple="checkbox">
                        <label class="form-check-label" for="flexCheckDefault2">
                            <strong>Frank Camly</strong>
                            <span class="text-muted d-flex small">Jan 12, 2021 2:45 PM</span>
                        </label>
                    </div>
                    <div>
                        <img class="avatar sm rounded-circle ms-1 lift" src="@@webRoot/assets/img/xs/avatar2.jpg" data-bs-toggle="tooltip" data-bs-placement="top" title="" alt="" data-original-title="Avatar Name">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
