<!-- <button class="btn btn-primary px-4 text-uppercase" data-bs-toggle="modal" data-bs-target="#invoice_send" type="button">invoice send</button> -->

<div class="modal fade" id="invoice_send" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Invoice #RA0011</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body custom_scroll">
                <table class="card p-2">
                    <tr>
                        <td></td>
                        <td style="text-align: center; width: 100%;">
                            <table class="table table-borderless mb-0" width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="text-align: center;">
                                        <h2 style="margin-bottom: 0;">$33.98 Paid</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 30px 0; padding-top: 10px; text-align: center;">
                                        <h4 style="margin-bottom: 0;">Thanks for using TTM Inc.</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 20px 0;">
                                        <table width="100%">
                                            <tr>
                                                <td>
                                                    Attn: <strong>Daniel Marek</strong> 43-190 Mikolow, Poland<br>
                                                    Email: marek@daniel.com<br>
                                                    Phone: +48 123 456 789<br>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table class="table table-borderless table-striped mb-0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td style="text-align: left;">Extended License</td>
                                                            <td style="text-align: right;">$19.99</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: left;">1 year subcription</td>
                                                            <td style="text-align: right;">$9.99</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: left;">Instalation and Customization</td>
                                                            <td style="text-align: right;">$4.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: right;" width="80%"><strong>Total</strong></td>
                                                            <td style="text-align: right;">$33.98</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 10px 0; text-align: center;">
                                        <a href="#">View in browser</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 0; text-align: center;">
                                        TTM Inc. 70 Bowman St. South Windsor, CT 06074
                                    </td>
                                </tr>
                            </table>
                            <table width="100%" style="text-align: center; margin-top: 40px;">
                                <tr>
                                    <td class="aligncenter content-block">Questions? Email <a href="mailto:">info@thememakker.com</a></td>
                                </tr>
                            </table>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Send Email</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>