<button class="btn btn-primary px-4 text-uppercase" data-bs-toggle="modal" data-bs-target="#RequestQuote" type="button">View in modals</button>

<div class="modal fade" id="RequestQuote" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content text-start">
            <div class="modal-body custom_scroll p-lg-5">
                <div class="row g-2">
                    <div class="col-12 mb-4">
                        <h4>Request a Quote</h4>
                        <span class="text-muted">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</span>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="First Name">
                            <label>First Name</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="Last Name">
                            <label>Last Name</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form-floating">
                            <input type="number" class="form-control" placeholder="Mobile Number">
                            <label>Mobile Number</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form-floating">
                            <input type="email" class="form-control" placeholder="Email">
                            <label>Email</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="Company Name">
                            <label>Company Name</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="Evaluate Budget">
                            <label>Evaluate Budget</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-floating">
                            <select class="form-select">
                              <option selected hidden>Open this select menu</option>
                              <option value="1">Web Design</option>
                              <option value="2">Mobile Application</option>
                              <option value="3">Web Development</option>
                            </select>
                            <label>Project Type</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-floating">
                            <select class="form-select">
                              <option selected hidden>Open this select menu</option>
                              <option value="1">USA</option>
                              <option value="2">UK</option>
                              <option value="3">India</option>
                            </select>
                            <label>Country</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="Maximum time for the project">
                            <label>Maximum time for the project</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="Required Skills">
                            <label>Required Skills</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="form-label small">Upload up to 10 files</label>
                        <input class="form-control" type="file" multiple>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Add project details" style="height: 100px"></textarea>
                            <label>Add project details</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-lg btn-secondary text-uppercase" type="button" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-lg btn-primary text-uppercase" type="button">Request a Quote</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>