<button class="btn btn-primary px-4 text-uppercase" data-bs-toggle="modal" data-bs-target="#WeatherReport" type="button">View in modals</button>

<div class="modal fade" id="WeatherReport" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content text-start">
            <div class="modal-body p-lg-5 custom_scroll">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5>Delhi,IN</h5>
                        <h6>December 04 2021</h6>
                        <small>Cloudy</small>
                    </div>
                    <div class="text-end">
                        <h2 class="fw-bold text-primary mb-0"><span>39°</span></h2>
                    </div>
                </div>
                <div class="card bg-body my-4 p-3 d-flex flex-row">
                    <div class="flex-fill">
                        <div class="flex mb-2 justify-between items-center">
                            <span>Temp</span>
                            <small class="px-2 inline-block">39.11&nbsp;°</small>
                        </div>
                        <div class="flex mb-2 justify-between items-center">
                            <span>Feels like</span>
                            <small class="px-2 inline-block">33.33&nbsp;°</small>
                        </div>
                    </div>
                    <div class="flex-fill">
                        <div class="flex mb-2 justify-between items-center">
                            <span>Temp min</span>
                            <small class="px-2 inline-block">24.9&nbsp;°</small>
                        </div>
                        <div class="flex mb-2 justify-between items-center">
                            <span>Temp max</span>
                            <small class="px-2 inline-block">39&nbsp;°</small>
                        </div>
                    </div>
                </div>
                <h6 class="card-title">Forecast</h6>
                <div class="card p-3 d-flex justify-content-between flex-row" style="flex-flow: initial;">
                    <div class="text-center flex items-center justify-center flex-col"><span class="block my-1">Sun</span><i class="wi wi-cloudy-gusts fs-4 w-100 py-2"></i><span class="block my-1">38.3°</span></div>
                    <div class="text-center flex items-center justify-center flex-col"><span class="block my-1">Mon</span><i class="wi wi-cloudy fs-4 w-100 py-2"></i><span class="block my-1">39.9°</span></div>
                    <div class="text-center flex items-center justify-center flex-col"><span class="block my-1">Mon</span><i class="wi wi-cloudy fs-4 w-100 py-2"></i><span class="block my-1">40.1°</span></div>
                    <div class="text-center flex items-center justify-center flex-col"><span class="block my-1">Mon</span><i class="wi wi-hail fs-4 w-100 py-2"></i><span class="block my-1">41.5°</span></div>
                    <div class="text-center flex items-center justify-center flex-col"><span class="block my-1">Mon</span><i class="wi wi-rain fs-4 w-100 py-2"></i><span class="block my-1">40.1°</span></div>
                    <div class="text-center flex items-center justify-center flex-col"><span class="block my-1">Mon</span><i class="wi wi-rain-wind fs-4 w-100 py-2"></i><span class="block my-1">38°</span></div>
                </div>
            </div>
        </div>
    </div>
</div>