<button class="btn btn-primary px-4 text-uppercase" data-bs-toggle="modal" data-bs-target="#SearchUsers" type="button">View in modals</button>

<div class="modal fade" id="SearchUsers" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content text-start">
            <div class="modal-body custom_scroll p-lg-5">
                <button type="button" class="btn-close position-absolute top-0 end-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close"></button>
                <h5 class="modal-title">Search Users</h5>
                <p class="text-muted small">If you are going to use a passage of Lorem Ipsum, you need</p>
                <div class="form-floating mb-4">
                    <input type="text" class="form-control" placeholder="Search by username, full name or email...">
                    <label>Search by username, full name or email...</label>
                </div>
                <h6 class="card-title">Recently searched:</h6>
                <ul class="list-group list-group-flush list-group-custom custom_scroll mb-0" style="height: 300px;">
                    <li class="list-group-item d-flex align-items-center">
                        <img class="avatar sm rounded-circle" src="@@webRoot/assets/img/xs/avatar1.jpg" alt="">
                        <div class="flex-fill ms-2">
                            <div class="h6 mb-0">Chris Fox</div>
                        </div>
                        <small class="text-muted">Angular Developer</small>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <img class="avatar sm rounded-circle" src="@@webRoot/assets/img/xs/avatar2.jpg" alt="">
                        <div class="flex-fill ms-2">
                            <div class="h6 mb-0">Robert</div>
                        </div>
                        <small class="text-muted">ReactJs Developer</small>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <img class="avatar sm rounded-circle" src="@@webRoot/assets/img/xs/avatar3.jpg" alt="">
                        <div class="flex-fill ms-2">
                            <div class="h6 mb-0">Alexander</div>
                        </div>
                        <small class="text-muted">NodeJs Developer</small>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <img class="avatar sm rounded-circle" src="@@webRoot/assets/img/xs/avatar4.jpg" alt="">
                        <div class="flex-fill ms-2">
                            <div class="h6 mb-0">Orlando Lentz</div>
                        </div>
                        <small class="text-muted">Sr. Designer</small>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <img class="avatar sm rounded-circle" src="@@webRoot/assets/img/xs/avatar5.jpg" alt="">
                        <div class="flex-fill ms-2">
                            <div class="h6 mb-0">Chris Fox</div>
                        </div>
                        <small class="text-muted">Designer</small>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <img class="avatar sm rounded-circle" src="@@webRoot/assets/img/xs/avatar6.jpg" alt="">
                        <div class="flex-fill ms-2">
                            <div class="h6 mb-0">Nellie Maxwell</div>
                        </div>
                        <small class="text-muted">Front-End Developer</small>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <img class="avatar sm rounded-circle" src="@@webRoot/assets/img/xs/avatar7.jpg" alt="">
                        <div class="flex-fill ms-2">
                            <div class="h6 mb-0">Marshall Nichols</div>
                        </div>
                        <small class="text-muted">QA</small>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                        <img class="avatar sm rounded-circle" src="@@webRoot/assets/img/xs/avatar8.jpg" alt="">
                        <div class="flex-fill ms-2">
                            <div class="h6 mb-0">Chris Fox</div>
                        </div>
                        <small class="text-muted">Laravel Developer</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>