<!-- <button class="btn btn-primary px-4 text-uppercase" data-bs-toggle="modal" data-bs-target="#add_items" type="button">Add Items</button> -->

<div class="modal fade" id="add_sales_order" tabindex="-1" aria-labelledby="add_sales_order" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Sales Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 class="fw-bold">Basic Information</h6>
                <div class="row g-3">
                    <div class="col-lg-6 col-md-12">
                        <div class="form-floating">
                            <input type="date" class="form-control datepicker" placeholder="Date">
                            <label>Date</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="Reference No *">
                            <label>Reference No *</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="Biller *">
                            <label>Biller *</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="Customer *">
                            <label>Customer *</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-floating">
                            <select class="form-select">
                                <option value="1">GST 5%</option>
                                <option value="2">Vat 5%</option>
                            </select>
                            <label for="floatingSelect">Order Tax *</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-floating">
                            <input type="number" class="form-control" placeholder="Order Discount">
                            <label>Order Discount</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-floating">
                            <select class="form-select">
                                <option value="1">Completed</option>
                                <option value="2">Pending</option>
                            </select>
                            <label for="floatingSelect">Sale Status *</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-floating">
                            <select class="form-select">
                                <option value="1">Pending</option>
                                <option value="2">Due</option>
                                <option value="3">Paid</option>
                            </select>
                            <label for="floatingSelect">Payment Status *</label>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <label for="formFile" class="form-label">Attach Document</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-floating">
                            <textarea type="text" class="form-control" placeholder="Description" style="height: 100px"></textarea>
                            <label>Sale Note *</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>