<!-- <button class="btn btn-primary px-4 text-uppercase" data-bs-toggle="modal" data-bs-target="#add_workout" type="button">Add Workout</button> -->

<!-- Modal: Create Bookmarks -->
<div class="modal fade" id="add_workout" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Workout</h5>
            </div>
            <div class="modal-body">
                <div class="row g-1 mb-4">
                    <div class="col-6">
                        <h6>Athlete</h6>
                        <div class="form-floating mb-1">
                            <select class="form-select form-control">
                                <option>Select</option>
                                <option>Marshall Nichols</option>
                                <option>Susie Willis</option>
                                <option>Francisco Vasquez</option>
                                <option>Jane Hunt</option>
                                <option>Susie Willis</option>
                                <option>Debra Stewart</option>
                                <option>Susie Willis</option>
                                <option>Francisco Vasquez</option>
                            </select>
                            <label class="form-label">Athlete</label>
                        </div>
                        <div class="form-floating mb-1">
                            <select class="form-select form-control">
                                <option>Select</option>
                                <option>Marshall Nichols</option>
                                <option>Susie Willis</option>
                                <option>Francisco Vasquez</option>
                                <option>Jane Hunt</option>
                                <option>Susie Willis</option>
                                <option>Debra Stewart</option>
                                <option>Susie Willis</option>
                                <option>Francisco Vasquez</option>
                            </select>
                            <label class="form-label">Athlete</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <h6>Select Date</h6>
                        <div class="form-floating mb-1">
                            <input type="date" class="form-control datepicker" placeholder="Enter Date">
                            <label>Select Date</label>
                        </div>
                        <div class="form-floating">
                            <input type="date" class="form-control datepicker" placeholder="Enter Date">
                            <label>Select Date</label>
                        </div>
                    </div>
                    <div class="col-12 text-center text-md-end">
                        <button type="button" class="btn btn-secondary btn-sm px-4"><i class="fa fa-plus"></i> Add Athlete</button>
                    </div>
                </div>
                <div class="row g-1">
                    <div class="col-6">
                        <h6>Workout Name</h6>
                        <div class="form-floating mb-1">
                            <select class="form-select form-control">
                                <option>Select</option>
                                <option>Upper-Body</option>
                                <option>Rest</option>
                                <option>Strenngth Workout 1</option>
                                <option>Strenngth Workout 2</option>
                                <option>Strenngth Workout 3</option>
                                <option>Strenngth Workout 4</option>
                                <option>Full-Body</option>
                                <option>abs</option>
                                <option>Cross-Training</option>
                            </select>
                            <label class="form-label">Workout Name</label>
                        </div>
                        <div class="form-floating mb-1">
                            <select class="form-select form-control">
                                <option>Select</option>
                                <option>Upper-Body</option>
                                <option>Rest</option>
                                <option>Strenngth Workout 1</option>
                                <option>Strenngth Workout 2</option>
                                <option>Strenngth Workout 3</option>
                                <option>Strenngth Workout 4</option>
                                <option>Full-Body</option>
                                <option>abs</option>
                                <option>Cross-Training</option>
                            </select>
                            <label class="form-label">Workout Name</label>
                        </div>
                        <div class="form-floating mb-1">
                            <select class="form-select form-control">
                                <option>Select</option>
                                <option>Upper-Body</option>
                                <option>Rest</option>
                                <option>Strenngth Workout 1</option>
                                <option>Strenngth Workout 2</option>
                                <option>Strenngth Workout 3</option>
                                <option>Strenngth Workout 4</option>
                                <option>Full-Body</option>
                                <option>abs</option>
                                <option>Cross-Training</option>
                            </select>
                            <label class="form-label">Workout Name</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <h6>Workout Time</h6>
                        <div class="form-floating mb-1">
                            <input type="time" class="form-control" placeholder="Enter here">
                            <label class="form-label">Workout Time</label>
                        </div>
                        <div class="form-floating mb-1">
                            <input type="time" class="form-control" placeholder="Enter here">
                            <label class="form-label">Workout Time</label>
                        </div>
                        <div class="form-floating mb-1">
                            <input type="time" class="form-control" placeholder="Enter here">
                            <label class="form-label">Workout Time</label>
                        </div>
                    </div>
                    <div class="col-12 text-center text-md-end">
                        <button type="button" class="btn btn-secondary btn-sm px-4"><i class="fa fa-plus"></i> Add Workout</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn px-4 btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn px-4 btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>