<button class="btn btn-primary px-4 text-uppercase" data-bs-toggle="modal" data-bs-target="#ConnectionRequest" type="button">View in modals</button>

<div class="modal fade" id="ConnectionRequest" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content text-start">
            <div class="modal-body custom_scroll p-lg-5">
                <button type="button" class="btn-close position-absolute top-0 end-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close"></button>
                <h5 class="modal-title">Connection Request</h5>
                <p class="text-muted small">If you are going to use a passage of Lorem Ipsum, you need</p>
                <ul class="list-unstyled custom_scroll mb-0">
                    <li class="card p-3 my-1 flex-row">
                        <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar1.jpg" alt="">
                        <div class="flex-fill ms-3">
                            <div class="h6 mb-0">Chris Fox</div>
                            <span class="text-muted small">21 mutual connections Sr. ReatJs Developer at Facebook</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <button class="btn mx-1 btn-light-primary"><i class="fa fa-check"></i><span class="d-none d-lg-inline-block ms-2">Accept</span></button>
                            <button class="btn mx-1 btn-light-danger"><i class="fa fa-close"></i><span class="d-none d-lg-inline-block ms-2">Ignore</span></button>
                        </div>
                    </li>
                    <li class="card p-3 my-1 flex-row">
                        <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar2.jpg" alt="">
                        <div class="flex-fill ms-3">
                            <div class="h6 mb-0">Marshall Nichols</div>
                            <span class="text-muted small">5 mutual connections Web Designer at Google</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <button class="btn mx-1 btn-light-primary"><i class="fa fa-check"></i><span class="d-none d-lg-inline-block ms-2">Accept</span></button>
                            <button class="btn mx-1 btn-light-danger"><i class="fa fa-close"></i><span class="d-none d-lg-inline-block ms-2">Ignore</span></button>
                        </div>
                    </li>
                    <li class="card p-3 my-1 flex-row">
                        <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar3.jpg" alt="">
                        <div class="flex-fill ms-3">
                            <div class="h6 mb-0">Orlando Lentz</div>
                            <span class="text-muted small">9 mutual connections Laravel Developer at Linkedin</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <button class="btn mx-1 btn-light-primary"><i class="fa fa-check"></i><span class="d-none d-lg-inline-block ms-2">Accept</span></button>
                            <button class="btn mx-1 btn-light-danger"><i class="fa fa-close"></i><span class="d-none d-lg-inline-block ms-2">Ignore</span></button>
                        </div>
                    </li>
                    <li class="card p-3 my-1 flex-row">
                        <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar4.jpg" alt="">
                        <div class="flex-fill ms-3">
                            <div class="h6 mb-0">Alexander</div>
                            <span class="text-muted small">18 mutual connections PHP Developer at Facebook</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <button class="btn mx-1 btn-light-primary"><i class="fa fa-check"></i><span class="d-none d-lg-inline-block ms-2">Accept</span></button>
                            <button class="btn mx-1 btn-light-danger"><i class="fa fa-close"></i><span class="d-none d-lg-inline-block ms-2">Ignore</span></button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>