<div class="modal fade" id="job_details" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Flutter Web &amp; Mobile Developer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body custom_scroll">
                <div class="card-body">
                    <div class="mb-2">
                        <span class="text-muted me-3"><i class="fa fa-clock-o"></i> Freelance</span>
                        <span class="text-muted me-3"><i class="fa fa-wifi ps-1"></i> Remote Work Allow</span>
                        <span class="text-muted me-3"><i class="fa fa-money ps-1"></i> $28 / per hour</span>
                    </div>
                    <span class="text-muted mb-2"><i class="fa fa-map-marker ps-1"></i> 123 6th St. Melbourne, FL 32904</span>
                    <div class="d-flex align-items-center mt-3">
                        <span class="small text-uppercase me-3">Good To Hav:</span>
                        <ul class="d-flex flex-row list-unstyled mb-0">
                            <li><a href="#" class="me-1 badge chart-color1 text-light lift">Bootstrap</a></li>
                            <li><a href="#" class="me-1 badge chart-color2 text-light lift">JavaScript</a></li>
                            <li><a href="#" class="me-1 badge chart-color3 text-light lift">CSS</a></li>
                            <li><a href="#" class="me-1 badge chart-color4 text-light lift">HTML</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body bg-body">
                    <div class="d-flex align-items-start">
                        <div class="avatar rounded no-thumbnail bg-secondary text-white fw-bold">TTM</div>
                        <div class="flex-fill ms-4">
                            <h6 class="mb-0 fw-bold">ThemeMakker Infotech <a href="https://thememakker.com/" target="_blank" title="ThemeMakker">#</a></h6>
                            <span class="text-muted small">Shaping Up Your Ideas</span>
                            <p class="text-uppercase text-muted mb-0 mt-3">Company Details</p>
                            <p class="lh-lg mb-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="text-uppercase text-muted">Responsibilities</p>
                    <ul class="lh-lg">
                        <li>Design and Build sophisticated and highly scalable apps using Flutter.</li>
                        <li>Translate and Build the designs and Wireframes into hight quality reaponsive UI code.</li>
                        <li>Write efficient queries for core Data.</li>
                        <li>Perform time profiling and memory leaks assessment.</li>
                        <li>Write tests for the App.</li>
                        <li>Following company policies and quality procedures to ensure quality product deliverables.</li>
                    </ul>
                </div>
                <div class="card-body">
                    <p class="text-uppercase text-muted">Must Have:</p>
                    <ul class="lh-lg">
                        <li>Native Android and IOS: To build custom Flutter Packages.</li>
                        <li>Firebase: Should have experience with Cloud Firestore, Cloud Functions and Analytics.</li>
                        <li>Adobe XD: Should know how to use Adobe XD to use the design file and use it to build the app.</li>
                        <li>Git: To manage and collaborate in different projects with the rest of the team.</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Apply Now</button>
            </div>
        </div>
    </div>
</div>