<button class="btn btn-primary px-4 text-uppercase" data-bs-toggle="modal" data-bs-target="#Joblisting" type="button">View in modals</button>

<div class="modal fade" id="Joblisting" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content text-start">
            <div class="modal-header">
                <h5 class="modal-title">Job listing</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-lg-5 custom_scroll">
                <p class="text-muted small">If you are going to use a passage of Lorem Ipsum, you need</p>
                <div class="card mb-1">
                    <div class="card-body">
                        <span class="chart-color1 small rounded-pill text-light py-1 px-3">Creative &amp; Art</span>
                        <h5 class="mt-4"><a href="#">User Experience Designer Employee</a></h5>
                        <ul class="list-unstyled d-flex my-3">
                            <li class="me-4"><i class="fa fa-map-marker pe-2"></i> New York, USA</li>
                            <li><i class="fa fa-clock-o pe-2"></i>Full Time</li>
                        </ul>
                        <div class="d-flex align-items-center justify-content-between fs-6">
                            <p class="mb-0">Globe Solution Ltd.</p>
                            <span>2h ago</span>
                        </div>
                    </div>
                </div>
                <div class="card mb-1">
                    <div class="card-body">
                        <span class="chart-color5 small rounded-pill text-light py-1 px-3">UI/UX</span>
                        <h5 class="mt-4"><a href="#">User Experience Designer Employee</a></h5>
                        <ul class="list-unstyled d-flex my-3">
                            <li class="me-4"><i class="fa fa-map-marker pe-2"></i> New York, USA</li>
                            <li><i class="fa fa-clock-o pe-2"></i>Full Time</li>
                        </ul>
                        <div class="d-flex align-items-center justify-content-between fs-6">
                            <p class="mb-0">Globe Solution Ltd.</p>
                            <span>2h ago</span>
                        </div>
                    </div>
                </div>
                <div class="card mb-1">
                    <div class="card-body">
                        <span class="chart-color3 small rounded-pill text-light py-1 px-3">Finance & Accounting</span>
                        <h5 class="mt-4"><a href="#">Foreign Language Research Analyst</a></h5>
                        <ul class="list-unstyled d-flex my-3">
                            <li class="me-4"><i class="fa fa-map-marker pe-2"></i> New York, USA</li>
                            <li><i class="fa fa-clock-o pe-2"></i>Full Time</li>
                        </ul>
                        <div class="d-flex align-items-center justify-content-between fs-6">
                            <p class="mb-0">Globe Solution Ltd.</p>
                            <span>2h ago</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>