<div class="section @@cardClass">
    <div class="container">

        <div class="row @@RowcardClass">
            <div class="col-lg-12">
                <h3 class="@@SectionTitleClass">@@SectionTitle</h3>
                <p class="@@SectionSubTitleClass">@@SectionSubTitle</p>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body d-flex align-items-center flex-column flex-md-row">
                        <img class="w240 rounded" src="@@webRoot/assets/img/lg/avatar8.jpg" alt="">
                        <div class="media-body ms-md-4 m-0 mt-4 mt-md-0 text-md-start text-center w-100">
                            <h5 class="fw-bold mb-2">Edit Toke</h5>
                            <div class="mb-3">
                                <p class="mt-2">I have been a Personal trainer for 2 years building a women's fitness company Bootcamp company in 2018.</p>
                            </div>
                            <div class="row g-2 mb-2">
                                <div class="col-12">
                                    <strong>11 year</strong>
                                    <div class="text-muted small">Experience</div>
                                </div>
                                <div class="col-12">
                                    <strong>Anesthesiologist</strong>
                                    <div class="text-muted small">Speciality</div>
                                </div>
                            </div>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body d-flex align-items-center flex-column flex-md-row">
                        <img class="w240 rounded" src="@@webRoot/assets/img/lg/avatar6.jpg" alt="">
                        <div class="media-body ms-md-4 m-0 mt-4 mt-md-0 text-md-start text-center w-100">
                            <h5 class="fw-bold mb-2">Edit Toke</h5>
                            <div class="mb-3">
                                <p class="mt-2">I have been a Personal trainer for 2 years building a women's fitness company Bootcamp company in 2018.</p>
                            </div>
                            <div class="row g-2 mb-2">
                                <div class="col-12">
                                    <strong>11 year</strong>
                                    <div class="text-muted small">Experience</div>
                                </div>
                                <div class="col-12">
                                    <strong>Anesthesiologist</strong>
                                    <div class="text-muted small">Speciality</div>
                                </div>
                            </div>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .row end -->
        
    </div>
</div>