<div class="section @@cardClass">
    <div class="container">

        <div class="row justify-content-center mb-3">
            <div class="col-lg-12">
                <span class="@@SectionTagClass">@@SectionTag</span>
                <h3 class="mb-1 mt-4 color-900">@@SectionTitle</h3>
                <p class="lead">There are many variations of passages of the majority have suffered alteration.</p>
            </div>
        </div> <!-- .row end -->

        <div class="row g-3">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="mb-3">
                    <strong class="me-2 fs-2 text-gradient">01.</strong>
                    <h6 class="text-uppercase">Web Designing</h6>
                </div>
                <ul class="list-unstyled lh-lg mb-0">
                    <li><a class="color-600" href="#"><i class="fa small fa-plus me-3"></i>UI/UX Design</a></li>
                    <li><a class="color-600" href="#"><i class="fa small fa-plus me-3"></i>App Design</a></li>
                    <li><a class="color-600" href="#"><i class="fa small fa-plus me-3"></i>User Interface Design</a></li>
                    <li><a class="color-600" href="#"><i class="fa small fa-plus me-3"></i>Theme Layout</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="mb-3">
                    <strong class="me-2 fs-2 text-gradient">02.</strong>
                    <h6 class="text-uppercase">Web Development</h6>
                </div>
                <ul class="list-unstyled lh-lg mb-0">
                    <li><a class="color-600" href="#"><i class="fa small fa-plus me-3"></i>WordPress Web Development</a></li>
                    <li><a class="color-600" href="#"><i class="fa small fa-plus me-3"></i>App Development</a></li>
                    <li><a class="color-600" href="#"><i class="fa small fa-plus me-3"></i>E-commerce</a></li>
                    <li><a class="color-600" href="#"><i class="fa small fa-plus me-3"></i>Email Template Development</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="mb-3">
                    <strong class="me-2 fs-2 text-gradient">03.</strong>
                    <h6 class="text-uppercase">Social Marketing</h6>
                </div>
                <ul class="list-unstyled lh-lg mb-0">
                    <li><a class="color-600" href="#"><i class="fa small fa-plus me-3"></i>Market Research</a></li>
                    <li><a class="color-600" href="#"><i class="fa small fa-plus me-3"></i>Online marketing</a></li>
                    <li><a class="color-600" href="#"><i class="fa small fa-plus me-3"></i>Social media marketing</a></li>
                    <li><a class="color-600" href="#"><i class="fa small fa-plus me-3"></i>Evaluate Social Media</a></li>
                    <li><a class="color-600" href="#"><i class="fa small fa-plus me-3"></i>Work Out When To Post</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="mb-3">
                    <strong class="me-2 fs-2 text-gradient">04.</strong>
                    <h6 class="text-uppercase">App Marketing</h6>
                </div>
                <ul class="list-unstyled lh-lg mb-0">
                    <li><a class="color-600" href="#"><i class="fa small fa-plus me-3"></i>Market Research</a></li>
                    <li><a class="color-600" href="#"><i class="fa small fa-plus me-3"></i>Online marketing</a></li>
                    <li><a class="color-600" href="#"><i class="fa small fa-plus me-3"></i>Social media marketing</a></li>
                    <li><a class="color-600" href="#"><i class="fa small fa-plus me-3"></i>Evaluate Social Media</a></li>
                    <li><a class="color-600" href="#"><i class="fa small fa-plus me-3"></i>Work Out When To Post</a></li>
                </ul>
            </div>
        </div> <!-- .row end -->

    </div>
</div>