<div class="section @@cardClass">
    <div class="container">

        <div class="row justify-content-center mb-3">
            <div class="col-lg-12">
                <span class="@@SectionTagClass">@@SectionTag</span>
                <h3 class="mb-1 mt-4 color-900">@@SectionTitle</h3>
                <p class="lead">There are many variations of passages of the majority have suffered alteration.</p>
            </div>
        </div> <!-- .row end -->

        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-cols-1 g-5">
            <div class="col service-list">
                <div class="avatar lg rounded no-thumbnail chart-color1 text-white mb-3"><i class="fa fa-desktop fa-lg"></i></div>
                <h5>Web Design</h5>
                <p class="text-muted">Lorem Ipsum has been industry's dummy text ever since the 1500s</p>
                <ul class="list-unstyled mt-4 lh-lg">
                    <li><i class="fa fa-minus me-2 small"></i>UI/UX design</li>
                    <li><i class="fa fa-minus me-2 small"></i>FrontEnd Development</li>
                    <li><i class="fa fa-minus me-2 small"></i>Mobile Design</li>
                    <li><i class="fa fa-minus me-2 small"></i>Prototyping</li>
                </ul>
            </div>
            <div class="col service-list">
                <div class="avatar lg rounded no-thumbnail chart-color2 text-white mb-3"><i class="fa fa-apple fa-lg"></i></div>
                <h5>Mobile Applications</h5>
                <p class="text-muted">Lorem ipsum dolor amet constetur adipisicing explicabo inventore.</p>
                <ul class="list-unstyled mt-4 lh-lg">
                    <li><i class="fa fa-minus me-2 small"></i>iOs Development</li>
                    <li><i class="fa fa-minus me-2 small"></i>Android Development</li>
                    <li><i class="fa fa-minus me-2 small"></i>Flutter App Development</li>
                    <li><i class="fa fa-minus me-2 small"></i>React Native Development</li>
                </ul>
            </div>
            <div class="col service-list">
                <div class="avatar lg rounded no-thumbnail chart-color3 text-white mb-3"><i class="fa fa-paint-brush fa-lg"></i></div>
                <h5>Graphic Design</h5>
                <p class="text-muted">The point of using Lorem is it has a more-or-less normal of letters.</p>
                <ul class="list-unstyled mt-4 lh-lg">
                    <li><i class="fa fa-minus me-2 small"></i>Visual identity</li>
                    <li><i class="fa fa-minus me-2 small"></i>Marketing &amp; advertising graphic </li>
                    <li><i class="fa fa-minus me-2 small"></i>Motion graphic design</li>
                    <li><i class="fa fa-minus me-2 small"></i>Art and illustration</li>
                    <li><i class="fa fa-minus me-2 small"></i>User interface graphic design</li>
                    <li><i class="fa fa-minus me-2 small"></i>Publication graphic design</li>
                    <li><i class="fa fa-minus me-2 small"></i>Packaging graphic design</li>
                </ul>
            </div>
            <div class="col service-list">
                <div class="avatar lg rounded no-thumbnail chart-color4 text-white mb-3"><i class="fa fa-calendar-o fa-lg"></i></div>
                <h5>SEO</h5>
                <p class="text-muted">If you are going to use a passage of Lorem Ipsum, you need to be sure.</p>
                <ul class="list-unstyled mt-4 lh-lg">
                    <li><i class="fa fa-minus me-2 small"></i>White Hat SEO</li>
                    <li><i class="fa fa-minus me-2 small"></i>Negative SEO</li>
                    <li><i class="fa fa-minus me-2 small"></i>On-Page SEO</li>
                    <li><i class="fa fa-minus me-2 small"></i>Technical SEO</li>
                    <li><i class="fa fa-minus me-2 small"></i>Off-Page SEO</li>
                    <li><i class="fa fa-minus me-2 small"></i>Black-Hat SEO</li>
                </ul>
            </div>
        </div> <!-- .row end -->

    </div>
</div>