<!DOCTYPE html>
<html lang="en">
<head>
    @@include('_head.html',{
        "pageTitle": "Horizontal version",
        "daterangepicker": true,
    })
</head>
 
<body class="layout-1 h-menu" data-luno="theme-blue">

    <!-- start: sidebar -->
	@@include('sidebar/_sidebar-menu.html', {"page": "index"})

    <!-- start: body area -->
    <div class="wrapper">

        <!-- start: page header -->
		@@include('_page-header.html')

        <!-- start: page toolbar -->
        <div class="page-toolbar px-xl-4 px-sm-2 px-0 py-3">
            <div class="container-fluid">

                <div class="row g-3 mb-3 align-items-center">
                    <div class="col">
                        <ol class="breadcrumb bg-transparent mb-0">
                            <li class="breadcrumb-item"><a class="text-secondary" href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-secondary" href="layouts.html">Layouts</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Horizontal Menu</li>
                        </ol>
                    </div>
                </div> <!-- .row end -->
                <div class="row align-items-center">
                    <div class="col">
                        <h1 class="fs-5 color-900 mt-1 mb-0">Welcome back, Allie!</h1>
                        <small class="text-muted">You have 12 new messages and 7 new notifications.</small>
                    </div>
                    <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-7 col-sm-12 mt-2 mt-md-0">
                        <!-- daterange picker -->
                        @@include('widgets/_daterange.html')
                    </div>
                </div> <!-- .row end -->

            </div>
        </div>

        <!-- start: page body -->
        <div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-0 mt-lg-3">
            <div class="container-fluid">

                <div class="row g-3 row-deck">
                    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-7">
                        <div class="card border-0 bg-transparent">
                            <div class="row g-3 row-deck">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <span class="text-uppercase">New Sessions</span>
                                            <h4 class="mb-0 mt-2">22,500</h4>
                                            <small class="text-muted">Analytics for last week</small>
                                        </div>
                                        <div id="apexspark1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <span class="text-uppercase">BOUNCE RATE</span>
                                            <h4 class="mb-0 mt-2">10K</h4>
                                            <small class="text-muted">Analytics for last week</small>
                                        </div>
                                        <div id="apexspark2"></div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <span class="text-uppercase">GOAL COMPLETIONS</span>
                                            <h4 class="mb-0 mt-2">$1,22,500</h4>
                                            <small class="text-muted">Analytics for last week</small>
                                        </div>
                                        <div id="apexspark3"></div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card bg-secondary text-light">
                                        <div class="card-body">
                                            <h4 class="mb-0">Hey Chris, you're doing great.</h4>
                                            <p>Start using our team and project management tools in your next project.</p>
                                            <button class="btn px-4 text-uppercase bg-white" type="button">Learn More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-5">
                        <div class="card text-center wellcome-back" style="background-position: 100% 100%;background-size: 360px auto; background-repeat: no-repeat; background-image:url('@@webRoot/assets/img/hero-img1.svg')">
                            <div class="card-body">
                                <h4 class="card-title mt-4">Wellcome Back, Chris!!</h4>
                                <p class="card-text fs-6 mb-4">If you are going to use a passage of Lorem Ipsum, you need to be sure anything embarrassing.</p>
                                <button class="btn btn-lg bg-secondary text-light text-uppercase" type="button">Update now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-9 col-xl-8 col-lg-8 col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title m-0">Audience Overview</h6>
                                @@include('widgets/_card-action.html')
                            </div>
                            <div class="card-body pt-0">
                                <div class="px-4 py-3 d-flex flex-row align-items-center bg-light rounded-4">
                                    <div>
                                        <h6 class="mb-0 fw-bold">$3,056</h6>
                                        <small class="text-muted">Rate</small>
                                    </div>
                                    <div class="ms-lg-5 ms-md-4 ms-3">
                                        <h6 class="mb-0 fw-bold">$1,998</h6>
                                        <small class="text-muted">Value</small>
                                    </div>
                                    <div class="d-none d-sm-block ms-auto">
                                        <div class="btn-group" role="group">
                                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1">
                                            <label class="btn btn-secondary" for="btnradio1">Week</label>

                                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2">
                                            <label class="btn btn-secondary" for="btnradio2">Month</label>

                                            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" checked="">
                                            <label class="btn btn-secondary" for="btnradio3">Year</label>
                                        </div>
                                    </div>
                                </div>
                                <div id="apex-AudienceOverview"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-6 col-lg-12 col-md-6">
                        <div class="row g-3 row-deck">
                            <div class="col-xxl-12 col-xl-12 col-md-6 col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title d-flex justify-content-between align-items-center">Connection Request<span class="badge bg-primary">20 min ago</span></h6>
                                        <div class="d-flex align-items-center my-4">
                                            <img class="avatar xl rounded" src="@@webRoot/assets/img/profile_av.png" alt="">
                                            <div class="flex-fill ms-3">
                                                <div class="h5 mb-1">Hossein Shams</div>
                                                <span class="text-muted">21 mutual connections</span>
                                                <span class="text-muted">Senior Go Developer at Facebook</span>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <a href="#" class="btn mx-1 btn-light-primary flex-grow-1"><i class="fa fa-check me-2"></i>Accept</a>
                                            <a href="#" class="btn mx-1 btn-light-danger flex-grow-1"><i class="fa fa-close me-2"></i>Ignore</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-12 col-xl-12 col-md-6 col-sm-6">
                                <div class="card">
                                    <div class="card-body d-flex align-items-center">
                                        <i class="fa fa-google fa-2x"></i>
                                        <div class="ms-3">
                                            <h5 class="mb-0">Google Calendar</h5>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="text-muted">See your teams availability while scheduling meeting and interviews. <a href="#">Learn more...</a></p>
                                        <div class="btn-group mt-3">
                                            <input type="radio" class="btn-check" name="gc-btnradio" id="gc-btnradio1" checked="">
                                            <label class="btn btn-outline-primary" for="gc-btnradio1">Enabled</label>
                                            
                                            <input type="radio" class="btn-check" name="gc-btnradio" id="gc-btnradio2">
                                            <label class="btn btn-outline-primary" for="gc-btnradio2">Disabled</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-6 col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title mb-0">Sessions by Device</h6>
                            </div>
                            <div class="card-body">
                                <div class="bg-light rounded-4 d-flex text-center">
                                    <div class="p-2 flex-fill">
                                        <span class="text-muted">Desktop</span>
                                        <h5>1.08K</h5>
                                        <small class="text-success"><i class="fa fa-angle-up"></i> 1.03%</small>
                                    </div>
                                    <div class="p-2 flex-fill">
                                        <span class="text-muted">Mobile</span>
                                        <h5>3.20K</h5>
                                        <small class="text-danger"><i class="fa fa-angle-down"></i> 1.63%</small>
                                    </div>
                                    <div class="p-2 flex-fill">
                                        <span class="text-muted">Tablet</span>
                                        <h5>8.18K</h5>
                                        <small class="text-success"><i class="fa fa-angle-up"></i> 4.33%</small>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="apex-SessionsbyDevice"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-12 col-lg-8 col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title m-0">Social Media Traffic</h6>
                                <div class="dropdown morphing scale-left">
                                    <button class="btn btn-sm btn-link text-muted d-none d-sm-inline-block" type="button"><i class="fa fa-download"></i></button>
                                    <button class="btn btn-sm btn-link text-muted d-none d-sm-inline-block" type="button"><i class="fa fa-external-link"></i></button>
                                    <a href="#" class="more-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                                    <ul class="dropdown-menu shadow border-0 p-2">
                                        <li><a class="dropdown-item" href="#">File Info</a></li>
                                        <li><a class="dropdown-item" href="#">Copy to</a></li>
                                        <li><a class="dropdown-item" href="#">Move to</a></li>
                                        <li><a class="dropdown-item" href="#">Rename</a></li>
                                        <li><a class="dropdown-item" href="#">Block</a></li>
                                        <li><a class="dropdown-item" href="#">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="apex-SocialMediaTraffic"></div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .row end -->

            </div>
        </div>

        <!-- start: page footer -->
		@@include('_page-footer.html')

    </div>

    <!-- Modal: Create project -->
	@@include('_modal-create-project.html')

	<!-- Modal: my notes -->
	@@include('_modal-my-notes.html')

	<!-- Modal: Schedule -->
	@@include('_modal-my-schedule.html')

	<!-- Modal: RecentChat -->
	@@include('_modal-recent-chat.html')

	<!-- Modal: Setting -->
	@@include('_modal-theme-setting.html')

<!-- Jquery Page Js -->
@@include('_scripts.html',{
    "apexcharts": true,
})
<script>
$(function() {
"use strict";
    // top sparklines
    var randomizeArray = function (arg) {
        var array = arg.slice();
        var currentIndex = array.length,
        temporaryValue, randomIndex;

        while (0 !== currentIndex) {  
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex -= 1;

            temporaryValue = array[currentIndex];
            array[currentIndex] = array[randomIndex];
            array[randomIndex] = temporaryValue;
        }  
        return array;
    }

    // data for the sparklines that appear below header area
    var sparklineData = [47, 45, 54, 38, 56, 24, 65, 31];

    // topb big chart    
    var spark1 = {
        chart: {
            type: 'bar',
            height: 50,
            sparkline: {
                enabled: true
            },
        },
        stroke: {
            width: 0
        },
        series: [{
            data: randomizeArray(sparklineData)
        }],
        colors: ['var(--chart-color5)'],
    }
    var spark1 = new ApexCharts(document.querySelector("#apexspark1"), spark1); spark1.render();

    var spark2 = {
        chart: {
            type: 'area',
            height: 50,
            sparkline: {
            enabled: true
            },
        },
        stroke: {
            width: 1
        },
        series: [{
            data: randomizeArray(sparklineData)
        }],
        fill: {
            type: "gradient",
            gradient: {
                gradientToColors: ['var(--chart-color2)'],
                shadeIntensity: 2,
                opacityFrom: 0.7,
                opacityTo: 0.2,
                stops: [0, 100]
            },
        },
        colors: ['var(--chart-color2)'],
    }
    var spark2 = new ApexCharts(document.querySelector("#apexspark2"), spark2); spark2.render();

    var spark3 = {
        chart: {
            type: 'area',
            height: 50,
            sparkline: {
            enabled: true
            },
        },
        stroke: {
            width: 1
        },
        fill: {
            type: "gradient",
            gradient: {
                gradientToColors: ['var(--chart-color3)'],
                shadeIntensity: 2,
                opacityFrom: 0.7,
                opacityTo: 0.2,
                stops: [0, 100]
            },
        },
        colors: ['var(--chart-color3)'],
        series: [{
            data: randomizeArray(sparklineData)
        }],
    }
    var spark3 = new ApexCharts(document.querySelector("#apexspark3"), spark3); spark3.render();

    // Organic Visits & Conversions
    var options = {
        chart: {
            height: 340,
            type: 'line',
            toolbar: {
                show: false,
            },
        },
        colors: ['var(--chart-color1)', 'var(--chart-color5)'],
        series: [{
            name: 'Rate',
            type: 'column',
            data: [440, 505, 414, 671, 227, 413, 201, 352, 752, 320, 257, 160]
        }, {
            name: 'Value',
            type: 'line',
            data: [23, 42, 35, 27, 43, 22, 17, 31, 22, 22, 12, 16]
        }],
        stroke: {
            width: [0, 4]
        },        
        // labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        labels: ['01 Jan 2001', '02 Jan 2001', '03 Jan 2001', '04 Jan 2001', '05 Jan 2001', '06 Jan 2001', '07 Jan 2001', '08 Jan 2001', '09 Jan 2001', '10 Jan 2001', '11 Jan 2001', '12 Jan 2001'],
        xaxis: {
            type: 'datetime'
        },
        yaxis: [{
            title: {
                text: 'Rate',
            },

        }, {
            opposite: true,
            title: {
                text: 'Value'
            }
        }]
    }
    var chart = new ApexCharts(document.querySelector("#apex-AudienceOverview"),options); chart.render();

    // Social Media Traffic
    function generateSocialMediaData(baseval, count, yrange) {
        var i = 0;
        var series = [];
        while (i < count) {
            var x = Math.floor(Math.random() * (750 - 1 + 1)) + 1;;
            var y = Math.floor(Math.random() * (yrange.max - yrange.min + 1)) + yrange.min;
            var z = Math.floor(Math.random() * (75 - 15 + 1)) + 15;

            series.push([x, y, z]);
            baseval += 86400000;
            i++;
        }
        return series;
    }
    var options = {
        chart: {
            height: 360,
            type: 'bubble',
            toolbar: {
                show: false,
            },
        },
        legend: {
            position: 'top',
            horizontalAlign: 'left',
        },
        colors: ['var(--chart-color1)', 'var(--chart-color2)', 'var(--chart-color3)'],
        dataLabels: {
            enabled: false
        },
        series: [{
                name: 'Facebook',
                data: generateSocialMediaData(new Date('11 Nov 2020 GMT').getTime(), 22, {
                    min: 5,
                    max: 30
                })
            },{
                name: 'Twitter',
                data: generateSocialMediaData(new Date('11 Nov 2020 GMT').getTime(), 31, {
                    min: 5,
                    max: 30
                })
            },{
                name: 'Dribbble',
                data: generateSocialMediaData(new Date('11 Nov 2020 GMT').getTime(), 18, {
                    min: 5,
                    max: 30
                })
            }
        ],
        fill: {
            opacity: 0.8
        },
        xaxis: {
            tickAmount: 12,
            type: 'category',
        },
        yaxis: {
            max: 30
        }
    }
    var chart = new ApexCharts(document.querySelector("#apex-SocialMediaTraffic"),options); chart.render();

    // Sessions by Device
    var options = {
        chart: {
            height: 250,
            type: 'donut',
        },
        dataLabels: {
            enabled: false,
        },
        legend: {
            position: 'top',
            horizontalAlign: 'center',
            show: false,
        },
        colors: ['var(--chart-color1)', 'var(--chart-color2)', 'var(--chart-color3)'],
        series: [55, 35, 10],
    }
    var chart = new ApexCharts(document.querySelector("#apex-SessionsbyDevice"),options); chart.render();
});
</script>
</body>
</html>