<!DOCTYPE html>
<html lang="en">
<head>
    @@include('_head.html',{
        "pageTitle": "Real-Estate Agent Dashboard",
        "jvectormap": true,
    })
</head>

<body class="layout-1" data-luno="theme-red">

	<!-- start: sidebar -->
	@@include('sidebar/_sidebar-realestate.html', {"page": "agent-dashboard"})

	<!-- start: body area -->
    <div class="wrapper">

		<!-- start: page header -->
		@@include('_page-header.html')

        <!-- start: page toolbar -->
        <div class="page-toolbar px-xl-4 px-sm-2 px-0 py-3">
            <div class="container-fluid">

                <div class="row g-3 mb-3 align-items-center">
                    <div class="col">
                        <ol class="breadcrumb bg-transparent mb-0">
                            <li class="breadcrumb-item"><a class="text-secondary" href="index.html">Home</a></li>
                            <li class="breadcrumb-item">Agent</li>
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                    </div>
                </div> <!-- .row end -->
                <div class="row align-items-center">
                    <div class="col-auto">
                        <h1 class="fs-5 color-900 mt-1 mb-0">Welcome back, Allie!</h1>
                        <small class="text-muted">You have 12 new messages and 7 new notifications.</small>
                    </div>
                    <div class="col d-flex justify-content-lg-end mt-2 mt-md-0">
                        <div class="p-2 me-md-3">
                            <div><span class="h6 mb-0">8.18K</span> <small class="text-secondary"><i class="fa fa-angle-up"></i> 1.3%</small></div>
                            <small class="text-muted text-uppercase">Income</small>
                        </div>
                        <div class="p-2 me-md-3">
                            <div><span class="h6 mb-0">1.11K</span> <small class="text-secondary"><i class="fa fa-angle-up"></i> 4.1%</small></div>
                            <small class="text-muted text-uppercase">Expense</small>
                        </div>
                        <div class="p-2 pe-lg-0">
                            <div><span class="h6 mb-0">3.66K</span> <small class="text-danger"><i class="fa fa-angle-down"></i> 7.5%</small></div>
                            <small class="text-muted text-uppercase">Revenue</small>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <!-- start: page body -->
        <div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-0 mt-lg-3">
            <div class="container-fluid">

                <div class="row g-3">
                    <div class="col-xxl-9 col-xl-8 col-lg-12">
                        <div class="row g-3 row-deck">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="card">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="avatar rounded no-thumbnail bg-light"><i class="fa fa-users fa-lg"></i></div>
                                        <div class="flex-fill ms-3">
                                            <div class="small text-uppercase text-truncate">Total Agents</div>
                                            <h6 class="mb-0">125</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="card">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="avatar rounded no-thumbnail bg-light"><i class="fa fa-user-secret fa-lg"></i></div>
                                        <div class="flex-fill ms-3">
                                            <div class="small text-uppercase text-truncate">CORPORATE AGENTS</div>
                                            <h6 class="mb-0">295</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="card">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="avatar rounded no-thumbnail bg-light"><i class="fa fa-black-tie fa-lg"></i></div>
                                        <div class="flex-fill ms-3">
                                            <div class="small text-uppercase text-truncate">BUYING Agents</div>
                                            <h6 class="mb-0">18</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h6 class="card-title mb-0">Company <strong>Agent</strong> Statistics</h6>
                                        @@include('widgets/_card-action.html')
                                    </div>
                                    <div class="card-body">
                                        <div id="apex-CompanyAgentStatistics"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h6 class="card-title mb-0">Report by Sector</h6>
                                        @@include('widgets/_card-action.html')
                                    </div>
                                    <div class="card-body">
                                        <div id="apex-ReportSector"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h6 class="card-title mb-0">Top Trending Country</h6>
                                        @@include('widgets/_card-action.html')
                                    </div>
                                    <div class="card-body">
                                        <div class="row g-3 row-deck mb-5">
                                            <div class="col-sm-4">
                                                <div class="card lift">
                                                    <div class="card-body">
                                                        <span class="text-uppercase mb-2 d-block">USA</span>
                                                        <div class="fs-6 d-flex align-items-baseline">
                                                            <h4 class="mb-0">21K</h4>
                                                            <small class="text-muted ms-2"><i class="fa fa-level-up"></i> 12%</small>
                                                        </div>
                                                        <small class="text-muted">Analytics for last week</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="card lift">
                                                    <div class="card-body">
                                                        <span class="text-uppercase mb-2 d-block">UK</span>
                                                        <div class="fs-6 d-flex align-items-baseline">
                                                            <h4 class="mb-0">19K</h4>
                                                            <small class="text-muted ms-2"><i class="fa fa-level-down"></i> 8%</small>
                                                        </div>
                                                        <small class="text-muted">Analytics for last week</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="card lift">
                                                    <div class="card-body">
                                                        <span class="text-uppercase mb-2 d-block">Australia</span>
                                                        <div class="fs-6 d-flex align-items-baseline">
                                                            <h4 class="mb-0">27K</h4>
                                                            <small class="text-muted ms-2"><i class="fa fa-level-up"></i> 28%</small>
                                                        </div>
                                                        <small class="text-muted">Analytics for last week</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @@include('widgets/_card-world-map.html', {"height": "240px",})
                                    </div>
                                </div>
                            </div>
                        </div> <!-- .row end -->
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-lg-12">
                        <div class="row g-3 row-deck">
                            <div class="col-xl-12 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h6 class="card-title mb-0">Agents Progress Reports</h6>
                                        @@include('widgets/_card-action.html')
                                    </div>
                                    <div class="card-body">
                                        <div>
                                            <span class="text-muted d-block">Yearly Income</span>
                                            <h4>$22,652.35</h4>
                                        </div>
                                        <ul class="list-unstyled">
                                            <li class="mb-3 mt-3">
                                                <div class="d-flex justify-content-between">
                                                    <span>New York</span>
                                                    <span>89K</span>
                                                </div>
                                                <div class="progress" style="height: 5px;">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 89%;" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </li>
                                            <li class="mb-3">
                                                <div class="d-flex justify-content-between">
                                                    <span>Vatican City</span>
                                                    <span>76K</span>
                                                </div>
                                                <div class="progress" style="height: 5px;">
                                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 76%;" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </li>
                                            <li class="mb-3">
                                                <div class="d-flex justify-content-between">
                                                    <span>Sydney</span>
                                                    <span>52K</span>
                                                </div>
                                                <div class="progress" style="height: 5px;">
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 52%;" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </li>
                                            <li class="mb-3">
                                                <div class="d-flex justify-content-between">
                                                    <span>New Delhi</span>
                                                    <span>46K</span>
                                                </div>
                                                <div class="progress" style="height: 5px;">
                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 46%;" aria-valuenow="46" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex justify-content-between">
                                                    <span>Manila</span>
                                                    <span>34K</span>
                                                </div>
                                                <div class="progress" style="height: 5px;">
                                                    <div class="progress-bar bg-info" role="progressbar" style="width: 34%;" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h6 class="card-title mb-0">New Agents</h6>
                                        @@include('widgets/_card-action.html')
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar2.jpg" alt="">
                                            <div class="flex-fill ms-3">
                                                <div class="h6 mb-0"><span class="fw-bold">Chris Fox</span></div>
                                                <small class="text-muted">Corporate Agent</small>
                                            </div>
                                        </div>
                                        <div class="d-flex mt-4">
                                            <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar1.jpg" alt="">
                                            <div class="flex-fill ms-3">
                                                <div class="h6 mb-0"><span class="fw-bold">Joge Lucky</span></div>
                                                <small class="text-muted">Sales Executive</small>
                                            </div>
                                        </div>
                                        <div class="d-flex mt-4">
                                            <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar3.jpg" alt="">
                                            <div class="flex-fill ms-3">
                                                <div class="h6 mb-0"><span class="fw-bold">Alexander</span></div>
                                                <small class="text-muted">Corporate Agent</small>
                                            </div>
                                        </div>
                                        <div class="d-flex mt-4">
                                            <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar8.jpg" alt="">
                                            <div class="flex-fill ms-3">
                                                <div class="h6 mb-0"><span class="fw-bold">Robert</span></div>
                                                <small class="text-muted">Buying Agent</small>
                                            </div>
                                        </div>
                                        <div class="d-flex mt-4">
                                            <img class="avatar rounded-circle" src="@@webRoot/assets/img/xs/avatar6.jpg" alt="">
                                            <div class="flex-fill ms-3">
                                                <div class="h6 mb-0"><span class="fw-bold">Nellie</span></div>
                                                <small class="text-muted">HR</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h6 class="card-title mb-0">Average Agent Rating</h6>
                                        @@include('widgets/_card-action.html')
                                    </div>
                                    <div class="card-body">
                                        <h3>4.4 / <small class="fs-5">5</small></h3>
                                        <button class="btn btn-warning btn-sm"><i class="fa fa-star"></i></button>
                                        <button class="btn btn-warning btn-sm"><i class="fa fa-star"></i></button>
                                        <button class="btn btn-warning btn-sm"><i class="fa fa-star"></i></button>
                                        <button class="btn btn-warning btn-sm"><i class="fa fa-star-half-empty"></i></button>
                                        <button class="btn btn-warning btn-sm"><i class="fa fa-star-o"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .row end -->

            </div>
        </div>

        <!-- start: page footer -->
		@@include('_page-footer.html')

    </div>

    <!-- Modal: Create project -->
	@@include('_modal-create-project.html')

	<!-- Modal: my notes -->
	@@include('_modal-my-notes.html')

	<!-- Modal: Schedule -->
	@@include('_modal-my-schedule.html')

	<!-- Modal: RecentChat -->
	@@include('_modal-recent-chat.html')

	<!-- Modal: Setting -->
	@@include('_modal-theme-setting.html')

<!-- Jquery Page Js -->
@@include('_scripts.html',{
    "apexcharts":true,
})
<script>
    // Company Agent Statistics
    var options = {
        series: [{
            name: "Buy",
            data: [23, 33, 8, 17, 39, 37],
        }, {
            name: "Sell",
            data: [17, 17, 15, 17, 29, 40],
        }],
        chart: {
            type: 'bar',
            height: 300,
            toolbar: {
                show: false,
            },
        },
        colors: ["var(--chart-color1)", "var(--chart-color2)"],
        plotOptions: {
            bar: {
                horizontal: true,
                dataLabels: {
                    show: false,
                },
            }
        },
        dataLabels: {
            enabled: false,
        },
        stroke: {
            show: false,
        },
        xaxis: {
            categories: ['Chris', 'Isabella', 'Alexander', 'Nellie', 'Rose', 'Robert'],
        },
    };
    var chart = new ApexCharts(document.querySelector("#apex-CompanyAgentStatistics"), options); chart.render();

    // Report Sector
    var options = {
        series: [50, 17, 10, 15],
        chart: {
            height: 300,
            type: "donut",
        },
        labels: ["Commercial", "Residential", "Purchased", "Rented"],
        legend: {
            position: "top",
            horizontalAlign: "center",
            show: false,
        },
        colors: [
            "var(--chart-color1)",
            "var(--chart-color2)",
            "var(--chart-color3)",
            "var(--chart-color4)",
        ],
    };
    var chart = new ApexCharts(document.querySelector("#apex-ReportSector"), options); chart.render();
</script>
</body>
</html>