<!DOCTYPE html>
<html lang="en">
<head>
    @@include('_head.html',{
        "pageTitle": "Real-Estate Add Property",
    })
</head>

<body class="layout-1" data-luno="theme-red">

	<!-- start: sidebar -->
	@@include('sidebar/_sidebar-realestate.html', {"page": "property-add"})

	<!-- start: body area -->
    <div class="wrapper">

		<!-- start: page header -->
		@@include('_page-header.html')

        <!-- start: page toolbar -->
        <div class="page-toolbar px-xl-4 px-sm-2 px-0 py-3">
            <div class="container-fluid">

                <div class="row g-3 mb-3 align-items-center">
                    <div class="col">
                        <ol class="breadcrumb bg-transparent mb-0">
                            <li class="breadcrumb-item"><a class="text-secondary" href="index.html">Home</a></li>
                            <li class="breadcrumb-item">Property</li>
                            <li class="breadcrumb-item active" aria-current="page">Add</li>
                        </ol>
                    </div>
                </div> <!-- .row end -->
                <div class="row align-items-center">
                    <div class="col-auto">
                        <h1 class="fs-5 color-900 mt-1 mb-0">Welcome back, Allie!</h1>
                        <small class="text-muted">You have 12 new messages and 7 new notifications.</small>
                    </div>
                    <div class="col d-flex justify-content-lg-end mt-2 mt-md-0">
                        <div class="p-2 me-md-3">
                            <div><span class="h6 mb-0">8.18K</span> <small class="text-secondary"><i class="fa fa-angle-up"></i> 1.3%</small></div>
                            <small class="text-muted text-uppercase">Income</small>
                        </div>
                        <div class="p-2 me-md-3">
                            <div><span class="h6 mb-0">1.11K</span> <small class="text-secondary"><i class="fa fa-angle-up"></i> 4.1%</small></div>
                            <small class="text-muted text-uppercase">Expense</small>
                        </div>
                        <div class="p-2 pe-lg-0">
                            <div><span class="h6 mb-0">3.66K</span> <small class="text-danger"><i class="fa fa-angle-down"></i> 7.5%</small></div>
                            <small class="text-muted text-uppercase">Revenue</small>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <!-- start: page body -->
        <div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-0 mt-lg-3">
            <div class="container-fluid">

                <div class="row g-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title mb-0">Basic Information</h6>
                                @@include('widgets/_card-action.html')
                            </div>
                            <div class="card-body">
                                <div class="row g-3">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="Property Name">
                                            <label>Property Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="Property Location">
                                            <label>Property Location</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" rows="4" name="Description" placeholder="Description"></textarea>
                                            <label>Property Description</label>
                                        </div>
                                    </div>
                                    <div class="col-12"><h6 class="mt-5 mb-1">Property Information</h6></div>
                                    <div class="col-12">
                                        <div class="d-flex">
                                            <div class="form-check mb-0">
                                                <input class="form-check-input" type="radio" id="Rent" name="rs">
                                                <label class="form-check-label" for="Rent">For Rent</label>
                                            </div>
                                            <div class="form-check mb-0 ms-3">
                                                <input class="form-check-input" type="radio" id="Sell" name="rs">
                                                <label class="form-check-label" for="Sell">For Sell</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-3">
                                            <div class="col">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" placeholder="Price / Rent">
                                                    <label>Price / Rent</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" placeholder="BedroomsSquare ft">
                                                    <label>BedroomsSquare ft</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" placeholder="Square ft">
                                                    <label>Square ft</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" placeholder="Car Parking">
                                                    <label>Car Parking</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" placeholder="Year Built">
                                                    <label>Year Built</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating mt-3">
                                            <textarea class="form-control" rows="4" name="Description" placeholder="Property Address"></textarea>
                                            <label>Property Address</label>
                                        </div>
                                    </div>
                                </div> <!-- Row end  -->
                                <div class="row g-3">
                                    <div class="col-12"><h6 class="mt-5 mb-1">Dimensions</h6></div>
                                    <div class="col-sm-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="Dining Room">
                                            <label>Dining Room</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="Kitchen">
                                            <label>Kitchen</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="Living Room">
                                            <label>Living Room</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="Master Bedroom">
                                            <label>Master Bedroom</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="Bedroom 2">
                                            <label>Bedroom 2</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="Other Room">
                                            <label>Other Room</label>
                                        </div>
                                    </div>
                                </div> <!-- Row end  -->
                                <div class="row g-3">
                                    <div class="col-12"><h6 class="mt-5 mb-1">General Amenities</h6></div>
                                    <div class="col-12">
                                        <div class="d-flex flex-wrap">
                                            <div class="form-check mb-2 me-3">
                                                <input class="form-check-input" type="checkbox" id="Swimming" name="Amenities">
                                                <label class="form-check-label" for="Swimming">Swimming pool</label>
                                            </div>
                                            <div class="form-check mb-2 me-3">
                                                <input class="form-check-input" type="checkbox" id="Terrace" name="Amenities">
                                                <label class="form-check-label" for="Terrace">Terrace</label>
                                            </div>
                                            <div class="form-check mb-2 me-3">
                                                <input class="form-check-input" type="checkbox" id="Air" name="Amenities">
                                                <label class="form-check-label" for="Air">Air conditioning</label>
                                            </div>
                                            <div class="form-check mb-2 me-3">
                                                <input class="form-check-input" type="checkbox" id="Internet" name="Amenities">
                                                <label class="form-check-label" for="Internet">Internet</label>
                                            </div>
                                            <div class="form-check mb-2 me-3">
                                                <input class="form-check-input" type="checkbox" id="Balcony" name="Amenities">
                                                <label class="form-check-label" for="Balcony">Balcony</label>
                                            </div>
                                            <div class="form-check mb-2 me-3">
                                                <input class="form-check-input" type="checkbox" id="Cable" name="Amenities">
                                                <label class="form-check-label" for="Cable">Cable TV</label>
                                            </div>
                                            <div class="form-check mb-2 me-3">
                                                <input class="form-check-input" type="checkbox" id="Computer" name="Amenities">
                                                <label class="form-check-label" for="Computer">Computer</label>
                                            </div>
                                            <div class="form-check mb-2 me-3">
                                                <input class="form-check-input" type="checkbox" id="Dishwasher" name="Amenities">
                                                <label class="form-check-label" for="Dishwasher">Dishwasher</label>
                                            </div>
                                            <div class="form-check mb-2 me-3">
                                                <input class="form-check-input" type="checkbox" id="Near" name="Amenities">
                                                <label class="form-check-label" for="Near">Near Green Zone</label>
                                            </div>
                                            <div class="form-check mb-2 me-3">
                                                <input class="form-check-input" type="checkbox" id="Church" name="Amenities">
                                                <label class="form-check-label" for="Church">Near Church</label>
                                            </div>
                                            <div class="form-check mb-2 me-3">
                                                <input class="form-check-input" type="checkbox" id="Estate" name="Amenities">
                                                <label class="form-check-label" for="Estate">Near Estate</label>
                                            </div>
                                            <div class="form-check mb-2 me-3">
                                                <input class="form-check-input" type="checkbox" id="Cofee" name="Amenities">
                                                <label class="form-check-label" for="Cofee">Cofee pot</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <input class="form-control" type="file" id="formFile">
                                    </div>
                                </div> <!-- Row end -->
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="submit" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row end  -->

            </div>
        </div>

        <!-- start: page footer -->
		@@include('_page-footer.html')

    </div>

    <!-- Modal: Create project -->
	@@include('_modal-create-project.html')

	<!-- Modal: my notes -->
	@@include('_modal-my-notes.html')

	<!-- Modal: Schedule -->
	@@include('_modal-my-schedule.html')

	<!-- Modal: RecentChat -->
	@@include('_modal-recent-chat.html')

	<!-- Modal: Setting -->
	@@include('_modal-theme-setting.html')

<!-- Jquery Page Js -->
@@include('_scripts.html',{

})
</body>
</html>