<!-- Section: latest-post -->
<div class="section latest-post">
    <div class="container">

        <div class="row g-xl-4 g-3 row-deck">
            <div class="col-xl-8 col-lg-12">
                <div class="card overflow-hidden">
                    @@include('blog/_blog-slider.html'})
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card overflow-hidden lift">
                    <img src="@@webRoot/assets/img/gallery/10.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="mb-3"><a class="small fw-bold text-info text-uppercase" href="#">Design</a></div>
                        <div class="d-flex flex-column">
                            <h3 class="fw-light mb-xl-4 mb-3"><a class="color-600" href="blog-detail.html" title="">Contrary to popular belief, not simply random text</a></h3>
                            <div class="small text-muted text-uppercase">
                                <span class="post-on">27 August</span>
                                <span class="mx-2 time-reading has-dot">12 mins read</span>
                                <span class="post-by has-dot">23k views</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card overflow-hidden lift">
                    <img src="@@webRoot/assets/img/gallery/11.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="mb-3"><a class="small fw-bold text-success text-uppercase" href="#">Lifestyle.</a></div>
                        <div class="d-flex flex-column">
                            <h3 class="fw-light mb-xl-4 mb-3"><a class="color-600" href="blog-detail.html" title="">Life and Death in the Empire of the Tiger</a></h3>
                            <div class="small text-muted text-uppercase">
                                <span class="post-on">27 August</span>
                                <span class="mx-2 time-reading has-dot">12 mins read</span>
                                <span class="post-by has-dot">23k views</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card overflow-hidden lift">
                    <img src="@@webRoot/assets/img/gallery/12.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="mb-3"><a class="small fw-bold text-warning text-uppercase" href="#">Travel.</a></div>
                        <div class="d-flex flex-column">
                            <h3 class="fw-light mb-xl-4 mb-3"><a class="color-600" href="blog-detail.html" title="">When Two Wheels Are Better Than Four</a></h3>
                            <div class="small text-muted text-uppercase">
                                <span class="post-on">27 August</span>
                                <span class="mx-2 time-reading has-dot">12 mins read</span>
                                <span class="post-by has-dot">23k views</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card overflow-hidden lift">
                    <img src="@@webRoot/assets/img/gallery/13.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="mb-3"><a class="small fw-bold text-danger text-uppercase" href="#">Fashion.</a></div>
                        <div class="d-flex flex-column">
                            <h3 class="fw-light mb-xl-4 mb-3"><a class="color-600" href="#" title="">it look like readable English packages and web</a></h3>
                            <div class="small text-muted text-uppercase">
                                <span class="post-on">27 August</span>
                                <span class="mx-2 time-reading has-dot">12 mins read</span>
                                <span class="post-by has-dot">23k views</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .row end -->

    </div>
</div>

<!-- Blog: marketing banner -->
<div class="blog-banner py-4">
    <div class="container">
        
        <div class="row">
            <div class="col-12">
                <a target="_blank" href="https://alui.thememakker.com/index.html" title="LUNO Admin"><img class="img-fluid rounded-4" src="@@webRoot/assets/img/add-banner.jpg" alt="" /></a>
            </div>
        </div> <!-- .row end -->

    </div>
</div>

<!-- Blog: Latest posts -->
<div class="blog-posts py-5">
    <div class="container">

        <div class="row g-4">
            <div class="col-xl-8 col-lg-8 col-md-12">
                @@include('blog/_blog-post-list.html'})
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12">
                @@include('blog/_blog-rightbar.html'})
            </div>
        </div> <!-- .row end -->

    </div>
</div>

<!-- Blog: Trending Topics -->
<div class="blog-topics py-5 bg-dark mb-5 border-bottom border-secondary border-3">
    <div class="container">
        
        @@include('blog/_blog-topics.html'})

    </div>
</div>