<!DOCTYPE html>
<html lang="en">
<head>
    @@include('_head.html',{
        "pageTitle": "Music Album",
    })
</head>

<body class="layout-1" data-luno="theme-red">

	<!-- start: sidebar -->
	@@include('sidebar/_sidebar-music.html', {"page": "music-album"})

	<!-- start: body area -->
    <div class="wrapper">

		<!-- start: page header -->
		@@include('_page-header.html')

        <!-- start: page toolbar -->
        <div class="page-toolbar px-xl-4 px-sm-2 px-0 py-3">
            <div class="container-fluid">

                <div class="row g-3 mb-3 align-items-center">
                    <div class="col">
                        <ol class="breadcrumb bg-transparent mb-0">
                            <li class="breadcrumb-item"><a class="text-secondary" href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Album</li>
                        </ol>
                    </div>
                </div> <!-- .row end -->
                @@include('widgets/_page-stats.html')

            </div>
        </div>

        <!-- start: page body -->
        <div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-0 mt-lg-3">
            <div class="container-fluid">

                <div class="row g-3 row-deck">
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="card overflow-hidden">
                            <a class="color-400" href="music-all.html">
                                <img src="@@webRoot/assets/img/music/music-list-8.jpg" class="card-img-top" alt="">
                                <div class="card-body text-center">
                                    <h6 class="mb-0">MONTERO</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="card overflow-hidden">
                            <a class="color-400" href="music-all.html">
                                <img src="@@webRoot/assets/img/music/music-list-5.jpg" class="card-img-top" alt="">
                                <div class="card-body text-center">
                                    <h6 class="mb-0">Doo-Wops & Hooligans</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="card overflow-hidden">
                            <a class="color-400" href="music-all.html">
                                <img src="@@webRoot/assets/img/music/music-list-4.jpg" class="card-img-top" alt="">
                                <div class="card-body text-center">
                                    <h6 class="mb-0">Rock Believer</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="card overflow-hidden">
                            <a class="color-400" href="music-all.html">
                                <img src="@@webRoot/assets/img/music/music-list-9.jpg" class="card-img-top" alt="">
                                <div class="card-body text-center">
                                    <h6 class="mb-0">Diamonds</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="card overflow-hidden">
                            <a class="color-400" href="music-all.html">
                                <img src="@@webRoot/assets/img/music/music-list-1.jpg" class="card-img-top" alt="">
                                <div class="card-body text-center">
                                    <h6 class="mb-0">Love Sux</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="card overflow-hidden">
                            <a class="color-400" href="music-all.html">
                                <img src="@@webRoot/assets/img/music/music-list-3.jpg" class="card-img-top" alt="">
                                <div class="card-body text-center">
                                    <h6 class="mb-0">Greatest Hits</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="card overflow-hidden">
                            <a class="color-400" href="music-all.html">
                                <img src="@@webRoot/assets/img/music/music-list-2.jpg" class="card-img-top" alt="">
                                <div class="card-body text-center">
                                    <h6 class="mb-0">Rammstein</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- start: page footer -->
		@@include('_page-footer.html')

    </div>

    <!-- Modal: Create project -->
	@@include('_modal-create-project.html')

	<!-- Modal: my notes -->
	@@include('_modal-my-notes.html')

	<!-- Modal: Schedule -->
	@@include('_modal-my-schedule.html')

	<!-- Modal: RecentChat -->
	@@include('_modal-recent-chat.html')

	<!-- Modal: Setting -->
	@@include('_modal-theme-setting.html')

<!-- Jquery Page Js -->
@@include('_scripts.html',{

})
</body>
</html>