<!DOCTYPE html>
<html lang="en">
<head>
    @@include('_head.html',{
        "pageTitle": "University Course Episodes",
    })
</head>

<body class="layout-1" data-luno="theme-indigo">

	<!-- start: sidebar -->
	@@include('sidebar/_sidebar-university.html', {"page": "course-episodes"})

	<!-- start: body area -->
    <div class="wrapper">

		<!-- start: page header -->
		@@include('_page-header.html')

        <!-- start: page toolbar -->
        <div class="page-toolbar px-xl-4 px-sm-2 px-0 py-3">
            <div class="container-fluid">

                <div class="row g-3 mb-3 align-items-center">
                    <div class="col">
                        <ol class="breadcrumb bg-transparent mb-0">
                            <li class="breadcrumb-item"><a class="text-secondary" href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-secondary" href="#">Course</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Episodes</li>
                        </ol>
                    </div>
                </div> <!-- .row end -->
                @@include('widgets/_page-stats.html')

            </div>
        </div>

        <!-- start: page body -->
        <div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-0 mt-lg-3">
            <div class="container-fluid">

                <div class="row g-2 mb-5">
                    <div class="col-12 d-flex justify-content-between">
                        <div class="h4">Newst Videos</div>
                        <button type="button" class="btn btn-primary btn-sm">View All</button>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-body position-relative hover-show p-0">
                                <a href="#" class="hover-div position-absolute top-50 start-50 translate-middle py-1 px-2 bg-light rounded shadow-sm text-muted">
                                    <i class="fa fa-play-circle fa-3x"></i>
                                </a>
                                <div class="position-absolute top-100 translate-middle start-50 bg-info px-2 py-1 rounded text-light small">HTML</div>
                                <img src="@@webRoot/assets/img/gallery/1.jpg" alt="" class="card-img-top">
                            </div>
                            <div class="card-body text-center">
                                <div class="mb-0 fw-bold">Magento Programmer Course</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-body position-relative hover-show p-0">
                                <a href="#" class="hover-div position-absolute top-50 start-50 translate-middle py-1 px-2 bg-light rounded shadow-sm text-muted">
                                    <i class="fa fa-play-circle fa-3x"></i>
                                </a>
                                <div class="position-absolute top-100 translate-middle start-50 bg-primary px-2 py-1 rounded text-light small">Figma</div>
                                <img src="@@webRoot/assets/img/gallery/2.jpg" alt="" class="card-img-top">
                            </div>
                            <div class="card-body text-center">
                                <div class="mb-0 fw-bold">UI UX Design Course</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-body position-relative hover-show p-0">
                                <a href="#" class="hover-div position-absolute top-50 start-50 translate-middle py-1 px-2 bg-light rounded shadow-sm text-muted">
                                    <i class="fa fa-play-circle fa-3x"></i>
                                </a>
                                <div class="position-absolute top-100 translate-middle start-50 bg-warning px-2 py-1 rounded text-light small">Laravel</div>
                                <img src="@@webRoot/assets/img/gallery/3.jpg" alt="" class="card-img-top">
                            </div>
                            <div class="card-body text-center">
                                <div class="mb-0 fw-bold">Er Creating a Laravel Package </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-body position-relative hover-show p-0">
                                <a href="#" class="hover-div position-absolute top-50 start-50 translate-middle py-1 px-2 bg-light rounded shadow-sm text-muted">
                                    <i class="fa fa-play-circle fa-3x"></i>
                                </a>
                                <div class="position-absolute top-100 translate-middle start-50 bg-info px-2 py-1 rounded text-light small">Account</div>
                                <img src="@@webRoot/assets/img/gallery/4.jpg" alt="" class="card-img-top">
                            </div>
                            <div class="card-body text-center">
                                <div class="mb-0 fw-bold">Account Management Course</div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .row end -->

                <div class="row g-2 mb-2">
                    <div class="col-12">
                        <div class="h6 fw-bold">Web Development And Designing Courses</div>
                        <ul class="nav nav-tabs tab-page-toolbar rounded d-inline-flex" role="tablist">
                            <li class="nav-item"><a class="nav-link border-0 active" data-bs-toggle="tab" href="#nav-html" role="tab">HTML</a></li>
                            <li class="nav-item"><a class="nav-link border-0" data-bs-toggle="tab" href="#nav-angular" role="tab">Angular</a></li>
                            <li class="nav-item"><a class="nav-link border-0" data-bs-toggle="tab" href="#nav-react" role="tab">React</a></li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content mt-2 mb-4">
                    <div class="tab-pane fade show active" id="nav-html" role="tabpanel">
                        <div class="row g-2">
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-body position-relative hover-show p-0">
                                        <a href="#" class="hover-div position-absolute top-50 start-50 translate-middle py-1 px-2 bg-light rounded shadow-sm text-muted">
                                            <i class="fa fa-play-circle fa-3x"></i>
                                        </a>
                                        <div class="position-absolute top-100 translate-middle start-50 bg-primary px-2 py-1 rounded text-light small">HTML</div>
                                        <img src="@@webRoot/assets/img/gallery/5.jpg" alt="" class="card-img-top">
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="mb-0 fw-bold">HTML FrontEnd Course</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-body position-relative hover-show p-0">
                                        <a href="#" class="hover-div position-absolute top-50 start-50 translate-middle py-1 px-2 bg-light rounded shadow-sm text-muted">
                                            <i class="fa fa-play-circle fa-3x"></i>
                                        </a>
                                        <div class="position-absolute top-100 translate-middle start-50 bg-primary px-2 py-1 rounded text-light small">HTML</div>
                                        <img src="@@webRoot/assets/img/gallery/6.jpg" alt="" class="card-img-top">
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="mb-0 fw-bold">HTML with SCSS introduction</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-body position-relative hover-show p-0">
                                        <a href="#" class="hover-div position-absolute top-50 start-50 translate-middle py-1 px-2 bg-light rounded shadow-sm text-muted">
                                            <i class="fa fa-play-circle fa-3x"></i>
                                        </a>
                                        <div class="position-absolute top-100 translate-middle start-50 bg-danger px-2 py-1 rounded text-light small">Angular</div>
                                        <img src="@@webRoot/assets/img/gallery/7.jpg" alt="" class="card-img-top">
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="mb-0 fw-bold">Angular FrontEnd Course</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-body position-relative hover-show p-0">
                                        <a href="#" class="hover-div position-absolute top-50 start-50 translate-middle py-1 px-2 bg-light rounded shadow-sm text-muted">
                                            <i class="fa fa-play-circle fa-3x"></i>
                                        </a>
                                        <div class="position-absolute top-100 translate-middle start-50 bg-info px-2 py-1 rounded text-light small">HTML</div>
                                        <img src="@@webRoot/assets/img/gallery/5.jpg" alt="" class="card-img-top">
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="mb-0 fw-bold">HTML FrontEnd Course</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-body position-relative hover-show p-0">
                                        <a href="#" class="hover-div position-absolute top-50 start-50 translate-middle py-1 px-2 bg-light rounded shadow-sm text-muted">
                                            <i class="fa fa-play-circle fa-3x"></i>
                                        </a>
                                        <div class="position-absolute top-100 translate-middle start-50 bg-primary px-2 py-1 rounded text-light small">HTML</div>
                                        <img src="@@webRoot/assets/img/gallery/6.jpg" alt="" class="card-img-top">
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="mb-0 fw-bold">HTML with SCSS introduction</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-body position-relative hover-show p-0">
                                        <a href="#" class="hover-div position-absolute top-50 start-50 translate-middle py-1 px-2 bg-light rounded shadow-sm text-muted">
                                            <i class="fa fa-play-circle fa-3x"></i>
                                        </a>
                                        <div class="position-absolute top-100 translate-middle start-50 bg-danger px-2 py-1 rounded text-light small">Angular</div>
                                        <img src="@@webRoot/assets/img/gallery/7.jpg" alt="" class="card-img-top">
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="mb-0 fw-bold">Angular FrontEnd Course</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-body position-relative hover-show p-0">
                                        <a href="#" class="hover-div position-absolute top-50 start-50 translate-middle py-1 px-2 bg-light rounded shadow-sm text-muted">
                                            <i class="fa fa-play-circle fa-3x"></i>
                                        </a>
                                        <div class="position-absolute top-100 translate-middle start-50 bg-danger px-2 py-1 rounded text-light small">Angular</div>
                                        <img src="@@webRoot/assets/img/gallery/8.jpg" alt="" class="card-img-top">
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="mb-0 fw-bold">Angular Development Course</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-body position-relative hover-show p-0">
                                        <a href="#" class="hover-div position-absolute top-50 start-50 translate-middle py-1 px-2 bg-light rounded shadow-sm text-muted">
                                            <i class="fa fa-play-circle fa-3x"></i>
                                        </a>
                                        <div class="position-absolute top-100 translate-middle start-50 bg-info px-2 py-1 rounded text-light small">React</div>
                                        <img src="@@webRoot/assets/img/gallery/9.jpg" alt="" class="card-img-top">
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="mb-0 fw-bold">React Programmer Course</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-body position-relative hover-show p-0">
                                        <a href="#" class="hover-div position-absolute top-50 start-50 translate-middle py-1 px-2 bg-light rounded shadow-sm text-muted">
                                            <i class="fa fa-play-circle fa-3x"></i>
                                        </a>
                                        <div class="position-absolute top-100 translate-middle start-50 bg-info px-2 py-1 rounded text-light small">React</div>
                                        <img src="@@webRoot/assets/img/gallery/8.jpg" alt="" class="card-img-top">
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="mb-0 fw-bold">React FrontEnd Course</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-body position-relative hover-show p-0">
                                        <a href="#" class="hover-div position-absolute top-50 start-50 translate-middle py-1 px-2 bg-light rounded shadow-sm text-muted">
                                            <i class="fa fa-play-circle fa-3x"></i>
                                        </a>
                                        <div class="position-absolute top-100 translate-middle start-50 bg-info px-2 py-1 rounded text-light small">React</div>
                                        <img src="@@webRoot/assets/img/gallery/9.jpg" alt="" class="card-img-top">
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="mb-0 fw-bold">React Front with Dev</div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- .row end -->
                    </div>
                </div>

            </div>
        </div>

        <!-- start: page footer -->
		@@include('_page-footer.html')

    </div>

    <!-- Modal: Create project -->
	@@include('_modal-create-project.html')

	<!-- Modal: my notes -->
	@@include('_modal-my-notes.html')

	<!-- Modal: Schedule -->
	@@include('_modal-my-schedule.html')

	<!-- Modal: RecentChat -->
	@@include('_modal-recent-chat.html')

	<!-- Modal: Setting -->
	@@include('_modal-theme-setting.html')

<!-- Jquery Page Js -->
@@include('_scripts.html',{

})
</body>
</html>