<!DOCTYPE html>
<html lang="en">
<head>
    @@include('_head.html',{
        "pageTitle": "University Add new Professors",
    })
</head>

<body class="layout-1" data-luno="theme-indigo">

	<!-- start: sidebar -->
	@@include('sidebar/_sidebar-university.html', {"page": "professors-add"})

	<!-- start: body area -->
    <div class="wrapper">

		<!-- start: page header -->
		@@include('_page-header.html')

        <!-- start: page toolbar -->
        <div class="page-toolbar px-xl-4 px-sm-2 px-0 py-3">
            <div class="container-fluid">

                <div class="row g-3 mb-3 align-items-center">
                    <div class="col">
                        <ol class="breadcrumb bg-transparent mb-0">
                            <li class="breadcrumb-item"><a class="text-secondary" href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-secondary" href="#">Professor</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add</li>
                        </ol>
                    </div>
                </div> <!-- .row end -->
                @@include('widgets/_page-stats.html')

            </div>
        </div>

        <!-- start: page body -->
        <div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-0 mt-lg-3">
            <div class="container-fluid">

                <div class="row g-3">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title m-0">Add new Professor</h6>
                                @@include('widgets/_card-action.html')
                            </div>
                            <div class="card-body">
                                <div class="row g-3">
                                    <div class="col-sm-6">
                                        <label class="form-label">First Name</label>
                                        <input type="text" class="form-control form-control-lg" placeholder="Enter here">
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label">Last Name</label>
                                        <input type="text" class="form-control form-control-lg" placeholder="Enter here">
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="form-label">Date of Birth</label>
                                        <input type="date" class="form-control form-control-lg" placeholder="Enter here">
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="form-label">Select</label>
                                        <select class="form-control form-control-lg" tabindex="-98">
                                            <option value="">- Gender -</option>
                                            <option value="10">Male</option>
                                            <option value="20">Female</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="form-label">Speciality</label>
                                        <input type="text" class="form-control form-control-lg" placeholder="Enter here">
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="form-label">Mobile</label>
                                        <input type="number" class="form-control form-control-lg" placeholder="Enter here">
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label">Your Email</label>
                                        <input type="email" class="form-control form-control-lg" placeholder="Enter here">
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label">Website URL</label>
                                        <input type="url" class="form-control form-control-lg" placeholder="Enter here">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="file" class="form-control">
                                    </div>
                                    <div class="col-sm-12">
                                        <textarea rows="4" class="form-control no-resize" placeholder="Please type what you want..."></textarea>
                                    </div>
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="submit" class="btn btn-default">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title m-0">Professors's Account Information</h6>
                                @@include('widgets/_card-action.html')
                            </div>
                            <div class="card-body">
                                <div class="row g-4">
                                    <div class="col-sm-12">
                                        <label class="form-label">User Name</label>
                                        <input type="text" class="form-control form-control-lg" placeholder="Enter here">
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label">Password</label>
                                        <input type="password" class="form-control form-control-lg" placeholder="Enter here">
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label">Confirm Password</label>
                                        <input type="password" class="form-control form-control-lg" placeholder="Enter here">
                                    </div>
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="submit" class="btn btn-default">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .row end -->

            </div>
        </div>

        <!-- start: page footer -->
		@@include('_page-footer.html')

    </div>

    <!-- Modal: Create project -->
	@@include('_modal-create-project.html')

	<!-- Modal: my notes -->
	@@include('_modal-my-notes.html')

	<!-- Modal: Schedule -->
	@@include('_modal-my-schedule.html')

	<!-- Modal: RecentChat -->
	@@include('_modal-recent-chat.html')

	<!-- Modal: Setting -->
	@@include('_modal-theme-setting.html')

<!-- Jquery Page Js -->
@@include('_scripts.html',{

})
</body>
</html>