<!DOCTYPE html>
<html lang="en">
<head>
    @@include('_head.html',{
        "pageTitle": "HRMS Employee Loan",
    })
</head>

<body class="layout-1" data-luno="theme-black">

	<!-- start: sidebar -->
	@@include('sidebar/_sidebar-hrms.html', {"page": "emp-loan"})

	<!-- start: body area -->
    <div class="wrapper">

		<!-- start: page header -->
		@@include('_page-header.html')

        <!-- start: page toolbar -->
        <div class="page-toolbar px-xl-4 px-sm-2 px-0 py-3">
            <div class="container-fluid">

                <div class="row g-3 mb-3 align-items-center">
                    <div class="col">
                        <ol class="breadcrumb bg-transparent mb-0">
                            <li class="breadcrumb-item"><a class="text-secondary" href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-secondary" href="#">Employees</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Loan</li>
                        </ol>
                    </div>
                </div> <!-- .row end -->
                @@include('widgets/_page-stats.html')

            </div>
        </div>

        <!-- Body: Body -->
        <div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-0 mt-lg-3">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title m-0">Employee Loan</h6>
                                @@include('widgets/_card-action.html')
                            </div>
                            <div class="card-body">
                                <table class="table myDataTable table-hover align-middle mb-0 card-table">
                                    <thead>
                                        <tr>
                                            <th>Employee ID</th>
                                            <th>Name</th>
                                            <th>Date</th>
                                            <th>Loan Amount</th>
                                            <th>loan Period</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>LA-0215</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img src="@@webRoot/assets/img/xs/avatar1.jpg" class="rounded-circle avatar" alt="">
                                                    <div class="ms-3">
                                                        <p class="mb-0 fw-bold">Orlando Lentz</p>
                                                        <span class="text-muted"><strong>Purpose :</strong> to provide for child’s education</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>11 Jan, 2021</td>
                                            <td class="text-danger fw-bold">$1,000</td>
                                            <td>4 Month</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-edit"></i></button>
                                                <button type="button" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-o"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>LA-0315</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img src="@@webRoot/assets/img/xs/avatar2.jpg" class="rounded-circle avatar" alt="">
                                                    <div class="ms-3">
                                                        <p class="mb-0 fw-bold">Rose Rivera</p>
                                                        <span class="text-muted"><strong>Purpose :</strong> for home purchase, renovations and refurbishing</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>21 Nov, 2020</td>
                                            <td class="text-danger fw-bold">$8,550</td>
                                            <td>18 Month</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-edit"></i></button>
                                                <button type="button" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-o"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>LA-0218</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img src="@@webRoot/assets/img/xs/avatar3.jpg" class="rounded-circle avatar" alt="">
                                                    <div class="ms-3">
                                                        <p class="mb-0 fw-bold">Marshall Nichols</p>
                                                        <span class="text-muted"><strong>Purpose :</strong> for any medical emergencies</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>10 Jan, 2021</td>
                                            <td class="text-danger fw-bold">$2,800</td>
                                            <td>6 Month</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-edit"></i></button>
                                                <button type="button" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-o"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>LA-0211</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img src="@@webRoot/assets/img/xs/avatar4.jpg" class="rounded-circle avatar" alt="">
                                                    <div class="ms-3">
                                                        <p class="mb-0 fw-bold">Barbara Kelly</p>
                                                        <span class="text-muted"><strong>Purpose :</strong> to refinance Credit Card dues</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>11 Jan, 2021</td>
                                            <td class="text-danger fw-bold">$500</td>
                                            <td>2 Month</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-edit"></i></button>
                                                <button type="button" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-o"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>LA-0155</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img src="@@webRoot/assets/img/xs/avatar5.jpg" class="rounded-circle avatar" alt="">
                                                    <div class="ms-3">
                                                        <p class="mb-0 fw-bold">Robert Hammer</p>
                                                        <span class="text-muted"><strong>Purpose :</strong> for weddings and family functions</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>13 Jan, 2021</td>
                                            <td class="text-danger fw-bold">$5,500</td>
                                            <td>10 Month</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-edit"></i></button>
                                                <button type="button" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-o"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row end  -->

            </div>
        </div>

        <!-- start: page footer -->
		@@include('_page-footer.html')

    </div>

    <!-- Modal: Create project -->
	@@include('_modal-create-project.html')

	<!-- Modal: my notes -->
	@@include('_modal-my-notes.html')

	<!-- Modal: Schedule -->
	@@include('_modal-my-schedule.html')

	<!-- Modal: RecentChat -->
	@@include('_modal-recent-chat.html')

	<!-- Modal: Setting -->
	@@include('_modal-theme-setting.html')

<!-- Jquery Page Js -->
@@include('_scripts.html',{
    "dataTables":true,
})
<script>
    $('.myDataTable')
    .addClass( 'nowrap' )
    .dataTable( {
        responsive: true,
    });
</script>
</body>
</html>