<!DOCTYPE html>
<html lang="en">
<head>
    @@include('_head.html',{
        "pageTitle": "HRMS Leave",
        "dataTables": true,
    })
</head>

<body class="layout-1" data-luno="theme-black">

	<!-- start: sidebar -->
	@@include('sidebar/_sidebar-hrms.html', {"page": "hr-leave"})

	<!-- start: body area -->
    <div class="wrapper">

		<!-- start: page header -->
		@@include('_page-header.html')

        <!-- start: page toolbar -->
        <div class="page-toolbar px-xl-4 px-sm-2 px-0 py-3">
            <div class="container-fluid">

                <div class="row g-3 mb-3 align-items-center">
                    <div class="col">
                        <ol class="breadcrumb bg-transparent mb-0">
                            <li class="breadcrumb-item"><a class="text-secondary" href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-secondary" href="#">HR</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Leave Requests</li>
                        </ol>
                    </div>
                </div> <!-- .row end -->
                @@include('widgets/_page-stats.html')

            </div>
        </div>

        <!-- Body: Body -->
        <div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-0 mt-lg-3">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title m-0">Leave Request</h6>
                                @@include('widgets/_card-action.html')
                            </div>
                            <div class="card-body">
                                <table class="table myDataTable table-hover align-middle mb-0 card-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>ID</th>
                                            <th>Leave Type</th>
                                            <th>Date</th>
                                            <th>Reason</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="width45">                                           
                                                <img src="@@webRoot/assets/img/xs/avatar1.jpg" class="rounded-circle avatar" alt="">
                                            </td>
                                            <td>
                                                <h6 class="mb-0">Marshall Nichols</h6>
                                            </td>
                                            <td><span>LA-0214</span></td>
                                            <td><span>Casual Leave</span></td>
                                            <td>24 July, 2022 to 26 July, 2022</td>
                                            <td>Going to Family Function</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-default" title="Approved"><i class="fa fa-check"></i></button>
                                                <button type="button" class="btn btn-sm btn-default" title="Declined"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="width45">                                           
                                                <img src="@@webRoot/assets/img/xs/avatar2.jpg" class="rounded-circle avatar" alt="">
                                            </td>
                                            <td>
                                                <h6 class="mb-0">Maryam Amiri</h6>
                                            </td>
                                            <td><span>LA-0215</span></td>
                                            <td><span>Casual Leave</span></td>
                                            <td>21 July, 2022 to 26 July, 2022</td>
                                            <td>Attend Birthday party</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-default" title="Approved"><i class="fa fa-check"></i></button>
                                                <button type="button" class="btn btn-sm btn-default" title="Declined"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="width45">                                           
                                                <img src="@@webRoot/assets/img/xs/avatar3.jpg" class="rounded-circle avatar" alt="">
                                            </td>
                                            <td>
                                                <h6 class="mb-0">Gary Camara</h6>
                                            </td>
                                            <td><span>LA-0124</span></td>
                                            <td><span>Medical Leave</span></td>
                                            <td>20 July, 2022 to 26 July, 2022</td>
                                            <td>Going to Development</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-default" title="Approved"><i class="fa fa-check"></i></button>
                                                <button type="button" class="btn btn-sm btn-default" title="Declined"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="width45">                                           
                                                <img src="@@webRoot/assets/img/xs/avatar4.jpg" class="rounded-circle avatar" alt="">
                                            </td>
                                            <td>
                                                <h6 class="mb-0">Frank Camly</h6>
                                            </td>
                                            <td><span>LA-0218</span></td>
                                            <td><span>Casual Leave</span></td>
                                            <td>11 Aug, 2022 to 21 Aug, 2022</td>
                                            <td>Going to Holiday</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-default" title="Approved"><i class="fa fa-check"></i></button>
                                                <button type="button" class="btn btn-sm btn-default" title="Declined"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="width45">                                           
                                                <img src="@@webRoot/assets/img/xs/avatar10.jpg" class="rounded-circle avatar" alt="">
                                            </td>
                                            <td>
                                                <h6 class="mb-0">Maryam Amiri</h6>
                                            </td>
                                            <td><span>LA-0215</span></td>
                                            <td><span>Casual Leave</span></td>
                                            <td>21 July, 2022 to 26 July, 2022</td>
                                            <td>Attend Birthday party</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-default" title="Approved"><i class="fa fa-check"></i></button>
                                                <button type="button" class="btn btn-sm btn-default" title="Declined"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="width45">                                           
                                                <img src="@@webRoot/assets/img/xs/avatar8.jpg" class="rounded-circle avatar" alt="">
                                            </td>
                                            <td>
                                                <h6 class="mb-0">Gary Camara</h6>
                                            </td>
                                            <td><span>LA-0124</span></td>
                                            <td><span>Medical Leave</span></td>
                                            <td>20 July, 2022 to 26 July, 2022</td>
                                            <td>Going to Development</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-default" title="Approved"><i class="fa fa-check"></i></button>
                                                <button type="button" class="btn btn-sm btn-default" title="Declined"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row end  -->

            </div>
        </div>

        <!-- start: page footer -->
		@@include('_page-footer.html')

    </div>

    <!-- Modal: Create project -->
	@@include('_modal-create-project.html')

	<!-- Modal: my notes -->
	@@include('_modal-my-notes.html')

	<!-- Modal: Schedule -->
	@@include('_modal-my-schedule.html')

	<!-- Modal: RecentChat -->
	@@include('_modal-recent-chat.html')

	<!-- Modal: Setting -->
	@@include('_modal-theme-setting.html')

<!-- Jquery Page Js -->
@@include('_scripts.html',{
    "dataTables":true,
})
<script>
    $('.myDataTable')
    .addClass( 'nowrap' )
    .dataTable( {
        responsive: true,
    });
</script>
</body>
</html>