<!DOCTYPE html>
<html lang="en">
<head>
    @@include('_head.html',{
        "pageTitle": "HRMS Trip",
        "dataTables": true,
    })
</head>

<body class="layout-1" data-luno="theme-black">

	<!-- start: sidebar -->
	@@include('sidebar/_sidebar-hrms.html', {"page": "hr-trip"})

	<!-- start: body area -->
    <div class="wrapper">

		<!-- start: page header -->
		@@include('_page-header.html')

        <!-- start: page toolbar -->
        <div class="page-toolbar px-xl-4 px-sm-2 px-0 py-3">
            <div class="container-fluid">

                <div class="row g-3 mb-3 align-items-center">
                    <div class="col">
                        <ol class="breadcrumb bg-transparent mb-0">
                            <li class="breadcrumb-item"><a class="text-secondary" href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-secondary" href="#">HR</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Trip overview</li>
                        </ol>
                    </div>
                </div> <!-- .row end -->
                @@include('widgets/_page-stats.html')

            </div>
        </div>

        <!-- Body: Body -->
        <div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-0 mt-lg-3">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title m-0">Trip overview</h6>
                                @@include('widgets/_card-action.html')
                            </div>
                            <div class="card-body">
                                <table class="table myDataTable table-hover align-middle mb-0 card-table">
                                    <thead>
                                        <tr>
                                            <th>No. of People</th>
                                            <th>Trip Advisor</th>
                                            <th>Location</th>
                                            <th>Date</th>
                                            <th>Number of Day</th>
                                            <th>Cost</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>125</td>
                                            <td><img class="rounded-circle avatar sm me-2" src="@@webRoot/assets/img/xs/avatar1.jpg" alt="">Joseph</td>
                                            <td><a class="me-2 p-1" href="#" data-bs-toggle="tooltip" title="Trip Location"><i class="fa fa-map-marker"></i></a> Thunder Bay, ON, Canada</td>
                                            <td>22 Dec 2020</td>
                                            <td>4 Night, 5 Days</td>
                                            <td><span class="badge bg-dark">$2,980</span></td>
                                            <td class="text-end">
                                                <div class="btn-group">
                                                    <button class="btn btn-sm btn-link dropdown-toggle after-none" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></button>
                                                    <ul class="dropdown-menu border-0 shadow p-2 dropdown-menu-end">
                                                        <li><a class="dropdown-item py-2 rounded" href="#">Action</a></li>
                                                        <li><a class="dropdown-item py-2 rounded" href="#">Another action</a></li>
                                                        <li><a class="dropdown-item py-2 rounded" href="#">Something else here</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>100</td>
                                            <td><img class="rounded-circle avatar sm me-2" src="@@webRoot/assets/img/xs/avatar2.jpg" alt="">Robert</td>
                                            <td><a class="me-2 p-1" href="#" data-bs-toggle="tooltip" title="Trip Location"><i class="fa fa-map-marker"></i></a> Cairngorms National Park, United Kingdom</td>
                                            <td>22 Dec 2020</td>
                                            <td>4 Night, 5 Days</td>
                                            <td><span class="badge bg-dark">$2,300</span></td>
                                            <td class="text-end">
                                                <div class="btn-group">
                                                    <button class="btn btn-sm btn-link dropdown-toggle after-none" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></button>
                                                    <ul class="dropdown-menu border-0 shadow p-2 dropdown-menu-end">
                                                        <li><a class="dropdown-item py-2 rounded" href="#">Action</a></li>
                                                        <li><a class="dropdown-item py-2 rounded" href="#">Another action</a></li>
                                                        <li><a class="dropdown-item py-2 rounded" href="#">Something else here</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>114</td>
                                            <td><img class="rounded-circle avatar sm me-2" src="@@webRoot/assets/img/xs/avatar3.jpg" alt="">Orlando</td>
                                            <td><a class="me-2 p-1" href="#" data-bs-toggle="tooltip" title="Trip Location"><i class="fa fa-map-marker"></i></a> Thunder Bay, ON, Canada</td>
                                            <td>22 Dec 2020</td>
                                            <td>4 Night, 5 Days</td>
                                            <td><span class="badge bg-dark">$2,500</span></td>
                                            <td class="text-end">
                                                <div class="btn-group">
                                                    <button class="btn btn-sm btn-link dropdown-toggle after-none" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></button>
                                                    <ul class="dropdown-menu border-0 shadow p-2 dropdown-menu-end">
                                                        <li><a class="dropdown-item py-2 rounded" href="#">Action</a></li>
                                                        <li><a class="dropdown-item py-2 rounded" href="#">Another action</a></li>
                                                        <li><a class="dropdown-item py-2 rounded" href="#">Something else here</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>108</td>
                                            <td><img class="rounded-circle avatar sm me-2" src="@@webRoot/assets/img/xs/avatar1.jpg" alt="">Joseph</td>
                                            <td><a class="me-2 p-1" href="#" data-bs-toggle="tooltip" title="Trip Location"><i class="fa fa-map-marker"></i></a> 2700 North, Folkston, GA 31537, USA</td>
                                            <td>22 Dec 2020</td>
                                            <td>4 Night, 5 Days</td>
                                            <td><span class="badge bg-dark">$3,800</span></td>
                                            <td class="text-end">
                                                <div class="btn-group">
                                                    <button class="btn btn-sm btn-link dropdown-toggle after-none" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></button>
                                                    <ul class="dropdown-menu border-0 shadow p-2 dropdown-menu-end">
                                                        <li><a class="dropdown-item py-2 rounded" href="#">Action</a></li>
                                                        <li><a class="dropdown-item py-2 rounded" href="#">Another action</a></li>
                                                        <li><a class="dropdown-item py-2 rounded" href="#">Something else here</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>129</td>
                                            <td><img class="rounded-circle avatar sm me-2" src="@@webRoot/assets/img/xs/avatar3.jpg" alt="">Orlando</td>
                                            <td><a class="me-2 p-1" href="#" data-bs-toggle="tooltip" title="Trip Location"><i class="fa fa-map-marker"></i></a> Abu Dhabi - United Arab Emirates</td>
                                            <td>22 Dec 2020</td>
                                            <td>4 Night, 5 Days</td>
                                            <td><span class="badge bg-dark">$4,780</span></td>
                                            <td class="text-end">
                                                <div class="btn-group">
                                                    <button class="btn btn-sm btn-link dropdown-toggle after-none" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></button>
                                                    <ul class="dropdown-menu border-0 shadow p-2 dropdown-menu-end">
                                                        <li><a class="dropdown-item py-2 rounded" href="#">Action</a></li>
                                                        <li><a class="dropdown-item py-2 rounded" href="#">Another action</a></li>
                                                        <li><a class="dropdown-item py-2 rounded" href="#">Something else here</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>125</td>
                                            <td><img class="rounded-circle avatar sm me-2" src="@@webRoot/assets/img/xs/avatar1.jpg" alt="">Joseph</td>
                                            <td><a class="me-2 p-1" href="#" data-bs-toggle="tooltip" title="Trip Location"><i class="fa fa-map-marker"></i></a> Taj Mahal, Agra, India</td>
                                            <td>16 Sept 2020</td>
                                            <td>6 Night, 7 Days</td>
                                            <td><span class="badge bg-dark">$8,000</span></td>
                                            <td class="text-end">
                                                <div class="btn-group">
                                                    <button class="btn btn-sm btn-link dropdown-toggle after-none" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></button>
                                                    <ul class="dropdown-menu border-0 shadow p-2 dropdown-menu-end">
                                                        <li><a class="dropdown-item py-2 rounded" href="#">Action</a></li>
                                                        <li><a class="dropdown-item py-2 rounded" href="#">Another action</a></li>
                                                        <li><a class="dropdown-item py-2 rounded" href="#">Something else here</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>102</td>
                                            <td><img class="rounded-circle avatar sm me-2" src="@@webRoot/assets/img/xs/avatar3.jpg" alt="">Orlando</td>
                                            <td><a class="me-2 p-1" href="#" data-bs-toggle="tooltip" title="Trip Location"><i class="fa fa-map-marker"></i></a> Eiffel Tower, 75007 Paris, France</td>
                                            <td>11 Nov 2020</td>
                                            <td>2 Night, 3 Days</td>
                                            <td><span class="badge bg-dark">$2,450</span></td>
                                            <td class="text-end">
                                                <div class="btn-group">
                                                    <button class="btn btn-sm btn-link dropdown-toggle after-none" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></button>
                                                    <ul class="dropdown-menu border-0 shadow p-2 dropdown-menu-end">
                                                        <li><a class="dropdown-item py-2 rounded" href="#">Action</a></li>
                                                        <li><a class="dropdown-item py-2 rounded" href="#">Another action</a></li>
                                                        <li><a class="dropdown-item py-2 rounded" href="#">Something else here</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row end  -->

            </div>
        </div>

        <!-- start: page footer -->
		@@include('_page-footer.html')

    </div>

    <!-- Modal: Create project -->
	@@include('_modal-create-project.html')

	<!-- Modal: my notes -->
	@@include('_modal-my-notes.html')

	<!-- Modal: Schedule -->
	@@include('_modal-my-schedule.html')

	<!-- Modal: RecentChat -->
	@@include('_modal-recent-chat.html')

	<!-- Modal: Setting -->
	@@include('_modal-theme-setting.html')

<!-- Jquery Page Js -->
@@include('_scripts.html',{
    "dataTables":true,
})
<script>
    $('.myDataTable')
    .addClass( 'nowrap' )
    .dataTable( {
        responsive: true,
    });
</script>
</body>
</html>