<!DOCTYPE html>
<html lang="en">
<head>
    @@include('_head.html',{
        "pageTitle": "eCommerce Checkout",
    })
</head>

<body class="layout-1" data-luno="theme-blue">

	<!-- start: sidebar -->
	@@include('sidebar/_sidebar-ecommerce.html', {"page": "checkout"})

	<!-- start: body area -->
    <div class="wrapper">

		<!-- start: page header -->
		@@include('_page-header.html')

        <!-- start: page toolbar -->
        <div class="page-toolbar px-xl-4 px-sm-2 px-0 py-3">
            <div class="container-fluid">

                <div class="row g-3 mb-3 align-items-center">
                    <div class="col">
                        <ol class="breadcrumb bg-transparent mb-0">
                            <li class="breadcrumb-item"><a class="text-secondary" href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                        </ol>
                    </div>
                </div> <!-- .row end -->
                <div class="row align-items-center">
                    <div class="col-auto">
                        <h1 class="fs-5 color-900 mt-1 mb-0">Welcome back, Allie!</h1>
                        <small class="text-muted">You have 12 new messages and 7 new notifications.</small>
                    </div>
                    <div class="col d-flex justify-content-lg-end mt-2 mt-md-0">
                        <div class="p-2 me-md-3">
                            <div><span class="h6 mb-0">8.18K</span> <small class="text-secondary"><i class="fa fa-angle-up"></i> 1.3%</small></div>
                            <small class="text-muted text-uppercase">Income</small>
                        </div>
                        <div class="p-2 me-md-3">
                            <div><span class="h6 mb-0">1.11K</span> <small class="text-secondary"><i class="fa fa-angle-up"></i> 4.1%</small></div>
                            <small class="text-muted text-uppercase">Expense</small>
                        </div>
                        <div class="p-2 pe-lg-0">
                            <div><span class="h6 mb-0">3.66K</span> <small class="text-danger"><i class="fa fa-angle-down"></i> 7.5%</small></div>
                            <small class="text-muted text-uppercase">Revenue</small>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- start: page body -->
        <div class="page-body px-xl-4 px-sm-2 px-0 py-lg-2 py-1 mt-0 mt-lg-3">
            <div class="container-fluid">

                <div class="row g-3">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title mb-0">Shipping information</h6>
                                @@include('widgets/_card-action.html')
                            </div>
                            <div class="card-body">
                                <div class="row g-3 row-deck">
                                    <div class="col-md-6">
                                        <div>
                                            <div class="d-flex align-items-center fs-5 mb-3">
                                                <div class="avatar rounded-circle no-thumbnail"><i class="fa fa-user"></i></div>
                                                <div class="flex-fill ms-2 text-truncate">
                                                    <div class="h6 mb-0">Fidel Tonn</div>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center fs-5 mb-3">
                                                <div class="avatar rounded-circle no-thumbnail"><i class="fa fa-map-marker"></i></div>
                                                <div class="flex-fill ms-2 text-truncate">
                                                    <div class="h6 mb-0">134 Oakmound Road, Chicago, 60653</div>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center fs-5">
                                                <div class="avatar rounded-circle no-thumbnail"><i class="fa fa-phone"></i></div>
                                                <div class="flex-fill ms-2 text-truncate">
                                                    <div class="h6 mb-0">773-268-2525</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-success d-block w-100">
                                            <i class="fa fa-bus fs-3 d-block mb-3"></i>
                                            <span class="fs-5">Standard</span>
                                        </button>
                                    </div>
                                    <div class="col-md-3">                                                
                                        <button type="button" class="btn btn-success d-block w-100">
                                            <i class="fa fa-plane fs-3 d-block mb-3"></i>
                                            <span class="fs-5">1 Days</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- .Card end -->
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title mb-0">Review items (6)</h6>
                                @@include('widgets/_card-action.html')
                            </div>
                            <div class="card-body">
                                <div class="row g-3 row-deck">
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div class="d-flex align-items-center fs-5 mb-3">
                                            <div class="rounded no-thumbnail"><img class="img-fluid" src="@@webRoot/assets/img/ecommerce/4.png" width="60" alt=""></div>
                                            <div class="ms-2">
                                                <div class="h6 mb-2">Bag</div>
                                                <div class="h6 mb-0 text-success">$19.49 X 2 = <strong>$38.98</strong></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div class="d-flex align-items-center fs-5 mb-3">
                                            <div class="rounded no-thumbnail"><img class="img-fluid" src="@@webRoot/assets/img/ecommerce/5.png" width="60" alt=""></div>
                                            <div class="ms-2">
                                                <div class="h6 mb-2">Water Bottel</div>
                                                <div class="h6 mb-0 text-success">$49.99 X 1 = <strong>$49.99</strong></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div class="d-flex align-items-center fs-5 mb-3">
                                            <div class="rounded no-thumbnail"><img class="img-fluid" src="@@webRoot/assets/img/ecommerce/6.png" width="60" alt=""></div>
                                            <div class="ms-2">
                                                <div class="h6 mb-2">Wooden</div>
                                                <div class="h6 mb-0 text-success">$22.00 X 1 = <strong>$22.00</strong></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div class="d-flex align-items-center fs-5 mb-3">
                                            <div class="rounded no-thumbnail"><img class="img-fluid" src="@@webRoot/assets/img/ecommerce/1.png" width="60" alt=""></div>
                                            <div class="ms-2">
                                                <div class="h6 mb-2">Light</div>
                                                <div class="h6 mb-0 text-success">$89.99 X 2 = <strong>$179.89</strong></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div class="d-flex align-items-center fs-5 mb-3">
                                            <div class="rounded no-thumbnail"><img class="img-fluid" src="@@webRoot/assets/img/ecommerce/2.png" width="60" alt=""></div>
                                            <div class="ms-2">
                                                <div class="h6 mb-2">Chair</div>
                                                <div class="h6 mb-0 text-success">$25.00 X 2 = <strong>$50.00</strong></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div class="d-flex align-items-center fs-5 mb-3">
                                            <div class="rounded no-thumbnail"><img class="img-fluid" src="@@webRoot/assets/img/ecommerce/3.png" width="60" alt=""></div>
                                            <div class="ms-2">
                                                <div class="h6 mb-2">Clock</div>
                                                <div class="h6 mb-0 text-success">$11.49 X 2 = <strong>$22.98</strong></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- .Card end -->
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title mb-0">Payment Details</h6>
                                @@include('widgets/_card-action.html')
                            </div>
                            <div class="card-body">
                                <div class="row g-3">
                                    <div class="col-lg-6 col-md-12 col-sm-12">
                                        <h6 class="mb-3">Card Detail</h6>
                                        <form class="row">
                                            <div class="col-12">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text"><i class="fa fa-credit-card"></i></span>
                                                    <input type="number" class="form-control" placeholder="Credit Card Number">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                    <input type="number" class="form-control" placeholder="MM/YY">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                                    <input type="number" class="form-control" placeholder="CVV">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                                    <input type="text" class="form-control" placeholder="Name on Card">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table align-middle text-end table-borderless">
                                                <tbody>
                                                    <tr>
                                                        <td class="text-muted">Total</td>
                                                        <td>$363.93</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-muted">Discount</td>
                                                        <td>$30.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-muted">Delivery Charges</td>
                                                        <td>$50.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-muted">Tax</td>
                                                        <td>$10.00</td>
                                                    </tr>
                                                    <tr class="border-top fs-5">
                                                        <td><strong>Payable Amount</strong></td>
                                                        <td><strong>$453.93</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <button class="btn btn-success btn-lg px-5 fs-5 me-5">Pay Now</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- .Card end -->
                    </div>
                </div> <!-- .row end -->

            </div>
        </div>

        <!-- start: page footer -->
		@@include('_page-footer.html')

    </div>

    <!-- Modal: Create project -->
	@@include('_modal-create-project.html')

	<!-- Modal: my notes -->
	@@include('_modal-my-notes.html')

	<!-- Modal: Schedule -->
	@@include('_modal-my-schedule.html')

	<!-- Modal: RecentChat -->
	@@include('_modal-recent-chat.html')

	<!-- Modal: Setting -->
	@@include('_modal-theme-setting.html')

<!-- Jquery Page Js -->
@@include('_scripts.html',{

})
</body>
</html>