<div class="section @@sectionClass">
    <div class="container">

        <div class="row g-3 mb-4">
            <div class="col-lg-4 col-md-6 col-12">
                <h3 class="mb-1 fw-bold color-900">LUNO</h3>
                <p>Start building your creative website with our awesome template Massive.</p>
                <ul class="mt-3 fs-6 lh-lg">
                    <li><span>Address:</span> 555 Wall Street, NY, USA</li>
                    <li><span>Email:</span> example@ttm.com</li>
                    <li><span>Call:</span> 123-456-1818</li>
                </ul>
            </div>
            <div class="col-lg-8 col-12">
                <div class="row g-3">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <h5 class="mb-4 color-900">Company</h5>
                        <ul class="lh-lg">
                            <li><a class="color-600" target="_blank" href="@@webRoot/index.html">Dashboard</a></li>
                            <li><a class="color-600" target="_blank" href="https://www.thememakker.com/about/">About Us</a></li>
                            <li><a class="color-600" target="_blank" href="https://www.thememakker.com/services/">Services</a></li>
                            <li><a class="color-600" target="_blank" href="https://www.thememakker.com/hire-us/">Hire us</a></li>
                            <li><a class="color-600" target="_blank" href="https://www.thememakker.com/all-templates/">Templates</a></li>
                            <li><a class="color-600" target="_blank" href="https://www.thememakker.com/licenses/">licenses</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <h5 class="mb-4 color-900">Admin</h5>
                        <ul class="lh-lg">
                            <li><a class="color-600" href="@@webRoot/crypto/index.html">Cryptocurrency</a></li>
                            <li><a class="color-600" href="@@webRoot/fitness/index.html">Fitness Analytics</a></li>
                            <li><a class="color-600" href="@@webRoot/hospital/index.html">Hospital Management</a></li>
                            <li><a class="color-600" href="@@webRoot/hrms/index.html">HR & Project</a></li>
                            <li><a class="color-600" href="@@webRoot/restaurant/index.html">Restaurant & Cafe</a></li>
                            <li><a class="color-600" href="@@webRoot/university/index.html">School / University</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12">
                        <h5 class="mb-4 color-900">Join Our Newsletter</h5>
                        <p class="text-muted">Subscribe to get the latest jobs posted, candidates...</p>
                        <form>
                            <div class="form-floating mb-1">
                                <input type="email" class="form-control rounded" placeholder="name@example.com">
                                <label>Enter email address</label>
                            </div>
                            <button type="button" class="btn btn-block btn-primary">Subscribe Now!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- .row end -->

        <div class="row g-3 border-top pt-3">
            <div class="col-lg-6 col-md-12 text-center text-lg-start">
                <span>© 2022 <a href="https://www.thememakker.com/" rel="nofollow" target="_blank">ThemeMakker</a>. All Rights Reserved.</span>
            </div>
            <div class="col-lg-6 col-md-12 text-center text-lg-end">
                <ul class="list-unstyled d-flex justify-content-center justify-content-lg-end mb-0">
                    <li><a class="p-2 ms-2" href="#">Facebook</a></li>
                    <li><a class="p-2 ms-2" href="#">Dribbble</a></li>
                    <li><a class="p-2 ms-2" href="#">Twitter</a></li>
                </ul>
            </div>
        </div> <!-- .row end -->

    </div>
</div>