<div class="card @@cardClass">
    <div class="card-body">
        <div class="row @@rowClass">
            <div class="col">
                <div class="card border-0 bg-transparent">
                    <div class="card-body">
                        <h2 class="display-4 fw-bold chart-text-color1">@@funFact1</h2>
                        <h6 class="mb-0 text-uppercase">@@funFactLabel1</h6>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 bg-transparent">
                    <div class="card-body">
                        <h2 class="display-4 fw-bold chart-text-color2">@@funFact2</h2>
                        <h6 class="mb-0 text-uppercase">@@funFactLabel2</h6>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 bg-transparent">
                    <div class="card-body">
                        <h2 class="display-4 fw-bold chart-text-color3">@@funFact3</h2>
                        <h6 class="mb-0 text-uppercase">@@funFactLabel3</h6>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 bg-transparent">
                    <div class="card-body">
                        <h2 class="display-4 fw-bold chart-text-color4">@@funFact4</h2>
                        <h6 class="mb-0 text-uppercase">@@funFactLabel4</h6>
                    </div>
                </div>
            </div>
        </div> <!-- .row end -->
    </div>
</div>