<li class="nav-item me-2"><a class="nav-link active" href="index.html">Home</a></li>
<li class="nav-item me-2"><a class="nav-link" href="#about">About Us</a></li>
<li class="nav-item me-2"><a class="nav-link" href="#services">Services</a></li>
<li class="nav-item me-2"><a class="nav-link" href="#departments">Departments</a></li>
<li class="nav-item me-2"><a class="nav-link" href="#doctors">Doctors</a></li>
@@include('onepage/_common-h-menu.html',{
    "dashboardURL": "@@webRoot/hospital/index.html"
})

